<%- include('../includes/head.ejs',{ 
    username: username, 
    permisos: permisos, 
    rol: rol 
}) %>

<section class='section'>
    <input type="hidden" id="horarioConfirmado" value="<%= confirmacion %>">
    <% if (periodoExistente == 0) { %>
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="box">
                    <p class="has-text-weight-medium has-text-black">
                        Tus materias todavía no están listas. Via Diseño se encuentra trabajando en tu propuesta de
                        horario. Estate atento, porque cuando estén listas tus materias se encontrarán en este mismo
                        espacio. Por favor contacta a tu coordinador si crees que esto sea un error.
                        ¡Gracias por tu comprensión!
                    </p>
                </div>
            </div>
        </div>
    <% } else { %>
    <% if (confirmacion === 1) { %>
        <label class="label is-large has-text-danger has-text-weight-semibold">
            MATERIAS INSCRITAS:
            Ciclo <%= periodo.Nombre %>
        </label>
    <% } else { %>
        <label class="label is-medium has-text-danger has-text-weight-semibold">CONFIRMAR MATERIAS</label>
    <% } %>
    <br>
    <% if (confirmacion === 1) { %>
        <% if (schedule[0].length === 0) { %>
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="box">
                    <p class="has-text-weight-medium has-text-black">
                        Tus materias no se encuentran disponibles actualmente. Por favor intenta más tarde o contacta a
                        tu coordinador.
                    </p>
                </div>
            </div>
        </div>
        <% } else { %>
            <div class="table-container">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="text-align: left;">
                                <span class="icon is-small">
                                    <i class="fa-solid fa-book"></i>
                                </span>
                                Materia
                            </th>
                            <th style="text-align: left;">
                                <span class="icon is-small">
                                    <i class="fa-regular fa-user"></i>
                                </span>
                                Profesor
                            </th>
                            <th style="text-align: left;">
                                <span class="icon is-small">
                                    <i class="fa-regular fa-clock"></i>
                                </span>
                                Horario
                            </th>
                            <th style="text-align: left;">
                                <span class="icon is-small">
                                    <i class="fa-regular fa-building"></i>
                                </span>
                                Salón
                            </th>
                            <th style="text-align: left;">
                                <span class="icon is-small">
                                    <i class="fas fa-graduation-cap"></i>
                                </span>
                                Créditos
                            </th>
                            <th style="text-align: left;">
                                <span class="icon is-small">
                                    <i class="fa-solid fa-tags"></i>
                                </span>
                                Costo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let count = 0; count < schedule[0].length; count++) { %>
                            <tr>
                                <td>
                                    <strong>
                                        <%= schedule[0][count].Nombre %>
                                    </strong>
                                </td>
                                <td><%= schedule[0][count].Profesor %></td>
                                <td>
                                    <%- schedule[0][count].Horario.replace(/, /g, '<br>') %>
                                    <br>
                                    <br>
                                </td>
                                <td style="padding-top: 0.7em;"><%= schedule[0][count].Salon %></td>
                                <td>
                                    <span class="tag is-size-6" style="background-color: #ddf5e5;">
                                        <span style="color: #21c85b">
                                            <%= schedule[0][count].Creditos.toLocaleString('mx', {
                                                        minimumFractionDigits: 1, maximumFractionDigits: 1
                                                    }) %>
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    $<%= schedule[0][count].Precio_materia.toLocaleString('mx', {
                                                minimumFractionDigits: 2, maximumFractionDigits: 2
                                            }) %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="columns">
                <div class="column is-8"></div>
                <div class="column">
                    <div class="box">
                        <% if (porcBeca || credito != 0) { %>
                        <div class="columns is-mobile">
                            <div class="column is-6">
                                <p class="has-text-black has-text-weight-medium">
                                    Subtotal
                                </p>
                            </div>
                            <div class="column is-6">
                                <p class="has-text-black">
                                    <span class="has-text-weight-bold">
                                        $<%= precioTotal.toLocaleString('mx', { minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2 }) %>
                                    </span>
                                    <span class="has-text-weight-light is-size-7">
                                        MXN
                                    </span>
                                </p>
                            </div>
                        </div>
                        <% if (porcBeca) { %>
                        <div class="columns is-mobile" style="margin-top: -2em;">
                            <div class="column is-6">
                                <p class="has-text-weight-medium has-text-black">
                                    Porcentaje de Beca
                                </p>
                            </div>
                            <div class="column is-6">
                                <p class="has-text-black has-text-weight-medium">
                                    <%= porcBeca %>%
                                </p>
                            </div>
                        </div>
                        <% } %>
                        <% if (credito != 0) { %>
                        <div class="columns is-mobile" style="margin-top: -2em;">
                            <div class="column is-6">
                                <p class="has-text-weight-medium has-text-black">
                                    Crédito
                                </p>
                            </div>
                            <div class="column is-6">
                                <p class="has-text-black">
                                    <span class="has-text-weight-semibold">
                                        -$<%= credito.toLocaleString('mx', { minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2 }) %>
                                    </span>
                                    <span class="has-text-weight-light is-size-7">
                                        MXN
                                    </span>
                                </p>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                        <div class="columns is-mobile">
                            <div class="column is-6">
                                <strong>
                                    <p class="has-text-danger has-text-weight-semibold">
                                        COSTO TOTAL
                                    </p>
                                </strong>
                            </div>
                            <div class="column is-6">
                                <% let precioFinal = precioTotal - (precioTotal * (porcBeca / 100)) - credito %>
                                <p class="has-text-danger">
                                    <span class=" has-text-weight-bold">
                                        $<%= precioFinal.toLocaleString('mx', { minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2 }) %>
                                    </span>
                                    <span class="has-text-weight-light is-size-7">
                                        MXN
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
    <% if (confirmacion != 1) { %>
        <% if (schedule.length === 0) { %>
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="box">
                    <p class="has-text-weight-medium has-text-black">
                        Tus materias todavía no están listas. Via Diseño se encuentra trabajando en tu propuesta de
                        horario. Estaté atento, porque cuando esten listas tus materias se encontrarán en este mismo
                        espacio. Por favor contacta a tu coordinador si crees que esto sea un error.
                        ¡Gracias por tu comprensión!
                    </p>
                </div>
            </div>
        </div>
        <% } else { %>
        <form action="/horario/confirmar_horario" method="POST">
            <div class="columns">
                <div class="column">
                    <div class="box">
                        <p class="has-text-weight-medium has-text-black">
                            ¡Bienvenido a ViaPago!
                            En esta sección puedes consultar las materias que tienes inscritas para el semestre en
                            curso.
                            También podrás elegir entre los distintos planes de pagos, para que elijas el que más
                            te acomoda. Por favor revisa las materias y su costo cautelosamente para evitar cambios
                            innecesarios. Si no estás conforme con la propuesta, por favor contacta a tu coordinador,
                            para que los cambios necesarios se puedan aplicar. ¡Gracias!
                        </p>
                    </div>

                    <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                        Por favor verifica que el idioma de tu navegador sea <strong>español mexicano</strong>, ya que otros 
                        idiomas pueden afectar el cálculo de los totales de tus fichas o el costo total de tu semestre.
                    </div>

                </div>
            </div>
            <br>
            <label class="label is-medium has-text-danger has-text-weight-semibold" for="IDPlanPago">ESCOGE PLAN DE
                PAGO</label>
            <div class="columns">
                <div class="column is-3">
                    <div class="select is-medium">
                        <select name="IDPlanPago" id="IDPlanPago">
                            <% for (let plan of planesPago) { %>
                                <option value="<%= plan.IDPlanPago %>"
                                        data-nombre="<%= plan.nombrePlan %>"
                                        data-num="<%= plan.numeroPagos %>"
                                        <% if (plan.numeroPagos === 6) { %> selected <% } %> >
                                    <%= plan.nombrePlan %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    
                </div>
                <div class="column" id="column_table1">
                    <div class="table-container">
                        <table class="table is-hoverable is-fullwidth is-hidden" id="table_1">
                            <thead>
                                <tr>
                                    <th class="has-text-weight-semibold" style="text-align: left;">#</th>
                                    <th class="has-text-weight-semibold" style="text-align: left;">Total</th>
                                    <th class="has-text-weight-semibold" style="text-align: left;">Fecha Límite de Pago
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table_1_body">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column" id="column_table2">
                    <div class="table-container">
                        <table class="table is-hoverable is-fullwidth is-hidden" id="table_2">
                            <thead>
                                <tr>
                                    <th class="has-text-weight-semibold" style="text-align: left;">#</th>
                                    <th class="has-text-weight-semibold" style="text-align: left;">Total</th>
                                    <th class="has-text-weight-semibold" style="text-align: left;">Fecha Límite de Pago
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table_2_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
            <div class="box is-hidden" id="informacionMateria">
                <label class="label is-medium has-text-danger has-text-weight-semibold">IMPORTANTE</label>
                <p class="has-text-weight-medium">
                    Por favor agrega al menos una materia para poder confirmar tu horario.
                </p>
            </div>
            <div class="columns" id="materiasPorConfirmar">
                <div class="column">
                    <label class="label is-medium has-text-danger has-text-weight-semibold">CONSULTA TUS MATERIAS</label>
                    <div class="table-container">
                        <table class="table is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-book"></i>
                                        </span>
                                        Materia
                                    </th>
                                    <th style="text-align: left;">
                                        <span class="icon is-small">
                                        <i class="fa-regular fa-user"></i>
                                        </span>
                                        Profesor
                                    </th>
                                    <th style="text-align: left;">
                                        <span class="icon is-small">
                                            <i class="fa-regular fa-clock"></i>
                                        </span>
                                        Horario
                                    </th>
                                    <th style="text-align: left;">
                                        <span class="icon is-small">
                                            <i class="fa-regular fa-building"></i>
                                        </span>
                                        Salón
                                    </th>
                                    <th style="text-align: left;">
                                        <span class="icon is-small">
                                            <i class="fas fa-graduation-cap"></i>
                                        </span>
                                        Créditos
                                    </th>
                                    <th style="text-align: left;">
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-tags"></i>
                                        </span>
                                        Costo
                                    </th>
                                    <th style="text-align: left;">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody id="table_confirmar">
                                <% for (let count = 0; count < schedule.length; count++) { %>
                                    <tr id="tablaMaterias<%=count%>">
                                        <input type="hidden" id="id<%=count%>" name="idMateria[]" value="<%= schedule[count].idMateria %>">
                                        <input type="hidden" id="profesor<%=count%>" name="nombreProfesorCompleto[]"
                                            value="<%= schedule[count].nombreProfesorCompleto %>">
                                        <input type="hidden" id="salon<%=count%>" name="salon[]"
                                            value="<%= schedule[count].nombreSalon %>">
                                        <input type="hidden" id="fechaInicio<%=count%>" name="fechaInicio[]"
                                            value="<%= schedule[count].startDateFormat %>">
                                        <input type="hidden" id="fechaFin<%=count%>" name="fechaFin[]"
                                            value="<%= schedule[count].endDateFormat %>">
                                        <input type="hidden" id="materia<%=count%>"
                                            value="<%= schedule[count].nombreMat %>">
                                        <input type="hidden" id="creditos<%=count%>" value="<%= schedule[count].creditos %>">
                                        <input type="hidden" id="idGrupo<%=count%>" name="idGrupo[]"
                                            value="<%= schedule[count].idGrupo %>">
                                        <input type="hidden" id="precio<%=count%>" value="<%=
                                            schedule[count].precioMateria.toLocaleString('mx', {
                                                minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>">
                                        <td>
                                            <strong>
                                                <%= schedule[count].nombreMat %>
                                            </strong>
                                        </td>
                                        <td><%= schedule[count].nombreProfesorCompleto %></td>
                                        <td>
                                            <input type="hidden" name="grupoHorario[]" id="horario<%=count%>"
                                                value="<%= JSON.stringify(schedule[count].horarios) %> ">
                                            <input type="hidden" id="horarioTexto<%=count%>"
                                                value="<% for (let i = 0; i < schedule[count].horarios.length; i++) { %>
                                                <%= schedule[count].horarios[i].diaSemana %>
                                                <%= schedule[count].horarios[i].fechaInicio %> -
                                                <%= schedule[count].horarios[i].fechaTermino %>
                                                <br>
                                                <% } %>
                                                <br>">
                                            <% for (let i = 0; i < schedule[count].horarios.length; i++) { %>
                                                <%= schedule[count].horarios[i].diaSemana %>
                                                <%= schedule[count].horarios[i].fechaInicio %> -
                                                <%= schedule[count].horarios[i].fechaTermino %>
                                                <br>
                                            <% } %>
                                            <br>
                                        </td>
                                        <td style="padding-top: 0.7em;">
                                            <%= schedule[count].nombreSalon%>
                                        </td>
                                        <td>
                                            <span class="tag is-size-6" style="background-color: #ddf5e5;">
                                                <span style="color: #21c85b">
                                                    <%= schedule[count].creditos %>
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            $<%=
                                            schedule[count].precioMateria.toLocaleString('mx', {
                                                minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                        </td>
                                        <td style="text-align: center;">
                                            <button type="button" id="btnEliminar<%=count%>"
                                                class="tag is-size-6 btn-eliminar-materia"
                                                style="background-color: #f6d5d8;" onclick="eliminar('<%=count%>')">
                                                <span class="icon is-small" style="color: #f83362">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </span>
                                            </button>                
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div id="materiasEliminadasContainer" class="is-hidden">
                        <label class="label is-medium has-text-danger has-text-weight-semibold">MATERIAS ELIMINADAS</label>
                        <div class="table-container">
                            <table class="table is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">
                                            <span class="icon is-small">
                                                <i class="fa-solid fa-book"></i>
                                            </span>
                                            Materia
                                        </th>
                                        <th style="text-align: left;">
                                            <span class="icon is-small">
                                                <i class="fa-regular fa-user"></i>
                                            </span>
                                            Profesor
                                        </th>
                                        <th style="text-align: left;">
                                            <span class="icon is-small">
                                                <i class="fas fa-graduation-cap"></i>
                                            </span>
                                            Créditos
                                        </th>
                                        <th style="text-align: left;">
                                            <span class="icon is-small">
                                                <i class="fa-solid fa-tags"></i>
                                            </span>
                                            Costo
                                        </th>
                                        <th style="text-align: left;">Agregar</th>
                                    </tr>
                                </thead>
                                <tbody id="table_eliminados">
                                </tbody>                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half is-offset-6">
                <div class="column is-flex is-flex-direction-column is-justify-content-flex-end">
                    <div class="box">
                        <% if (porcBeca || credito != 0) { %>
                            <div class="columns is-mobile">
                                <div class="column is-6">
                                    <p class="has-text-black has-text-weight-medium">
                                        Subtotal
                                    </p>
                                </div>
                                <div class="column is-6">
                                    <p class="has-text-black">
                                        <span class="has-text-weight-bold" id="subtotal">
                                            $<%= precioTotal.toLocaleString('mx', { minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2 }) %>
                                        </span>
                                        <span class="has-text-weight-light is-size-7">
                                            MXN
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <% if (porcBeca) { %> 
                                <div class="columns is-mobile" style="margin-top: -2em;">
                                    <div class="column is-6">
                                        <p class="has-text-weight-medium has-text-black">
                                            Porcentaje de Beca
                                        </p>
                                    </div>
                                    <div class="column is-6">
                                        <p class="has-text-black has-text-weight-medium">
                                            <%= porcBeca %>%
                                        </p>
                                    </div>
                                </div>
                            <% } %>
                            <% if (credito != 0) { %> 
                                <div class="columns is-mobile" style="margin-top: -2em;">
                                    <div class="column is-6">
                                        <p class="has-text-weight-medium has-text-black">
                                            Crédito
                                        </p>
                                    </div>
                                    <div class="column is-6">
                                        <p class="has-text-black">
                                            <span class="has-text-weight-semibold">
                                                -$<%= credito.toLocaleString('mx', { minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2 }) %>
                                            </span>
                                            <span class="has-text-weight-light is-size-7">
                                                MXN
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                        <div class="columns is-mobile">
                            <div class="column is-6">
                                <strong>
                                    <p class="has-text-danger has-text-weight-semibold">
                                        COSTO TOTAL
                                    </p>
                                </strong>
                            </div>
                            <div class="column is-6">
                                <% let precioFinal = precioTotal - (precioTotal * (porcBeca / 100)) - credito %>
                                <input type="hidden" id="porcBeca" value="<%= porcBeca %>">
                                <p class="has-text-danger">
                                    <span class="has-text-weight-bold" id="precioFinalModificado">
                                        $<%= precioFinal.toLocaleString('mx', { minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2 }) %>
                                    </span>
                                    <span class="has-text-weight-light is-size-7">
                                        MXN
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="confirmar-button is-responsive" type="submit"
                        style="font-size: large; padding-left: 1.5em;"
                        id="Boton_confirmar">
                        <span>CONFIRMAR MATERIAS</span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <% } %>
        <% } %>
    <% } %>
</section>
<script type="text/javascript" src="/js/consultarHorario.js"></script>
<%- include('../includes/foot.ejs') %>