<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    input:focus {
        border: 2px solid #5a6581 !important
    }

    input:hover {
        border: 2px solid #910106 !important;
    }

    input {
        border: 2px solid #7c7f80 !important;
    }

    .columns.is-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .columns.is-flex .column {
        display: flex;
        flex-direction: column;
    }

    .columns.is-flex .box {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start; /* Align content to the top */
    }
</style>

<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-1">
                    <a id="Boton_regresar" class="is-responsive"
                        href="/alumnos/fetch_datos">
                        <span class="icon">
                            <i class="fas fa-arrow-left fa-2x"></i>
                        </span>
                    </a>
                </div>
                <div class="column">
                    <label
                        class="label is-large has-text-danger has-text-weight-semibold">
                        ALUMNO: 
                        <br>
                        <%= alumnoConsulta[0].Nombre %>
                        <%= alumnoConsulta[0].Apellidos %> -
                        <%= alumnoConsulta[0].Matricula %>
                    </label>
                </div>
                <% if (contienePermiso(permisos, 'Registrar Pago Manual') == true) { %>
                    <div class="column">
                        <form method="POST" action="/pagos/fetch_registrar_pago_manual">
                            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" value="<%= alumnoConsulta[0].Matricula %>" name="buscar">
                            <p class="control">
                                <button class="button is-responsive" style="font-size: large;" type="submit">
                                    <span class="icon is-large">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </span>
                                    <span>
                                        Registrar Pago Manual
                                    </span>
                                </button>
                            </p>
                        </form>
                    </div>
                <% } %>
            </div>

            <!-- datos personales -->

            <div id="modificacion_datos" class="notification is-hidden"
                style="background-color: #5a6581; color:#ffffff;">
                ¡Datos modificados! Recargando página...
            </div>
            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="alumno" id="alumno" value="<%= alumnoConsulta[0].Matricula %>">
            <div class="columns is-flex is-align-items-stretch" id="topinfo">
                <% if (alumnoConsulta[0].Matricula.startsWith('1')) { %>
                <div class="column">
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">PLAN DE ESTUDIOS</p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <%= alumnoConsulta[0].planEstudio %></p>
                    </div>
                </div>
                <div class="column">
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">CICLO ESCOLAR</p>
                        <p class="has-text-black has-text-weight-bold is-size-5"><%= periodo.Nombre %></p>
                        <p class="has-text-grey has-text-weight-medium">CRÉDITO ACTUAL</p>
                        <p class="has-text-black has-text-weight-bold is-size-5 is-flex is-align-items-center"
                            style="justify-content:center !important;">
                            <span class="has-text-weight-bold">
                                $<%= creditoAlumno.toLocaleString('mx', { minimumFractionDigits: 2,
                                    maximumFractionDigits: 2 }) %>
                            </span>
                            <span class="has-text-weight-light is-size-7 px-2">
                                MXN
                            </span>
                            <% if (creditoAlumno > 0) { %>
                            <button type="button"
                                    id="Boton_eliminar"
                                    class="js-modal-trigger tag is-size-6 btn-eliminar-materia"
                                    style="background-color: #f6d5d8;"
                                    data-target="modal-confirmar-eliminar_credito<%= alumnoConsulta[0].Matricula %>">
                                <span class="icon is-small" style="color: #f83362">
                                    <i class="fa-solid fa-trash-can"></i>
                                </span>
                            </button>

                            <div id="modal-confirmar-eliminar_credito<%= alumnoConsulta[0].Matricula %>" class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title" style="text-align: center;">
                                            <label class="label is-large has-text-danger has-text-weight-semibold">
                                                ELIMINAR CRÉDITO DEL ALUMNO
                                            </label>
                                        </p>
                                        <button class="delete" aria-label="delete"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="is-size-5" style="text-align: center;">
                                            <strong>¡Esta acción no se puede deshacer!</strong>
                                        </p>
                                        <br>
                                        <p class="is-size-5" style="text-align: center;">
                                            Los datos a borrar son los siguientes:
                                        </p>
                                        <br>
                                        <br>
                                        <div style="text-align: center;">
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Alumno: </strong>
                                                <%= alumnoConsulta[0].Nombre %> <%= alumnoConsulta[0].Apellidos %>
                                            </p>
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Crédito: </strong>
                                                $<%= creditoAlumno.toLocaleString('mx', { minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2 }) %>
                                            </p>
                                        </div>
                                        </section>

                                        <footer class="modal-card-foot" style="justify-content: center;">
                                            <div class="field is-grouped">
                                                <p class="control">
                                                    <button class="button is-medium is-responsive" aria-label="close"
                                                        style="font-size: large; margin: 8px 2px;
                                                                padding-right: 5px; padding-left: 10px;">
                                                        <span class="icon is-large">
                                                            <i class="fa-solid fa-circle-chevron-left" style="color: #ffffff;"></i>
                                                        </span>
                                                        <span>REGRESAR</span>
                                                    </button>
                                                </p>
                                                <p class="control">
                                                    <button class="button is-medium is-responsive"
                                                        onclick="eliminarCredito('<%= alumnoConsulta[0].Matricula %>')"
                                                        style="font-size: large; margin: 8px 2px; background-color: #000000;
                                                                padding-right: 5px; padding-left: 10px;">
                                                        <span class="icon is-large">
                                                            <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                                        </span>
                                                        <span>ELIMINAR</span>
                                                    </button>
                                                </p>
                                        </footer>
                                    </div>
                                </div>
                            <% } %>
                        </p>
                    </div>
                </div>
                <div class="column">
                    <p id="ayuda_beca_vacia" class="help is-hidden has-text-danger-dark ayuda-beca-vacia"
                        style="padding: 0.5em;">El porcentaje de beca no puede estar vacío. Si no deseas aplicar una beca, escribe 0</p>
                    <p id="ayuda_beca_negativa" class="help is-hidden has-text-danger-dark ayuda-beca-negativa"
                        style="padding: 0.5em;">El porcentaje de beca no puede ser negativo</p>
                    <p id="ayuda_beca_exponente" class="help is-hidden has-text-danger-dark ayuda-beca-exponente"
                        style="padding: 0.5em;">El porcentaje de beca no puede tener exponentes</p>
                    <p id="ayuda_beca_rango" class="help is-hidden has-text-danger-dark ayuda-beca-exponente"
                        style="padding: 0.5em;">El porcentaje de beca no puede ser mayor a 100</p>
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">% DE BECA</p>
                        <% if (contienePermiso(permisos, 'Modificar Datos Alumno') == true) { %>
                            <input id="beca" name="beca"
                                class="input has-text-black has-text-weight-bold is-size-5" type="number" step="any"
                                value="<%= alumnoConsulta[0].porcBeca %>">
                        <% } else {%>
                            <p class="has-text-black has-text-weight-bold is-size-5">
                                <%= alumnoConsulta[0].porcBeca %></p>
                        <% } %>
                    </div>
                </div>
                <% } else { %>
                <div class="column">
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">DIPLOMADO</p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <% if (alumnoDiplomadoActual[0].length != 0) { %>
                            <%= alumnoDiplomadoActual[0][0].nombreDiplomado %>
                            <% } else { %>
                            No se encuentra cursando un diplomado
                            <% } %>
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">FECHA INSCRIPCIÓN</p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <%= alumnoConsulta[0].fechaInscripcion %></p>
                    </div>
                </div>
                <% } %>
                <div class="column">
                    <p id="ayuda_ref_vacia" class="help is-hidden has-text-danger-dark ayuda-ref-vacia"
                        style="padding: 0.5em;">Por favor escribe una referencia bancaria</p>
                    <p id="ayuda_ref_negativa" class="help is-hidden has-text-danger-dark ayuda-ref-negativa"
                        style="padding: 0.5em;">La referencia bancaria no puede ser negativa</p>
                    <p id="ayuda_ref_exponente" class="help is-hidden has-text-danger-dark ayuda-ref-exponente"
                        style="padding: 0.5em;">La referencia bancaria no puede tener exponentes</p>
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">REFERENCIA BANCARIA</p>
                        <% if (contienePermiso(permisos, 'Modificar Datos Alumno') == true) { %>
                            <input id="ref" name="ref" class="input has-text-black has-text-weight-bold is-size-5"
                                type="number" step="any" value="<%= alumnoConsulta[0].referenciaBancaria %>">
                        <% } else { %>
                            <p class="has-text-black has-text-weight-bold is-size-5">
                                <%= alumnoConsulta[0].referenciaBancaria %></p>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-3">
                <div class="button is-flex-direction-column" style="margin-top: -0.1em;">
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                                <span class="is-size-5">
                                    Realizar Descarga
                                </span>
                                <span class="icon" style="padding-right: 0.5em; font-size: 1.5em;">
                                    <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu" style="text-align: left;">
                            <div class="dropdown-content">
                                <% if(matricula[0] == '1') { %>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_deuda" class="download-checkbox">
                                    <label class="checkbox">
                                        Estado de Cuenta
                                    </label>
                                </div>
                                <% } %>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_pagos" class="download-checkbox">
                                    <label class="checkbox">
                                        <% if(matricula[0] == '1') { %>
                                            Historial Colegiatura
                                        <% } else { %>
                                            Historial Diplomado
                                        <% } %>
                                    </label>
                                </div>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_solicitudes" class="download-checkbox">
                                    <label class="checkbox">
                                        Solicitudes Pendientes
                                    </label>
                                </div>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_pagosExtra" class="download-checkbox">
                                    <label class="checkbox">
                                        Historial Otros Pagos
                                    </label>
                                </div>
                                <% if(matricula[0] == '1') { %>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_materias" class="download-checkbox">
                                    <label class="checkbox">
                                        Materias
                                    </label>
                                </div>
                                <% } %>
                                <hr class="dropdown-divider">
                                <div class="dropdown-item">
                                    <!-- Botón que se muestra por defecto -->
                                    <button class="button is-primary" id="downloadButton" disabled>
                                        <span>Descargar PDF</span>
                                        <span class="icon is-large">
                                            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                                        </span>
                                    </button>
                                    <!-- Enlace oculto hasta elegir algo -->
                                    <a onclick="downloadPDF('<%= matricula %>')" class="button is-primary is-hidden" id="downloadLink">
                                        <span>Descargar PDF</span>
                                        <span class="icon is-large">
                                            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                

                <% if (contienePermiso(permisos, 'Modificar Datos Alumno') == true) { %>
                <div class="column is-4 is-offset-5">
                    <button id="Boton_modificar" type="submit" class="confirmar-button is-responsive"
                        style="font-size: large; padding-right: 1.5em;" onclick="modificar()">
                        <span class="icon is-large"><i class="fa-solid fa-floppy-disk"></i></span>
                        <span>GUARDAR CAMBIOS</span>
                    </button>
                </div>
                <% } %>
            </div>

            <!-- menú de tabs -->
            <div class="columns">
                <div class="column is-full"></div>
            </div>
            <div class="container containerConsultarAlumno">
                <div class="tabs is-centered is-boxed is-fullwidth">
                    <ul>
                        <% if (alumnoConsulta[0].Matricula.startsWith('8')) { %>
                        <li class="is-active" id="nav_pagos_Diplomado">
                            <a onclick="muestra_pagos_diplomado()">
                                <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                                <span>Historial Diplomado</span>
                            </a>
                        </li>
                        <% } %>
                        <% if (alumnoConsulta[0].Matricula.startsWith('1')) { %>
                            <li class="is-active" id="nav_estado">
                                <a onclick="muestra_estado_de_cuenta()">
                                    <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                                    <span>Estado de Cuenta</span>
                                </a>
                            </li>
                            <li id="nav_historial_pagos">
                                <a onclick="muestra_historial_de_pagos()">
                                    <span class="icon is-small"><i class="fa-solid fa-timeline"></i></span>
                                    <span>Historial Colegiatura</span>
                                </a>
                            </li>
                            <% } %>
                            <li id="nav_pagos_Otros">
                                <a onclick="muestra_otros_cargos()">
                                    <span class="icon is-small"><i class="fa-solid fa-clock-rotate-left"></i></span>
                                    <span>Historial Otros Pagos</span>
                                </a>
                            </li>
                            <li id="nav_solicitudes">
                                <a onclick="muestra_solicitudes()">
                                    <span class="icon is-small"><i class="fa-solid fa-list-ul"></i></span>
                                    <span>Solicitudes Pendientes</span>
                                </a>
                            </li>
                        <% if (alumnoConsulta[0].Matricula.startsWith('1')) { %>
                            <li id="nav_horario">
                                <a onclick="muestra_horario()">
                                    <span class="icon is-small"><i class="fa-solid fa-calendar-week"></i></span>
                                    <span>Materias</span>
                                </a>
                            </li>
                        <% } %>

                    </ul>
                </div>
            
                <div id="solicitudes" class="is-hidden">
                    <% if (pagosExtra.length != 0) { %> 
                        <% let countOtros = 5 %>
                        <% pagosExtra.forEach(pagosExtra => { %>
                            <% if (countOtros % 5 == 0) { %>
                                <div class="columns">
                            <% } %>
                            <% countOtros++ %>
                            <div class="column">
                                <table class="table ficha-table is-fullwidth">
                                    <tr>
                                        <td style="padding: 5px 15px">
                                            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                                MOTIVO
                                            </p>
                                            <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                                <%= pagosExtra.motivoPago %>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 15px">
                                            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                                MONTO
                                            </p>
                                            <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                                $<%= pagosExtra.montoPagar.toLocaleString('mx', {
                                                                minimumFractionDigits: 2,
                                                                maximumFractionDigits: 2
                                                            }) %>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <% if (countOtros % 5 == 0) { %>
                                </div>
                            <% } %>
                        <% }); %>
                        <% if (countOtros % 5 != 0) { %>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="box">
                            <p class="has-text-weight-medium has-text-black">
                                Este alumno no cuenta con solicitudes de pago pendientes. Para dar de alta una solicitud de pago, 
                                por favor haz click <a href="/pagos/solicitudes">aquí</a>.
                            </p>
                        </div>
                    <% } %>
                </div>

                <div id="extras" class="is-hidden">
                    <% if (pagadosExtra.length != 0) { %>
                        <div id="eliminacionPE" class="notification is-hidden"
                            style="background-color: #5a6581; color:#ffffff;">
                            ¡Pago eliminado! Recargando página...
                        </div>
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Monto</th>
                                <th style="text-align: left;">Fecha</th>
                                <th style="text-align: left;">Motivo</th>
                                <th style="text-align: left;">Método</th>
                                <th style="text-align: left;">Nota</th>
                                <% if (contienePermiso(permisos, 'Eliminar Pago') == true) { %>
                                <th style="text-align: left;">Eliminar</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% pagadosExtra.forEach(pagadosExtra => { %>
                            <tr data-id="<%= pagadosExtra.IDLiquida %>">
                                <td>
                                    $<%= pagadosExtra.montoPagar.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %>
                                </td>
                                <td>
                                    <%= pagadosExtra.fechaPago %>
                                </td>
                                <td>
                                    <%= pagadosExtra.motivoPago %>
                                </td>
                                <td>
                                    <%= pagadosExtra.metodoPago %>
                                </td>
                                <td>
                                    <%= pagadosExtra.Nota %>
                                </td>
                                <% if (contienePermiso(permisos, 'Eliminar Pago') == true) { %>
                                <td>
                                    <div class="column" style="text-align: center;">
                                        <button type="button" id="Boton_eliminar"
                                            class="js-modal-trigger tag is-size-6 btn-eliminar-materia"
                                            style="background-color: #f6d5d8;" 
                                            data-target="modal-confirmar-eliminar_pagos_extra<%= pagadosExtra.IDLiquida %>">
                                            <span class="icon is-small" style="color: #f83362">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </span>
                                        </button>    
                                    </div>
                                </td>
                                <% } %>
                            </tr>

                            <div id="modal-confirmar-eliminar_pagos_extra<%= pagadosExtra.IDLiquida %>" class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title" style="text-align: center;">
                                            <label class="label is-large has-text-danger has-text-weight-semibold">
                                                ELIMINAR PAGO DE OTROS PAGOS
                                            </label>
                                        </p>
                                        <button class="delete" aria-label="delete"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="is-size-5" style="text-align: center;">
                                            <strong>¡Esta acción no se puede deshacer!</strong>
                                        </p>
                                        <br>
                                        <p class="is-size-5" style="text-align: center;">
                                            Los datos del pago a eliminar son los siguientes:
                                        </p>
                                        <br>
                                        <br>
                                        <div style="text-align: center;">
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Monto: </strong>
                                                $<%= pagadosExtra.montoPagar.toLocaleString('mx', {
                                                    minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2
                                                }) %>
                                            </p>
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Fecha: </strong><%= pagadosExtra.fechaPago %>
                                            </p>
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Motivo: </strong><%= pagadosExtra.motivoPago %>
                                            </p>
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Método: </strong><%= pagadosExtra.metodoPago %>
                                            </p>
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Nota: </strong>
                                                <%= pagadosExtra.Nota %>
                                            </p>
                                        </div>
                                        </section>

                                        <footer class="modal-card-foot" style="justify-content: center;">
                                            <div class="field is-grouped">
                                                <p class="control">
                                                    <button class="button is-medium is-responsive" aria-label="close"
                                                        style="font-size: large; margin: 8px 2px; 
                                                                padding-right: 5px; padding-left: 10px;">
                                                        <span class="icon is-large">
                                                            <i class="fa-solid fa-circle-chevron-left" style="color: #ffffff;"></i>
                                                        </span>
                                                        <span>REGRESAR</span>
                                                    </button>
                                                </p>
                                                <p class="control">
                                                    <button class="button is-medium is-responsive"
                                                        onclick="eliminarPagoExtra('<%= pagadosExtra.IDLiquida %>')"
                                                        style="font-size: large; margin: 8px 2px; background-color: #000000;
                                                                padding-right: 5px; padding-left: 10px;">
                                                        <span class="icon is-large">
                                                            <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                                        </span>
                                                        <span>ELIMINAR</span>
                                                    </button>
                                                </p>
                                        </footer>
                                    </div>
                                </div>
                            <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                    <div class="box">
                        <p class="has-text-weight-medium has-text-black">
                            Este alumno todavía no ha pagado ningún pago de tipo Otros Pagos.
                        </p>
                    </div>
                    <% } %>
                </div>

                <% if (alumnoConsulta[0].Matricula.startsWith('8')) { %>
                    <div id="pagosdipl">
                        <% if (pagosDiplomado.length != 0) { %>
                            <div id="eliminacionDip" class="notification is-hidden"
                            style="background-color: #5a6581; color:#ffffff;">
                            ¡Pago eliminado! Recargando página...
                        </div>
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">Monto</th>
                                        <th style="text-align: left;">Diplomado</th>
                                        <th style="text-align: left;">Fecha</th>
                                        <th style="text-align: left;">Motivo</th>
                                        <th style="text-align: left;">Método</th>
                                        <th style="text-align: left;">Nota</th>
                                        <% if (contienePermiso(permisos, 'Eliminar Pago') == true) { %>
                                        <th style="text-align: left;">Eliminar</th>
                                        <% } %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% pagosDiplomado.forEach(pagos => { %>
                                    <tr>
                                        <td>
                                            $<%= pagos.montoPagado.toLocaleString('mx', {
                                                                    minimumFractionDigits: 2,
                                                                    maximumFractionDigits: 2
                                                                }) %>
                                        </td>
                                        <td>
                                            <%= pagos.nombreDiplomado %>
                                        </td>
                                        <td>
                                            <%= pagos.fechaPago %>
                                        </td>
                                        <td>
                                            <%= pagos.Motivo %>
                                        </td>
                                        <td>
                                            <%= pagos.metodoPago %>
                                        </td>
                                        <td>
                                            <%= pagos.Nota %>
                                        </td>
                                        <% if (contienePermiso(permisos, 'Eliminar Pago') == true) { %>
                                        <td>
                                            <div class="column" style="text-align: center;">
                                                <button type="button" id="Boton_eliminar"
                                                    class="js-modal-trigger tag is-size-6 btn-eliminar-materia"
                                                    style="background-color: #f6d5d8;" 
                                                    data-target="modal-confirmar-eliminar_dip<%= pagos.IDPagaDiplomado %>">
                                                    <span class="icon is-small" style="color: #f83362">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </span>
                                                </button>    
                                            </div>
                                        </td>
                                        <% } %>
                                    </tr>

                                    <div id="modal-confirmar-eliminar_dip<%= pagos.IDPagaDiplomado %>" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title" style="text-align: center;">
                                                    <label class="label is-large has-text-danger has-text-weight-semibold">
                                                        ELIMINAR PAGO DE DIPLOMADO
                                                    </label>
                                                </p>
                                                <button class="delete" aria-label="delete"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <p class="is-size-5" style="text-align: center;">
                                                    <strong>¡Esta acción no se puede deshacer!</strong>
                                                </p>
                                                <br>
                                                <p class="is-size-5" style="text-align: center;">
                                                    Los datos del pago a eliminar son los siguientes:
                                                </p>
                                                <br>
                                                <br>
                                                <div style="text-align: center;">
                                                    <p class="is-size-5" style="text-align: center;">
                                                        <strong>Monto: </strong>
                                                        $<%= pagos.montoPagado.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %>
                                                    </p>
                                                    <p class="is-size-5" style="text-align: center;">
                                                        <strong>Diplomado: </strong><%= pagos.nombreDiplomado %>
                                                    </p>
                                                    <p class="is-size-5" style="text-align: center;">
                                                        <strong>Fecha: </strong><%= pagos.fechaPago %>
                                                    </p>
                                                    <p class="is-size-5" style="text-align: center;">
                                                        <strong>Motivo: </strong><%= pagos.Motivo %>
                                                    </p>
                                                    <p class="is-size-5" style="text-align: center;">
                                                        <strong>Método: </strong><%= pagos.metodoPago %>
                                                    </p>
                                                    <p class="is-size-5" style="text-align: center;">
                                                        <strong>Nota: </strong>
                                                        <%= pagos.nota %>
                                                    </p>
                                                </div>
                                            </section>

                                            <footer class="modal-card-foot" style="justify-content: center;">
                                                <div class="field is-grouped">
                                                    <p class="control">
                                                        <button class="button is-medium is-responsive" aria-label="close"
                                                            style="font-size: large; margin: 8px 2px; 
                                                                    padding-right: 5px; padding-left: 10px;">
                                                            <span class="icon is-large">
                                                                <i class="fa-solid fa-circle-chevron-left" style="color: #ffffff;"></i>
                                                            </span>
                                                            <span>REGRESAR</span>
                                                        </button>
                                                    </p>
                                                    <p class="control">
                                                        <button class="button is-medium is-responsive"
                                                            onclick="eliminarPagoDip('<%= pagos.IDPagaDiplomado %>')"
                                                            style="font-size: large; margin: 8px 2px; background-color: #000000;
                                                                    padding-right: 5px; padding-left: 10px;">
                                                            <span class="icon is-large">
                                                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                                            </span>
                                                            <span>ELIMINAR</span>
                                                        </button>
                                                    </p>
                                            </footer>
                                        </div>
                                    </div>
                                    <% }) %>
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="box">
                                <p class="has-text-weight-medium has-text-black">
                                    Este alumno todavía no ha pagado ningún diplomado. 
                                </p>
                            </div>
                        <% } %>
                    </div>

                <% } else if (alumnoConsulta[0].Matricula.startsWith('1')) { %>
                    <div id="historial" class="is-hidden">
                         <% if (pagos.length != 0) { %>
                            <div id="eliminacionCol" class="notification is-hidden"
                            style="background-color: #5a6581; color:#ffffff;">
                            ¡Pago eliminado! Recargando página...
                        </div>
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">Monto</th>
                                        <th style="text-align: left;">Fecha</th>
                                        <th style="text-align: left;">Motivo</th>
                                        <th style="text-align: left;">Método</th>
                                        <th style="text-align: left;">Nota</th>
                                        <% if (contienePermiso(permisos, 'Eliminar Pago') == true) { %>
                                        <th style="text-align: left;">Eliminar</th>
                                        <% } %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% pagos.forEach(pagos => { %>
                                            <tr data-id="<%= pagos.IDPago %>">
                                                <td>
                                                    $<%= pagos.montoPagado.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %>
                                                </td>
                                                <td>
                                                    <%= pagos.fechaPago %>
                                                </td>
                                                <td>
                                                    <%= pagos.motivo %>
                                                </td>
                                                <td>
                                                    <%= pagos.metodoPago %>
                                                </td>
                                                <td>
                                                    <%= pagos.nota %>
                                                </td>
                                                <% if (contienePermiso(permisos, 'Eliminar Pago') == true) { %>
                                                <td>
                                                    <div class="column" style="text-align: center;">
                                                        <button type="button" id="Boton_eliminar"
                                                            class="js-modal-trigger tag is-size-6 btn-eliminar-materia"
                                                            style="background-color: #f6d5d8;" 
                                                            data-target="modal-confirmar-eliminar_col<%= pagos.IDPago %>">
                                                            <span class="icon is-small" style="color: #f83362">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </span>
                                                        </button>    
                                                    </div>
                                                </td>
                                                <% } %>
                                            </tr>

                                            <div id="modal-confirmar-eliminar_col<%= pagos.IDPago %>" class="modal">
                                                <div class="modal-background"></div>
                                                <div class="modal-card">
                                                    <header class="modal-card-head">
                                                        <p class="modal-card-title" style="text-align: center;">
                                                            <label class="label is-large has-text-danger has-text-weight-semibold">
                                                                ELIMINAR PAGO DE COLEGIATURA
                                                            </label>
                                                        </p>
                                                        <button class="delete" aria-label="delete"></button>
                                                    </header>
                                                    <section class="modal-card-body">
                                                        <p class="is-size-5" style="text-align: center;">
                                                            <strong>¡Esta acción no se puede deshacer!</strong>
                                                        </p>
                                                        <br>
                                                        <p class="is-size-5" style="text-align: center;">
                                                            Los datos del pago a eliminar son los siguientes:
                                                        </p>
                                                        <br>
                                                        <br>
                                                        <div style="text-align: center;">
                                                            <p class="is-size-5" style="text-align: center;">
                                                                <strong>Monto: </strong>
                                                                $<%= pagos.montoPagado.toLocaleString('mx', {
                                                                    minimumFractionDigits: 2,
                                                                    maximumFractionDigits: 2
                                                                }) %>
                                                            </p>
                                                            <p class="is-size-5" style="text-align: center;">
                                                                <strong>Fecha: </strong><%= pagos.fechaPago %>
                                                            </p>
                                                            <p class="is-size-5" style="text-align: center;">
                                                                <strong>Motivo: </strong><%= pagos.motivo %>
                                                            </p>
                                                            <p class="is-size-5" style="text-align: center;">
                                                                <strong>Método: </strong><%= pagos.metodoPago %>
                                                            </p>
                                                            <p class="is-size-5" style="text-align: center;">
                                                                <strong>Nota: </strong>
                                                                <%= pagos.nota %>
                                                            </p>
                                                        </div>
                                                    </section>

                                                    <footer class="modal-card-foot" style="justify-content: center;">
                                                        <div class="field is-grouped">
                                                            <p class="control">
                                                                <button class="button is-medium is-responsive" aria-label="close"
                                                                    style="font-size: large; margin: 8px 2px; 
                                                                            padding-right: 5px; padding-left: 10px;">
                                                                    <span class="icon is-large">
                                                                        <i class="fa-solid fa-circle-chevron-left" style="color: #ffffff;"></i>
                                                                    </span>
                                                                    <span>REGRESAR</span>
                                                                </button>
                                                            </p>
                                                            <p class="control">
                                                                <button class="button is-medium is-responsive"
                                                                    onclick="eliminarPagoCol('<%= pagos.IDPago %>')"
                                                                    style="font-size: large; margin: 8px 2px; background-color: #000000;
                                                                            padding-right: 5px; padding-left: 10px;">
                                                                    <span class="icon is-large">
                                                                        <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                                                    </span>
                                                                    <span>ELIMINAR</span>
                                                                </button>
                                                            </p>
                                                    </footer>
                                                </div>
                                            </div>
                                    <% }) %>
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="box">
                                <p class="has-text-weight-medium has-text-black">
                                    Este alumno no ha realizado ningún pago de su colegiatura actual. 
                                </p>
                            </div>
                        <% } %>
                    </div>
            
                    <div id="horario" class="is-hidden">
                        <div id="diplomados_activos" class="container">
                            <% if (error) { %>
                                <div id="errorNotification" class="notification is-danger">
                                    Este alumno aún no ha confirmado sus materias.
                                </div>
                            <% } %>

                            <!-- HORARIO EMPIEZA AQUI  -->

                            <% if(confirmacion){%>
                            <%}%>
                            <% if(confirmacion === 1){%>
                            <% if (schedule[0].length === 0) { %>
                            <div class="box">
                                <p class="has-text-weight-medium has-text-black">
                                    Las materias de este alumno no están disponible por el momento. 
                                </p>
                            </div>
                            <% } else { %>
                                <div id="eliminacion" class="notification is-hidden"
                                    style="background-color: #5a6581; color:#ffffff;">
                                    ¡Materia eliminada! Recargando página...
                                </div>

                                <div id="actualizacion" class="notification is-hidden"
                                    style="background-color: #5a6581; color:#ffffff;">
                                    ¡Materias actualizadas! Recargando página...
                                </div>

                                <div id="actualizacionfallida" class="notification is-hidden"
                                    style="background-color: #5a6581; color:#ffffff;">
                                    ¡No se encontraron nuevas materias! Recargando página...
                                </div>

                                <div class="table-container">    
                                    <table class="table is-hoverable is-fullwidth">    
                                    <thead>
                                        <tr>
                                            <th style="text-align: left;">
                                                Materia
                                            </th>
                                            <th style="text-align: left;">
                                                Profesor
                                            </th>
                                            <th style="text-align: left;">
                                                Horario
                                            </th>
                                            <th style="text-align: left;">
                                                Salón
                                            </th>
                                            <th style="text-align: left;">
                                                Créditos
                                            </th>
                                            <th style="text-align: left;">
                                                Costo
                                            </th>
                                            <% if (contienePermiso(permisos, 'Eliminar Materias Alumno') == true) { %>
                                            <th class="eliminar" style="text-align: left;">
                                                Eliminar
                                            </th>                                                
                                            <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>
                            <% for (let grupo of schedule[0]) { %>
                                    <tr>
                                        <td>
                                            <strong>
                                                <%= grupo.Nombre %>
                                            </strong>
                                        </td>
                                        <td><%= grupo.Profesor %></td>
                                        <td>
                                            <%- grupo.Horario.replace(/, /g, '<br>') %>
                                            <br>
                                            <br>
                                        </td>
                                        <td style="padding-top: 0.7em;"><%= grupo.Salon %></td>
                                        <td>
                                            <span class="tag is-size-6" style="background-color: #ddf5e5;">
                                                <span style="color: #21c85b">
                                                    <%= grupo.Creditos.toLocaleString('mx', {
                                                                minimumFractionDigits: 1, maximumFractionDigits: 1
                                                            }) %>
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            $<%= grupo.Precio_materia.toLocaleString('mx', {
                                                        minimumFractionDigits: 2, maximumFractionDigits: 2
                                                    }) %>
                                        </td>

                                        <% if (contienePermiso(permisos, 'Eliminar Materias Alumno') == true) { %>
                                        <td>
                                            <div class="columns is-vcentered">
                                                <div class="column" style="text-align: center;">
                                                    <button type="button" id="Boton_eliminar"
                                                        class="js-modal-trigger tag is-size-6 btn-eliminar-materia"
                                                        style="background-color: #f6d5d8;" 
                                                        data-target="modal-confirmar-dar_baja<%= grupo.IDGrupo %>">
                                                        <span class="icon is-small" style="color: #f83362">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                        </span>
                                                    </button>    
                                                </div>
                                            </div>
                                        </td>
                                        <% } %>
                                        </tr>
            
                                        <div id="modal-confirmar-dar_baja<%= grupo.IDGrupo %>" class="modal">
                                            <div class="modal-background"></div>
                                            <div class="modal-card">
                                                <header class="modal-card-head">
                                                    <p class="modal-card-title" style="text-align: center;">
                                                        <label class="label is-large has-text-danger has-text-weight-semibold">
                                                            DAR DE BAJA MATERIA
                                                        </label>
                                                    </p>
                                                    <button class="delete" aria-label="delete"></button>
                                                </header>
                                                <section class="modal-card-body">
                                                    <p class="is-size-5" style="text-align: center;">
                                                        <strong>¡Esta acción no se puede deshacer!</strong>
                                                    </p>
                                                    <br>
                                                    <p class="is-size-5" style="text-align: center;">
                                                        Los datos de la materia a dar de baja son los siguientes:
                                                    </p>
                                                    <br>
                                                    <br>
                                                    <div style="text-align: center;">
                                                        <p class="is-size-5" style="text-align: center;">
                                                            <strong>Nombre: </strong><%= grupo.Nombre %>
                                                        </p>
                                                        <p class="is-size-5" style="text-align: center;">
                                                            <strong>Profesor: </strong><%= grupo.Profesor %>
                                                        </p>
                                                        <p class="is-size-5" style="text-align: center;">
                                                            <strong>Horario: </strong><%= grupo.Horario %>
                                                        </p>
                                                        <p class="is-size-5" style="text-align: center;">
                                                            <strong>Salón: </strong><%= grupo.Salon %>
                                                        </p>
                                                        <p class="is-size-5" style="text-align: center;">
                                                            <strong>Créditos: </strong>
                                                            <%= grupo.Creditos.toLocaleString('mx', {
                                                                minimumFractionDigits: 1, maximumFractionDigits: 1
                                                            }) %>
                                                        </p>
                                                        <p class="is-size-5" style="text-align: center;">
                                                            <strong>Costo: </strong>
                                                            $<%= grupo.Precio_materia.toLocaleString('mx', {
                                                                minimumFractionDigits: 2, maximumFractionDigits: 2
                                                            }) %>
                                                        </p>
                                                    </div>
                                                </section>


                                                <footer class="modal-card-foot" style="justify-content: center;">
                                                    <div class="field is-grouped is-grouped-multiline">
                                                        <div class="column">
                                                        <p class="control">
                                                            <button class="button is-medium is-responsive"
                                                                aria-label="close" style="font-size: large; margin: 8px 2px; 
                                                                padding-right: 5px; padding-left: 10px;">
                                                                <span class="icon is-large">
                                                                    <i class="fa-solid fa-circle-chevron-left"
                                                                        style="color: #ffffff;"></i>
                                                                </span>
                                                                <span>REGRESAR</span>
                                                            </button>
                                                        </p>
                                                        </div>
                                                        <div class="column">
                                                        <p class="control">
                                                            <button class="button is-medium is-responsive"
                                                                onclick="darDeBajaGrupo('<%= grupo.IDGrupo %>', '<%= alumnoConsulta[0].Matricula %>')"
                                                                style="font-size: large; margin: 8px 2px; background-color: #000000;
                                                                padding-right: 5px; padding-left: 10px;">
                                                                <span class="icon is-large">
                                                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                                                </span>
                                                                <span>DAR DE BAJA SIN RECARGOS</span>
                                                            </button>
                                                        </p>
                                                        </div>
                                                        <div class="column">
                                                        <p class="control">
                                                            <button class="button is-medium is-responsive"
                                                                onclick="darDeBajaGrupo60('<%= grupo.IDGrupo %>', '<%= alumnoConsulta[0].Matricula %>')"
                                                                style="font-size: large; margin: 8px 2px; background-color: #000000;
                                                                padding-right: 5px; padding-left: 10px;">
                                                                <span class="icon is-large">
                                                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                                                </span>
                                                                <span>DAR DE BAJA 60%</span>
                                                            </button>
                                                        </p>
                                                        </div>
                                                        <div class="column">
                                                        <p class="control">
                                                            <button class="button is-medium is-responsive"
                                                                onclick="darDeBajaGrupo100('<%= grupo.IDGrupo %>', '<%= alumnoConsulta[0].Matricula %>')"
                                                                style="font-size: large; margin: 8px 2px; background-color: #000000;
                                                                padding-right: 5px; padding-left: 10px;">
                                                                <span class="icon is-large">
                                                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                                                </span>
                                                                <span>DAR DE BAJA 100%</span>
                                                            </button>
                                                        </p>
                                                        </div>
                                                    </div>
                                                </footer>
                                            </div>
                                        </div>           
                            <% } %>
                                </tr>
                        </tbody>
                        </table>
                        </div>
                            <% } %>
                            <div class="columns">
                                <div class="column is-8"></div>
                                <div class="column">
                                    <p class="control" style="margin-bottom: 50px;">
                                        <button class="confirmar-button is-responsive" 
                                            onclick="actualizarMaterias('<%= alumnoConsulta[0].Matricula %>')"
                                            style="font-size: large; background-color: #000000; padding: 8px 12px; height: auto; width: 100%; text-align: center; line-height: 1.2;">
                                            <span class="icon is-small">
                                                <i class="fa-solid fa-rotate-right" style="color: #ffffff; padding-right: 8px;"></i>
                                            </span>
                                            <span style="color: #ffffff;">ACTUALIZAR</span>
                                        </button>
                                    </p>                                                                                                   
                                    <div class="box">
                                        <% if (alumnoConsulta[0].porcBeca || creditoColegiatura != 0) { %>
                                            <div class="columns is-mobile">
                                                <div class="column is-6">
                                                    <p class="has-text-black has-text-weight-medium">
                                                        Subtotal
                                                    </p>
                                                </div>
                                                <div class="column is-6">
                                                    <p class="has-text-black">
                                                        <span class="has-text-weight-bold">
                                                            $<%= precioTotal.toLocaleString('mx', { minimumFractionDigits: 2,
                                                                            maximumFractionDigits: 2 }) %>
                                                        </span>
                                                        <span class="has-text-weight-light is-size-7">
                                                            MXN
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <% if (alumnoConsulta[0].porcBeca) { %>
                                                <div class="columns is-mobile" style="margin-top: -2em;">
                                                    <div class="column is-6">
                                                        <p class="has-text-weight-medium has-text-black">
                                                            Beca (<%= alumnoConsulta[0].porcBeca %>%)
                                                        </p>
                                                    </div>
                                                    <div class="column is-6">
                                                        <p class="has-text-black">
                                                            <span class="has-text-weight-semibold">
                                                                -$<%= ((alumnoConsulta[0].porcBeca/100) * precioTotal).toLocaleString('mx', { minimumFractionDigits: 2,
                                                                                maximumFractionDigits: 2 })  %>
                                                            </span>
                                                            <span class="has-text-weight-light is-size-7">
                                                                MXN
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <% } %>
                                            <% if (creditoColegiatura != 0) { %>
                                                <div class="columns is-mobile" style="margin-top: -2em;">
                                                    <div class="column is-6">
                                                        <p class="has-text-weight-medium has-text-black">
                                                            Crédito
                                                        </p>
                                                    </div>
                                                    <div class="column is-6">
                                                        <p class="has-text-black">
                                                            <span class="has-text-weight-semibold">
                                                                -$<%= creditoColegiatura.toLocaleString('mx', { minimumFractionDigits: 2,
                                                                                maximumFractionDigits: 2 }) %>
                                                            </span>
                                                            <span class="has-text-weight-light is-size-7">
                                                                MXN
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <% } %>
                                                <% } %>                                             
                            <div class="columns is-mobile">
                                <div class="column is-6">
                                    <strong>
                                        <p class="has-text-danger has-text-weight-semibold">
                                            COSTO TOTAL
                                        </p>
                                    </strong>
                                </div>
                                
                                <div class="column is-6">
                                    <% let precioFinal = precioTotal - (precioTotal * (alumnoConsulta[0].porcBeca / 100)) - creditoColegiatura %>
                                    <p class="has-text-danger">
                                        <span class=" has-text-weight-bold">
                                            $<%= precioFinal.toLocaleString('mx', { minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2 }) %>
                                        </span>
                                        <span class="has-text-weight-light is-size-7">
                                            MXN
                                        </span>
                                    </p>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    
                    <div id="estado_cuenta" class="is-active">        
                        <div id="deuda">
                            <% if (deuda.length != 0) { %> 
                                <div class="table-container">
                                    <table class="table is-fullwidth is-hoverable">
                                        <thead>
                                            <tr>
                                                <th style="text-align: left;">#</th>
                                                <th style="text-align: left;">Pendiente</th>
                                                <th style="text-align: left;">Colegiatura</th>
                                                <th style="text-align: left;">Pagado</th>
                                                <th style="text-align: left;">Recargos</th>
                                                <th style="text-align: left;">Ajuste</th>
                                                <th style="text-align: left;">Fecha Límite de Pago</th>
                                                <th style="text-align: left;">Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% let currentDate = fechaActual %>
                                            <% for (let count = 0; count < deuda.length; count++) { %>
                                            <tr>
                                                <td>Pago #<%= count + 1 %></td>
                                                <td><% if (deuda[count].saldoPendiente < 0) { %>
                                                    $0.00
                                                <% } else { %>
                                                    $<%= deuda[count].saldoPendiente.toLocaleString('mx', {
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2
                                                    }) %>
                                                <% } %></td>
                                                <td>$<%= deuda[count].montoAPagar.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %></td>
                                                <td>$<%= deuda[count].montoPagado.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %></td>
                                                <td>$<%= deuda[count].montoRecargos.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %></td>
                                                <td>
                                                    $<%= deuda[count].Descuento.toLocaleString('mx', {
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2
                                                    }) %>
                                                </td>
                                                <td><%= deuda[count].fechaLimitePago %></td>
                                                <% if (deuda[count].Pagado == 1) { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #ddf5e5;">
                                                        <span class="icon is-small" style="color: #21c85b">
                                                            <i class="fa-solid fa-circle-check"></i>
                                                        </span>
                                                        <span style="color: #21c85b !important;">
                                                            Pagado
                                                        </span>
                                                    </span>
                                                </td>
                                                <% } else if (moment(deuda[count].fechaLimitePago, 'LL').isAfter(currentDate)) { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #fdf2cc">
                                                        <span class="icon is-small" style="color: #fec416">
                                                            <i class="fa-solid fa-clock"></i>
                                                        </span>
                                                        <span style="color: #fec416 !important;">
                                                            Pendiente
                                                        </span>
                                                    </span>
                                                </td>
                                                <% } else { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #f6d5d8">
                                                        <span class="icon is-small" style="color: #f83362">
                                                            <i class="fa-solid fa-circle-xmark"></i>
                                                        </span>
                                                        <span style="color: #f83362 !important;">
                                                            Atrasado
                                                        </span>
                                                    </span>
                                                </td>
                                                <% } %>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            <% } else { %>
                                </label>
                                <div class="box">
                                    <p class="has-text-weight-medium has-text-black">
                                        Este alumno todavía no cuenta con una colegiatura para el periodo actual. Favor de
                                        intentar más tarde.
                                    </p>
                                </div>
                            <% } %>
                            <!-- SALDO -->
                            <div class="columns">
                                <div class="column is-8"></div>
                                <div class="column">
                                    <% if (contienePermiso(permisos, 'Modificar Ficha de Pago/Deuda') == true && matricula[0] == '1') { %>
                                    <form method="POST" action="/alumnos/fichas">
                                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" value="<%= alumnoConsulta[0].Matricula %>" name="buscar">
                                        <p class="control is-clearfix" style="margin-bottom: 10px;">
                                            <button class="confirmar-button is-responsive" 
                                                style="font-size: large; background-color: #000000; padding: 8px 12px; height: auto; width: 100%; text-align: center; line-height: 1.2;">
                                                <span class="icon is-small">
                                                    <i class="fa-solid fa-pen-to-square" style="color: #ffffff; padding-right: 8px;"></i>
                                                </span>
                                                <span style="color: #ffffff;">MODIFICAR FICHAS</span>
                                            </button>
                                        </p>
                                    </form>
                                    <% } %>  
                                    <% if (precioTotal != 0) { %>
                                    <div class="box">
                                    <% if (creditoColegiatura != 0 || alumnoConsulta[0].porcBeca) { %>                                                                                                
                                        <div class="columns is-mobile">
                                            <div class="column is-6">
                                                <p class="has-text-black has-text-weight-medium">
                                                    Subtotal
                                                </p>
                                            </div>
                                            <div class="column is-6">
                                                <p class="has-text-black">
                                                    <span class="has-text-weight-bold">
                                                        $<%= precioTotal.toLocaleString('mx', { minimumFractionDigits: 2,
                                                                            maximumFractionDigits: 2 }) %>
                                                    </span>
                                                    <span class="has-text-weight-light is-size-7">
                                                        MXN
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% if (alumnoConsulta[0].porcBeca) { %>
                                                <div class="columns is-mobile" style="margin-top: -2em;">
                                                    <div class="column is-6">
                                                        <p class="has-text-weight-medium has-text-black">
                                                            Beca (<%= alumnoConsulta[0].porcBeca %>%)
                                                        </p>
                                                    </div>
                                                    <div class="column is-6">
                                                        <p class="has-text-black">
                                                            <span class="has-text-weight-semibold">
                                                                -$<%= ((alumnoConsulta[0].porcBeca/100) * precioTotal).toLocaleString('mx', { minimumFractionDigits: 2,
                                                                                maximumFractionDigits: 2 })  %>
                                                            </span>
                                                            <span class="has-text-weight-light is-size-7">
                                                                MXN
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <% } %>
                                        <% if (creditoColegiatura != 0) { %> 
                                        <div class="columns is-mobile" style="margin-top: -2em;">
                                            <div class="column is-6">
                                                <p class="has-text-weight-medium has-text-black">
                                                    Crédito
                                                </p>
                                            </div>
                                            <div class="column is-6">
                                                <p class="has-text-black">
                                                    <span class="has-text-weight-semibold">
                                                        -$<%= creditoColegiatura.toLocaleString('mx', { minimumFractionDigits: 2,
                                                                        maximumFractionDigits: 2 }) %>
                                                    </span>
                                                    <span class="has-text-weight-light is-size-7">
                                                        MXN
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <% } %> 
                                        <div class="columns is-mobile">
                                            <div class="column is-6">
                                                <strong>
                                                    <p class="has-text-danger has-text-weight-semibold">
                                                        COSTO TOTAL
                                                    </p>
                                                </strong>
                                            </div>
                                            
                                            <div class="column is-6">
                                                <% let precioFinal = precioTotal - (precioTotal * (alumnoConsulta[0].porcBeca / 100)) - creditoColegiatura %>
                                                <p class="has-text-danger">
                                                    <span class=" has-text-weight-bold">
                                                        $<%= precioFinal.toLocaleString('mx', { minimumFractionDigits: 2,
                                                                        maximumFractionDigits: 2 }) %>
                                                    </span>
                                                    <span class="has-text-weight-light is-size-7">
                                                        MXN
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %> 
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
<%- include('../includes/foot.ejs') %>
<script type="text/javascript" src="/js/consultar_alumno.js"></script>
<script type="text/javascript" src="/js/eliminar_pago.js"></script>
<script type="text/javascript" src="/js/modal_popup.js"></script>
<script type="text/javascript" src="/js/boton_regresar.js"></script>