<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-1">
                    <form id="redireccionar" action="/alumnos/datos_alumno" method="POST">
                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="buscar" id="buscar"
                            value="<%= alumno[0].Matricula %>">
                            <a id="Boton_regresar_fichas" type="submit" class="is-responsive">
                                <span class="icon">
                                    <i class="fas fa-arrow-left fa-2x"></i>
                                </span>
                            </a>
                    </form>
                </div>
            <input type="hidden" id="_csrf" value="<%= csrfToken %>">
            <input type="hidden" id="alumno" value="<%= alumno[0].Matricula %>">
                <div class="column is-12">
                    <label
                        class="label is-large has-text-danger has-text-weight-semibold">
                        MODIFICAR FICHAS DE PAGO
                    </label>
                </div>
            </div>

            <p id="fichas_length" class="is-hidden"><%=fichas.length %></p>

            <% if (fichas.length === 0) { %>
            <div class="columns">
                <div class="column is-6">
                    <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                        Actualmente este alumno no tiene deudas recientes. Favor de intentar más tarde.
                    </div>
                </div>
            </div>
            <% } %>

            <table class="table is-bordered is-hoverable is-fullwidth">
                <div id="modificacion_ficha" class="notification is-hidden"
                    style="background-color: #5a6581; color:#ffffff;">
                    <button id="btn_eliminar_estatus" class="delete"></button>
                    ¡Ficha modificada! Recargando página...
                </div>
                <% if (fichas.length > 0) { %>
                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="columns is-vcentered">
                                <div class="column is-1"></div>
                                <div class="column is-5">
                                    <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                    NOMBRE: <%= alumno[0].Nombre %> <%= alumno[0].Apellidos %>
                                    </p>
                                </div>
                                <div class="column is-5">
                                    <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                    MATRÍCULA: <%= alumno[0].Matricula %>
                                    </p>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <% } %>
                <% for (let i = 0; i < fichas.length; i += 2) { %>
                <% let display1 = i + 1; %>
                <% let display2 = i + 2; %>
                <% let ficha1 = fichas[i]; %>
                <% let ficha2 = i + 1 < fichas.length ? fichas[i + 1] : null; %>
                <% let currentDate = fechaActual %>
                <tbody>
                    <tr>
                        <td class="pago-info" style="width: 50%">
                            <div class="columns is-vcentered">
                                <div class="column is-2" style="text-align: center; margin-bottom: -3em;">
                                    <% if (ficha1.Pagado == 1) { %>
                                    <i class="fa-solid fa-circle-check fa-2xl" style="color: #17b585;"></i>
                                    <% } else if (moment(ficha1.fechaLimitePago).isAfter(currentDate)) { %>
                                    <i class="fa-solid fa-clock fa-2xl" style="color: #ffc800;"></i>
                                    <% } else { %>
                                    <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #910106;"></i>
                                    <% } %>
                                </div>
                                <div class="column is-offset-3">
                                    <strong>Pago #<%= display1 %></strong>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column" style="text-align: center;">
                                    <!-- Resto de la información para el primer pago -->
                                    <form action="/alumnos/fichas/modify" method="POST" class="form-modificar">
                                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="alumno" id="alumno"
                                            value="<%= alumno[0].Matricula %>">
                                        <input type="hidden" name="id" value="<%= ficha1.IDDeuda %>">
            
                                        <!-- DEUDA TOTAL -->
                                        <strong>Total: </strong>
                                        <% if (ficha1.Pagado != 1) { %>
                                            <input id="deuda<%=display1%>" name="deuda" class="input is-medium"
                                            type="number" step="any" value="<%= (ficha1.montoAPagar - ficha1.montoPagado).toFixed(2) %>"
                                            placeholder="Valor de la deuda">
                                        <p id="ayuda_deuda_exponente<%=display1%>"
                                            class="help is-hidden has-text-danger-dark ayuda-deuda-exponente"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            La deuda total no puede tener exponentes</p>
                                        <p id="ayuda_deuda_vacia<%=display1%>"
                                            class="help is-hidden has-text-danger-dark ayuda-deuda-vacia"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            La deuda total no puede estar vacía</p>
                                        <p id="ayuda_deuda_negativa<%=display1%>"
                                            class="help is-hidden has-text-danger-dark ayuda-deuda-negativa"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            La deuda no puede ser negativa</p>
                                        <br>
                                        <% } else { %>
                                            $<%= (ficha1.montoAPagar - ficha1.montoPagado).toLocaleString('mx', 
                                                { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                        <br>
                                        <br>
                                        <% } %>
                                        <br>
                                        
                                        <strong>Pagado:</strong>
                                        $<%- ficha1.montoPagado.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                        <br>
                                        <strong>Recargos:</strong>
                                        $<%- ficha1.montoRecargos.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                        <br>
                                        <strong>Nota Anterior:</strong>
                                        <%= ficha1.notaModificacion %>
                                        <br>
                                        <br>
                                        <strong>Fecha Límite de Pago:</strong>
                                        <br>
                                        <% if (ficha1.Pagado != 1) { %>
                                        <p id="ayuda_fecha_vacia<%=display1%>"
                                            class="help is-hidden has-text-danger-dark" style="padding: 0.5em;">
                                            Por favor escoge una fecha límite</p>
                                        <input id="fecha_lim<%=display1%>" name="fecha_lim"
                                            class="fecha-limite input is-medium" type="date"
                                            placeholder="<%= moment(ficha1.fechaLimitePago).format('DD/MM/YYYY') %>">
                                        <br>
                                        <% } else { %>
                                            <%= moment(ficha1.fechaLimitePago).format('LL') %>
                                            <br>
                                            <br>
                                        <% } %>
                                        <!-- AJUSTE -->
                                        <strong>Ajuste:</strong>
                                        <% if (ficha1.Pagado != 1) { %>
                                            <p class="has-text-grey has-text-weight-medium">
                                                NOTA: Para aplicar un descuento, el ajuste debe ser negativo.
                                            </p>
                                        <input id="descuento<%=display1%>" name="descuento" class="input is-medium"
                                            type="number" step="any" value="<%= ficha1.Descuento.toFixed(2) %>"
                                            placeholder="Valor del ajuste">
                                        <p id="ayuda_descuento_exponente<%=display1%>"
                                            class="help is-hidden has-text-danger-dark ayuda-descuento-exponente"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            El ajuste no puede tener exponentes</p>
                                        <p id="ayuda_descuento_vacio<%=display1%>"
                                            class="help is-hidden has-text-danger-dark ayuda-descuento-vacio"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            El ajuste no puede estar vacío</p>
                                        <p id="ayuda_descuento_cero_negativo<%=display1%>"
                                            class="help is-hidden has-text-danger-dark ayuda-descuento-cero-negativo"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            El ajuste no puede ser un cero negativo</p>
                                        <br>
                                        <% } else { %>
                                        $<%= ficha1.Descuento.toLocaleString('mx', {
                                                minimumFractionDigits: 2,
                                                maximumFractionDigits: 2
                                            }) %>
                                        <br>
                                        <br>
                                        <% } %>
                                        <% if (ficha1.Pagado != 1) { %>
                                        <strong>Nota:</strong>
                                        <p id="ayuda_nota<%=display1%>" class="help is-hidden has-text-danger-dark"
                                            style="padding-bottom: 0.6em;">
                                            Por favor escribe una nota</p>
                                        <textarea id="nota<%=display1%>" name="nota" class="input is-medium"
                                            value="<%= ficha1.notaModificacion %>"
                                            placeholder="Escribe tu nota"></textarea>
                                        <% } else { %>
                                            <% if (ficha1.notaModificacion.length != 0) { %>
                                                <strong>Nota:</strong>
                                                <%= ficha1.notaModificacion %>
                                                <br>
                                                <br>
                                            <% } %>
                                        <% } %>
                                        <% if (ficha1.Pagado != 1) { %>
                                        <button id="Boton_modificar<%=display1%>" type="submit"
                                            class="button is-medium is-responsive"
                                            onclick="modificar('<%= ficha1.deuda %>', '<%= ficha1.descuento %>', '<%= ficha1.fecha_lim %>', '<%= ficha1.nota %>', '<%= ficha1.IDDeuda %>', '<%= display1 %>')"
                                            style="font-size: medium; background: #000000;">
                                            <span class="icon is-large">
                                                <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                                            </span>
                                            <span>MODIFICAR</span>
                                        </button>
                                        <% } else { %>
                                            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                                                ¡Esta ficha ya está pagada!
                                            </div>
                                        <% } %>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <% if (ficha2) { %>
                        <td class="pago-info" style="width: 50%">
                            <div class="columns is-vcentered">
                                <div class="column is-2" style="text-align: center; margin-bottom: -3em;">
                                    <% if (ficha2.Pagado == 1) { %>
                                    <i class="fa-solid fa-circle-check fa-2xl" style="color: #17b585;"></i>
                                    <% } else if (moment(ficha2.fechaLimitePago).isAfter(currentDate)) { %>
                                    <i class="fa-solid fa-clock fa-2xl" style="color: #ffc800;"></i>
                                    <% } else { %>
                                    <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #910106;"></i>
                                    <% } %>
                                </div>
                                <div class="column is-offset-3">
                                    <strong>Pago #<%= display2 %></strong>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column" style="text-align: center;">
                                    <!-- Resto de la información para el segundo pago -->
                                    <form action="/alumnos/fichas/modify" method="POST" class="form-modificar">
                                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="alumno" id="alumno"
                                            value="<%= alumno[0].Matricula %>">
                                        <input type="hidden" name="id" value="<%= ficha2.IDDeuda %>">
                                        <!-- DEUDA TOTAL -->
                                        <strong>Total: </strong>
                                        <% if (ficha2.Pagado != 1) { %>
                                            <input id="deuda<%=display2%>" name="deuda" class="input is-medium"
                                            type="number" step="any" value="<%= (ficha2.montoAPagar - ficha2.montoPagado).toFixed(2) %>"
                                            placeholder="Valor de la deuda">
                                        <p id="ayuda_deuda_exponente<%=display2%>"
                                            class="help is-hidden has-text-danger-dark ayuda-deuda-exponente"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            La deuda total no puede tener exponentes</p>
                                        <p id="ayuda_deuda_vacia<%=display2%>"
                                            class="help is-hidden has-text-danger-dark ayuda-deuda-vacia"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            La deuda total no puede estar vacía</p>
                                        <p id="ayuda_deuda_negativa<%=display2%>"
                                            class="help is-hidden has-text-danger-dark ayuda-deuda-negativa"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            La deuda no puede ser negativa</p>
                                        <br>
                                        <% } else { %>
                                            $<%= (ficha2.montoAPagar - ficha2.montoPagado).toLocaleString('mx', 
                                                { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                        <br>
                                        <br>
                                        <% } %>
                                        <br>

                                        <strong>Pagado:</strong>
                                        $<%- ficha2.montoPagado.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                        <br>
                                        <strong>Recargos:</strong>
                                        $<%- ficha2.montoRecargos.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                        <br>
                                        <strong>Nota Anterior:</strong>
                                        <%= ficha2.notaModificacion %>
                                        <br>
                                        <br>
                                        <strong>Fecha Límite de Pago:</strong>
                                        <br>
                                        <% if (ficha2.Pagado != 1) { %>
                                        <p id="ayuda_fecha_vacia<%=display2%>"
                                            class="help is-hidden has-text-danger-dark ayuda-fecha"
                                            style="padding: 0.5em;">
                                            Por favor escoge una fecha límite</p>
                                        <input name="fecha_lim" id="fecha_lim<%=display2%>"
                                            class="fecha-limite input is-medium" type="date"
                                            placeholder="<%= moment(ficha2.fechaLimitePago).format('DD/MM/YYYY') %>">
                                        <br>
                                        <% } else { %>
                                            <%= moment(ficha2.fechaLimitePago).format('LL') %>
                                        <br>
                                        <br>
                                        <% } %>
                                        <strong>Ajuste:</strong>
                                        <% if (ficha2.Pagado != 1) { %>
                                        <p class="has-text-grey has-text-weight-medium">
                                            NOTA: Para aplicar un descuento, el ajuste debe ser negativo.
                                        </p>
                                        <input id="descuento<%=display2%>" name="descuento" class="input is-medium"
                                            type="number" step="any" value="<%= ficha2.Descuento.toFixed(2) %>"
                                            placeholder="Valor del ajuste">
                                        <p id="ayuda_descuento_exponente<%=display2%>"
                                            class="help is-hidden has-text-danger-dark ayuda-descuento-exponente"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            El ajuste no puede tener exponentes</p>
                                        <p id="ayuda_descuento_vacio<%=display2%>"
                                            class="help is-hidden has-text-danger-dark ayuda-descuento-vacio"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            El ajuste no puede estar vacío</p>
                                        <p id="ayuda_descuento_cero_negativo<%=display2%>"
                                            class="help is-hidden has-text-danger-dark ayuda-descuento-cero-negativo"
                                            style="padding: 0.5em; margin-bottom: -2em;">
                                            El ajuste no puede ser un cero negativo</p>
                                        <br>
                                        <% } else { %>
                                        $<%= ficha2.Descuento.toLocaleString('mx', {
                                                minimumFractionDigits: 2,
                                                maximumFractionDigits: 2
                                            }) %>
                                        <br>
                                        <br>
                                        <% } %>
                                        <% if (ficha2.Pagado != 1) { %>
                                        <strong>Nota:</strong>
                                        <p id="ayuda_nota<%=display2%>"
                                            class="help is-hidden has-text-danger-dark ayuda-nota"
                                            style="padding-bottom: 0.6em;">
                                            Por favor escribe una nota</p>
                                        <textarea id="nota<%=display2%>" name="nota" class="input is-medium"
                                            value="<%= ficha2.notaModificacion %>"
                                            placeholder="Escribe tu nota"></textarea>
                                        <% } else { %>
                                            <% if (ficha2.notaModificacion.length != 0) { %>
                                                <strong>Nota:</strong>
                                                <%= ficha2.notaModificacion %>
                                                <br>
                                                <br>
                                            <% } %>
                                        <% } %>
                                        <% if (ficha2.Pagado != 1) { %>
                                            <button id="Boton_modificar<%=display2%>" type="submit"
                                                class="button is-medium is-responsive"
                                                onclick="modificar('<%= ficha2.deuda %>', '<%= ficha2.descuento %>', '<%= ficha2.fecha_lim %>', '<%= ficha2.nota %>', '<%= ficha2.IDDeuda %>', '<%= display2 %>')"
                                                style="font-size: medium; background: #000000;">
                                                <span class="icon is-large">
                                                    <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                                                </span>
                                                <span>MODIFICAR</span>
                                            </button>
                                         <% } else { %>
                                            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                                                ¡Esta ficha ya está pagada!
                                            </div>
                                        <% } %>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <% } %>
                    </tr>
                </tbody>
                <% } %>
            </table>
        </div>
    </section>

    <script type="text/javascript" src="/js/modificar_fichas.js"></script>
    <script type="text/javascript" src="/js/boton_regresar.js"></script>
</body>
<%- include('../includes/foot.ejs') %>