<%- include('../includes/head.ejs', { username: username, permisos: permisos, rol: rol }) %>


    <style>
        .section {
            margin-top: 50px;
            text-align: right;
            margin-left: 100px;
            margin-right: 100px;
        }

        .big-button {
            width: auto;
            padding: 10px 20px;
            font-size: 20px;
        }

    </style>

    <body>
        <section class="section">
                <form action="/diplomado/registrar_alumnos" method="POST"></form>
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <input type="hidden" value="<%= id%>" name="id" id="id">
                <table class="table is-bordered is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                        <tr>
                            <th>
                                <p class="is-size-5"><strong> </strong></p>
                            </th>
                            <th>
                                <p class="is-size-5"><strong>Matricula: </strong></p>
                            </th>
                            <th>
                                <p class="is-size-5"><strong>Nombre: </strong></p>
                            </th>
                            <th>
                                <p class="is-size-5"><strong>Apellidos: </strong></p>
                            </th>
                            <th>
                                <p class="is-size-5"><strong>Fecha Inscripción: </strong></p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < alumnos.length; i++) { %>
                            <tr id="pagination-content">
                                <td><input type="checkbox" name="alumno" value="<%= alumnos[i].matricula %>"></td>
                                <td>
                                    <%= alumnos[i].matricula %>
                                </td>
                                <td>
                                    <%= alumnos[i].nombre %>
                                </td>
                                <td>
                                    <%= alumnos[i].apellidos %>
                                </td>
                                <td>
                                    <%= new Date(alumnos[i].fechaInscripcion).toLocaleDateString('es-MX', {
                                        year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" id="prev-button">Anterior</a>
                    <a class="pagination-next" id="next-button">Siguiente</a>
                    <ul class="pagination-list" id="pagination-list">
                        <div id="pagination-numbers">
                        </div>
                    </ul>
                </nav>
                <button class="button is-rounded big-button" type="submit">
                    <span class="icon is-large">
                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                    </span>
                    <span>
                        Registrar Alumnos
                    </span>
                </button>
                </form>
    </body>
    </section>
    <script type="text/javascript" src="/js/pagination.js"></script>

    </html>