<%- include('../includes/head.ejs', { username: username, permisos: permisos, rol: rol }) %>


    <style>
        .section {
            margin-top: 50px;
            text-align: right;
            margin-left: 100px;
            margin-right: 100px;
        }

        .big-button {
            width: auto;
            padding: 10px 20px;
            font-size: 20px;
        }

        .search-bar {
            margin-bottom: 20px;
        }

        .search-input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
    </style>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-narrow">
                        <a id="Boton_regresar" type="submit" class="is-responsive"
                            style="margin-right: 10px;" onclick="regresar()">
                            <span class="icon">
                                <i class="fas fa-arrow-left fa-2x"></i>
                            </span>
                        </a>
                    </div>
                        <label class="label is-large has-text-danger has-text-weight-semibold">
                            AGREGAR ALUMNOS
                        </label>
                </div>

            <form action="/diplomado/registrar_alumnos" method="POST">
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <input type="hidden" value="<%= id %>" name="id" id="id">
                <div class="search-bar">
                    <input type="text" id="searchAlumnos" class="search-input"
                        placeholder="Buscar por nombre o matrícula">
                </div>
                <div id="resultadoActivo" class="notification is-hidden" style="background-color: #5a6581; color:#ffffff;">
                    No existen alumnos con los paramétros de busqueda.
                </div>
                <div id="tablaAlumnos" class="table-container">
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                            <tr>
                                <th style="text-align: left;">
                                    <!-- botón seleccionar -->
                                </th>
                                <th style="text-align: left;">
                                    Matrícula
                                </th>
                                <th style="text-align: left;">
                                    Nombre
                                </th>
                                <th style="text-align: left;">
                                    Apellidos
                                </th>
                                <th style="text-align: left;">
                                    Fecha Inscripción
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < alumnos.length; i++) { %>
                                <tr>
                                    <td><input type="checkbox" name="alumno" value="<%= alumnos[i].matricula %>"></td>
                                    <td style="text-align: left;">
                                        <%= alumnos[i].matricula %>
                                    </td>
                                    <td style="text-align: left;">
                                        <%= alumnos[i].nombre %>
                                    </td>
                                    <td style="text-align: left;">
                                        <%= alumnos[i].apellidos %>
                                    </td>
                                    <td style="text-align: left;">
                                        <%= new Date(alumnos[i].fechaInscripcion).toLocaleDateString('es-MX', {
                                            year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <button class="confirmar-button is-medium is-responsive" type="submit"
                style="font-size: large; padding-right: 1em;">
                    <span class="icon is-large">
                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                    </span>
                    <span>
                        REGISTRAR ALUMNOS
                    </span>
                </button>
            </form>
        </div>
    </section>
</body>
<%- include('../includes/foot.ejs') %>
<script type="text/javascript" src="/js/agregar_alumno.js"></script>
<script type="text/javascript" src="/js/boton_regresar.js"></script>

</html>