<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol }) 
    %>

<script type="text/javascript" src="/js/modal_popup.js"></script>

<style>
    input:focus {
        border: 2px solid #910106 !important
    }

    input:hover {
        border: 2px solid #5a6581 !important;
    }

    .table-container {
        position: relative;
    }

    .pagination-container {
        margin-top: 20px;
    }

    .pagination-btn {
        margin: 0 5px;
    }
</style>

<section class="section">

    <div class="columns">
        <div class="column is-6">
            <label class="label is-large has-text-danger has-text-weight-semibold">
                DIPLOMADOS
            </label>
        </div>
        <% if (contienePermiso(permisos, 'Registrar diplomado') == true) { %>
        <div class="column is-offset-2">
            <p class="control">
                <a class="button is-responsive" style="font-size: large;"
                    href="/diplomado/registrar_diplomado">
                    <span class="icon is-large">
                        <i class="fa-solid fa-circle-plus"></i>
                    </span>
                    <span>
                        Registrar Diplomado
                    </span>
                </a>
            </p>
        </div>
        <% } %>
    </div>
    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">

    <div class="tabs is-boxed">
        <ul>
            <li class="is-active" id="nav_activos">
                <a onclick="diplomados_activos()">
                    <span class="icon is-small"><i class="fa-solid fa-users"></i></span>
                    <span>Diplomados Activos</span>
                </a>
            </li>
            <li id="nav_no_activos">
                <a onclick="diplomados_no_activos()">
                    <span class="icon is-small"><i class="fa-regular fa-users-slash"></i></span>
                    <span>Diplomados No Activos</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="diplomados_activos">
        <% let count_activos = 0 %>

        <% if (diplomadosActivos.length === 0) { %>
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                    No hay diplomados que se encuenten activos por el momento.
                </div>
            </div>
        </div>
        <% } else { %>
        <div id="tablaActivos" class="table-container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th style="text-align: left;">
                            ID
                        </th>
                        <th style="text-align: left;">
                            Nombre
                        </th>
                        <th style="text-align: left;">
                            Fecha Inicio
                        </th>
                        <th style="text-align: left;">
                            Fecha Fin
                        </th>
                        <th style="text-align: left;">
                            Precio
                        </th>
                        <% if (contienePermiso(permisos, 'Modificar diplomado') == true) { %>
                        <th>
                            <!-- botón detalles -->
                        </th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for (let diplomado of diplomadosActivos) { %>
                    <tr id="pagination-content">
                        <td>
                            <%= diplomado.IDDiplomado %>
                        </td>
                        <td>
                            <%= diplomado.nombreDiplomado %>
                        </td>
                        <td>
                            <%= new Date(diplomado.fechaInicio).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                        </td>
                        <td>
                            <%= new Date(diplomado.fechaFin).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                        </td>                        
                        <td>
                            $<%= diplomado.precioDiplomado.toLocaleString('mx', {
                                                    minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2
                                                 }) %>
                        </td>
                        <% if (contienePermiso(permisos, 'Modificar diplomado') == true) { %>
                        <td>
                            <form action="/diplomado/detalles_diplomado" method="POST">
                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= diplomado.IDDiplomado %>" name="id" id="id">
                                <button class="button is-small is-responsive" type="sumbit" style="font-size:17px; padding-right: 0.7em;">
                                    <span>
                                        Detalles
                                    </span>
                                    <span class="icon is-large">
                                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                    </span>
                                </button>
                            </form>
                        </td>
                        <% } %>
                    </tr>
                    <% count_activos++ %>
                    <% } %>
                </tbody>
            </table>
            <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                <a class="pagination-previous" id="prev-button">Anterior</a>
                <a class="pagination-next" id="next-button">Siguiente</a>
                <ul class="pagination-list" id="pagination-list">
                    <div id="pagination-numbers">
                    </div>
                </ul>
            </nav>
        </div>
        <% } %>
    </div>

    <div id="diplomados_no_activos" class="is-hidden">
        <% let count_no_activo = 0 %>

        <% if (diplomadosNoActivos.length===0) { %>
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                    No hay diplomados que se encuentran desactivados por el momento.
                </div>
            </div>
        </div>
        <% } else { %>
        <div id="tablaNoActivos" class="table-container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                    <tr>
                        <th style="text-align: left;">
                            ID
                        </th>
                        <th style="text-align: left;">
                            Nombre
                        </th>
                        <th style="text-align: left;">
                            Fecha Inicio
                        </th>
                        <th style="text-align: left;">
                            Fecha Fin
                        </th>
                        <th style="text-align: left;">
                            Precio
                        </th>
                        <% if (contienePermiso(permisos, 'Modificar diplomado') == true) { %>
                        <th>
                            <!-- botón detalles -->
                        </th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for (let diplomado of diplomadosNoActivos) { %>
                    <tr id="pagination-content-2">
                        <td>
                            <%= diplomado.IDDiplomado %>
                        </td>
                        <td>
                            <%= diplomado.nombreDiplomado %>
                        </td>
                        <td>
                            <%= new Date(diplomado.fechaInicio).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                        </td>
                        <td>
                            <%= new Date(diplomado.fechaFin).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                        </td> 
                        <td>
                            $<%= diplomado.precioDiplomado.toLocaleString('mx', {
                                                    minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2
                                                 }) %>
                        </td>
                        <% if (contienePermiso(permisos, 'Modificar diplomado') == true) { %>
                        <td>
                            <form action="/diplomado/detalles_diplomado" method="POST">
                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= diplomado.IDDiplomado %>" name="id" id="id">
                                <button class="button is-small is-responsive" type="sumbit" style="font-size:17px;  padding-right: 0.7em; background-color: #000000;">
                                    <span>
                                        DETALLES
                                    </span>
                                    <span class="icon is-large">
                                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                    </span>
                                </button>
                            </form>
                        </td>
                        <% } %>
                    </tr>
                    <% count_activos++ %>
                    <% } %>
                </tbody>
            </table>
            <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                <a class="pagination-previous" id="prev-button-2">Anterior</a>
                <a class="pagination-next" id="next-button-2">Siguiente</a>
                <ul class="pagination-list" id="pagination-list-2">
                    <div id="pagination-numbers-2">

                    </div>
                </ul>
            </nav>
        </div>
        <% } %>
    </div>

</section>
<%- include('../includes/foot.ejs') %>
<script type="text/javascript" src="/js/consultar_diplomado.js"></script>
<script type="text/javascript" src="/js/pagination.js"></script>
<script type="text/javascript" src="/js/pagination2.js"></script>
<script type="text/javascript" src="/js/pagination3.js"></script>
