<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    .small-label {
        font-size: 1.2em;
        font-weight: normal;
    }
    .big-button {
        font-size: 1.5em; /* Ajusta el tamaño a tu preferencia */
        width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
    }
    .notification {
        margin-bottom: 20px; /* Ajusta el tamaño a tu preferencia */
    }
</style>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-1">
                        <a id="Boton_regresar" class="is-responsive"
                            href="/diplomado/consultar_diplomado">
                            <span class="icon">
                                <i class="fas fa-arrow-left fa-2x"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column is-8">
                        <label class="label is-large has-text-danger has-text-weight-semibold">
                        INFORMACIÓN DE DIPLOMADO:
                            <br>
                            <%= diplomado[0].nombreDiplomado %>
                            <%= diplomado[0].IDDiplomado %>
                        </label>
                    </div>
                    <div class="column">
                        <div class="columns is-multiline">
                    <% if (contienePermiso(permisos, 'Modificar diplomado') == true && new Date() < new Date(diplomado[0].fechaInicio)) { %> 
                                <div class="column is-full">
                                    <form action="/diplomado/editar_diplomado" method="POST">
                                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" value="<%= diplomado[0].nombreDiplomado %>" name="nombre" id="nombre">
                                        <p class="control">
                                            <button class="button is-responsive" type="submit">
                                                <span class="icon is-large">
                                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                                </span>
                                                <span>
                                                    Modificar Diplomado
                                                </span>
                                            </button>
                                        </p>
                                    </form>
                                </div>
                                <% if (contienePermiso(permisos, 'Modificar diplomado') == true && new Date() < new Date(diplomado[0].fechaInicio)) { %> 
                                    <div class="column is-full">
                                        <form action="/diplomado/agregar_alumnos" method="POST">
                                            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" value="<%= diplomado[0].nombreDiplomado %>" name="nombre" id="nombre">
                                            <p class="control">
                                                <button class="button is-responsive" type="submit">
                                                    <span class="icon is-large">
                                                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                                    </span>
                                                    <span>
                                                        Agregar Alumnos
                                                    </span>
                                                </button>
                                            </p>
                                        </form>
                                    </div>
                                <% } %>
                         <% } %>
                        </div>
                    </div>
                </div>

                <div class="columns is-flex is-align-items-stretch" id="topinfo">
                <div class="column">
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">FECHA INICIO</p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <%= new Date(diplomado[0].fechaInicio).toLocaleDateString('es-MX', { year: 'numeric' ,
                                    month: 'long' , day: 'numeric' }) %></p>
                    </div>
                </div>
                <div class="column">
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">FECHA FIN</p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <%= new Date(diplomado[0].fechaFin).toLocaleDateString('es-MX', { year: 'numeric' ,
                                    month: 'long' , day: 'numeric' }) %></p>
                    </div>
                </div>
                <div class="column">
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">PRECIO</p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            $<%= diplomado[0].precioDiplomado.toLocaleString('mx', { minimumFractionDigits: 2,
                                maximumFractionDigits: 2 }) %></p>
                    </div>
                </div>
                </div>

                <br>

                <% if (registro) { %>
                    <div class="columns is-vcentered">
                        <div class="column is-2"></div>
                        <div class="column is-8">
                            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                                <button class="delete"></button>
                                Alumnos registrados exitosamente.
                            </div>
                        </div>
                    </div>
                <% } %>
                
            <div id="alumnosDiplomado"></div>
            <% let count_alumnos = 0 %>

            <% if (alumnosDiplomado.length === 0) { %>
                <div class="columns">
                    <div class="column is-2"></div>
                    <div class="column is-8">
                        <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                            No hay alumnos cursando este diplomado por el momento.
                        </div>
                    </div>
                </div>
                <% } else { %>

            <div id="tablaAlumnos" class="table-container">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                        <tr>
                            <th style="text-align: left;">
                                Matrícula
                            </th>
                            <th style="text-align: left;">
                                Nombre
                            </th>
                            <th style="text-align: left;">
                                Apellidos
                            </th>
                            <th style="text-align: left;">
                                Fecha Inscripción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let alumno of alumnosDiplomado) { %>
                            <tr id="pagination-content">
                                <td>
                                    <%= alumno.matricula %>
                                </td>
                                <td>
                                    <%= alumno.nombre %>
                                </td>
                                <td>
                                    <%= alumno.apellidos %>
                                </td>
                                <td>
                                    <%= new Date(alumno.fechaInscripcion).toLocaleDateString('es-MX', { year: 'numeric'
                                        , month: 'long' , day: 'numeric' }) %>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" id="prev-button">Anterior</a>
                    <a class="pagination-next" id="next-button">Siguiente</a>
                    <ul class="pagination-list" id="pagination-list">
                        <div id="pagination-numbers">
                        </div>
                    </ul>
                </nav> 
            </div>
            <% } %>
    </body>
    </section>
    <%- include('../includes/foot.ejs') %>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script type="text/javascript" src="/js/detalles_diplomado.js"></script>
    </html>