<%- include('../includes/head.ejs') %>

    <body>
        <section class="section">
            <div class="container" style="display: flex; justify-content: center;">
                <% if (fetch) { %>
                    <p class="title" style="text-align: center;">Buscar Diplomado</p>
                    <form action="/diplomado/editar_diplomado" method="POST" style="width: 50%; margin-top: 50px;">
                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                        <label for="nombre" class="label is-large">Nombre del Diplomado:</label>
                        <input type="text" id="nombre" name="nombre" required class="input is-large">
                        <button type="submit" id="buscarBtn"
                            class="button is-rounded is-large is-responsive">Buscar</button>
                        <p id="mensajeValidacion" class="help is-danger"></p>
                    </form>
                    <% if (error) { %>
                        <p class="is-size-4">
                            <%= error %>
                        </p>
                        <% } %>
                            <% } %>


                                <% if (editar) { %>
                                    <p class="title" style="text-align: center;">Modificar Diplomado</p>
                                    <form action="/diplomado/resultado_diplomado" method="POST"
                                        onsubmit="return validateForm()" style="width: 50%; margin-top: 50px;">
                                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="IDDiplomado" value="<%= diplomado.IDDiplomado %>">
                                        <label for="Duracion" class="label is-large">Duración:</label>
                                        <input type="text" id="Duracion" name="Duracion"
                                            value="<%= diplomado.Duracion %>" required class="input is-large">

                                        <label for="precioDiplomado" class="label is-large">Precio:</label>
                                        <input type="number" id="precioDiplomado" name="precioDiplomado"
                                            value="<%= diplomado.precioDiplomado %>" step="any" required
                                            class="input is-large" pattern="^\d+(\.\d+)?$">

                                        <label for="nombreDiplomado" class="label is-large">Nombre:</label>
                                        <input type="text" id="nombreDiplomado" name="nombreDiplomado"
                                            value="<%= diplomado.nombreDiplomado %>" required class="input is-large">

                                        <label for="statusDiplomado" class="label is-large">Status:</label>
                                        <label class="checkbox">
                                            <% if (diplomado.diplomadoActivo===0) { %>
                                                <input type="checkbox" id="statusDiplomado" name="statusDiplomado"
                                                    onclick="toggleInputs()">
                                                <span class="checkmark"></span>
                                                <% } else { %>
                                                    <input type="checkbox" id="statusDiplomado" name="statusDiplomado"
                                                        onclick="toggleInputs()" checked>
                                                    <span class="checkmark"></span>
                                                    <% } %>
                                        </label>

                                        <button type="submit" class="button is-rounded is-large is-responsive">Registrar
                                            Cambios</button>
                                        <p id="alerta" class="help is-danger" style="display: none;"></p>
                                    </form>
                                    <% } %>

            </div>
        </section>
        <script type="text/javascript" src="/js/editar_diplomado.js"></script>
    </body>

    </html>