<%- include('../includes/dropdown_admin.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<body>
    <div class="container" style="display: flex; justify-content: center;">
        <% if (fetch) { %>
            <form action="/diplomado/editar_diplomado" method="POST" style="width: 50%; margin-top: 50px;">
                <label for="nombre" class="label is-large">Nombre del Diplomado:</label>
                <input type="text" id="nombre" name="nombre" required class="input is-large">
                <button type="submit" class="button is-large" style="padding: 10px 10px; height: auto; background-color: #000000; color: white">Buscar</button>
            </form>
            <% if (error) { %>
                <p class="has-text-centered is-size-4"><%= error %></p>
            <% } %>
        <% } %>
        
        
        <% if (editar) { %>
            <form action="/diplomado/resultado_diplomado" method="POST" onsubmit="return validateForm()" style="width: 50%; margin-top: 50px;">
                <input type="hidden" name="IDDiplomado" value="<%= diplomado.IDDiplomado %>">
                <label for="Duracion" class="label is-large">Duración:</label>
                <input type="text" id="Duracion" name="Duracion" value="<%= diplomado.Duracion %>" required class="input is-large">
                <label for="precioDiplomado" class="label is-large">Precio:</label>
                <input type="float" id="precioDiplomado" name="precioDiplomado" value="<%= diplomado.precioDiplomado %>" required class="input is-large">
                <label for="nombreDiplomado" class="label is-large">Nombre:</label>
                <input type="text" id="nombreDiplomado" name="nombreDiplomado" value="<%= diplomado.nombreDiplomado %>" required class="input is-large">
                <button type="submit" class="button is-large" style="padding: 10px 10px; height: auto; background-color: #000000; color: white">Registrar Cambios</button>
            </form>
        <% } %>
    </div>

    <script>
        function validateForm() {
            var precio = document.getElementById("precioDiplomado").value;
            if (precio <= 0) {
                alert("El precio debe ser mayor a 0");
                return false;
            }
        }

        $( function() {
            $( "#nombre" ).autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "/diplomado/autocomplete",
                        dataType: "json",
                        data: {
                            q: request.term
                        },
                        success: function( data ) {
                            response( data.map(function(diplomado) {
                                return diplomado.nombreDiplomado;
                            }));
                        }
                    });
                },
                minLength: 2
            });
        } );

    </script>
</body>
</html>
