<%- include('../includes/head.ejs', { username: username, permisos: permisos, rol: rol }) %>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                <div class="column is-1">
                    <a id="Boton_regresar" type="submit" class="is-responsive"
                        onclick="regresar()">
                        <span class="icon">
                            <i class="fas fa-arrow-left fa-2x"></i>
                        </span>
                    </a>
                </div>
                <div class="column">
                    <label class="label is-large has-text-danger has-text-weight-semibold">
                        MODIFICAR DIPLOMADO
                    </label>
                </div>
                </div>
                </div>

            <form action="/diplomado/resultado_diplomado" method="POST" onsubmit="return validateForm()"
                    style="width: 50%; margin-top: 50px;">
                    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="IDDiplomado" value="<%= diplomado.IDDiplomado %>">
                    <input type="hidden" id="fechaInicio" value="<%= diplomado.fechaInicio %>">
                    <input type="hidden" id="fechaFin" value="<%= diplomado.fechaFin %>">

                    <label for="nombreDiplomado" class="label is-large">Nombre:</label>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="text" id="nombreDiplomado" name="nombreDiplomado"
                                value="<%= diplomado.nombreDiplomado %>" required class="input is-medium">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-graduation-cap" style="color: #95404c;"></i>
                            </span>
                        </p>
                    </div>

                    <label for="precioDiplomado" class="label is-large">Precio:</label>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="number" id="precioDiplomado" name="precioDiplomado"
                                value="<%= diplomado.precioDiplomado.toFixed(2) %>" step="any" required
                                class="input is-large" pattern="^\d+(\.\d+)?$" placeholder="Precio del Diplomado">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                            </span>
                        </p>
                    </div>

                    <label for="Fecha Inicio" class="label is-large">Fecha Inicio/Fecha Fin:</label>

                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="date" id="fecha" name="fecha" class="datepicker">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-calendar-week" style="color: #95404c;"></i>
                            </span>
                        </p>
                    </div>

                    <br>
                    <button type="submit" class="button is-rounded is-large is-responsive">
                        <span>Registrar Cambios</span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                    <p id="alerta" class="help is-danger" style="display: none;"></p>
                </form>
            </div>
        </section>

        <script type="text/javascript" src="/js/editar_diplomado.js"></script>
        <script type="text/javascript" src="/js/boton_regresar.js"></script>
    </body>

    </html>