<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol }) 
    %>

    <style>
        .columns.is-flex {
            display: flex;
            flex-wrap: wrap;
        }
    
        .columns.is-flex .column {
            display: flex;
            flex-direction: column;
        }
    
        .columns.is-flex .box {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start; /* Align content to the top */
        }
    </style>

<body>
    <section class="section">
        <div class="container" style="max-width: 640px;">
            <div class="columns">
                <div class="column is-1">
                    <a id="Boton_regresar" type="submit" class="is-responsive"
                        onclick="regresar()">
                        <span class="icon">
                            <i class="fas fa-arrow-left fa-2x"></i>
                        </span>
                    </a>
                </div>

            <% if (modificar) { %>
                <div class="column">
                    <label class="label is-large has-text-danger has-text-weight-semibold">
                    INFORMACIÓN ACTUALIZADA DEL DIPLOMADO</label>
                </div>
                </div>
            </div>

            <div class="container" style="max-width: 640px;">
                <div class="columns is-flex is-align-items-stretch" id="info">
                    <div class="column">
                        <div class="box" style="text-align: center;">
                            <p class="has-text-grey has-text-weight-medium">ID</p>
                            <p class="has-text-black has-text-weight-bold is-size-5">
                                <%= diplomado.IDDiplomado %></p>
                        </div>
                       </div>
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">NOMBRE</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    <%= diplomado.nombreDiplomado %></p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">PRECIO</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    $<%= diplomado.precioDiplomado.toLocaleString('mx') %></p>
                            </div>
                        </div>
                        </div>

                    <div class="columns is-flex is-align-items-stretch" id="info">
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">FECHA INICIO</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    <%= new Date(diplomado.fechaInicio).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">FECHA FIN</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    <%= new Date(diplomado.fechaFin).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                            </div>
                        </div>
                    </div>
                
                    <p class="control">
                        <form action="/diplomado/consultar_diplomado" method="GET">
                            <button type="submit" class="button is-medium is-responsive">
                                <span>
                                    Regresar a Diplomados
                                </span>
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                </span>
                            </button>
                        </form>
                    </p>
                </div>
            <% } %>

            <% if (registrar) { %>
                <div class="column">
                    <label class="label is-large has-text-danger has-text-weight-semibold">
                    INFORMACIÓN DEL NUEVO DIPLOMADO</label>
                </div>
                </div>
            </div>

            <div class="container" style="max-width: 640px;">
                    <div class="columns is-flex is-align-items-stretch" id="info">
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">ID</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    <%= diplomado.IDDiplomado %></p>
                            </div>
                       </div>
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">NOMBRE</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    <%= diplomado.nombreDiplomado %></p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">PRECIO</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    $<%= diplomado.precioDiplomado.toLocaleString('mx') %></p>
                            </div>
                        </div>
                        </div>

                        <div class="columns is-flex is-align-items-stretch" id="info">
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">FECHA INICIO</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    <%= new Date(diplomado.fechaInicio).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box" style="text-align: center;">
                                <p class="has-text-grey has-text-weight-medium">FECHA FIN</p>
                                <p class="has-text-black has-text-weight-bold is-size-5">
                                    <%= new Date(diplomado.fechaFin).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                            </div>
                        </div>
                    </div>

                <form action="/diplomado/registrar_diplomado" method="GET">
                    <button type="submit" class="button is-medium is-responsive">
                        <span>
                            Registrar otro Diplomado
                        </span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </form>
                <form action="/diplomado/consultar_diplomado" method="GET">
                    <button type="submit" class="button is-medium is-responsive">
                        <span>
                            Regresar a Diplomados
                        </span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </form>
            <% } %>
    </section>
</body>

<script type="text/javascript" src="/js/boton_regresar.js"></script>
<%- include('../includes/foot.ejs') %>
