<%- include('../includes/dropdown_admin.ejs') %>

<body>
    <h1>Información Actualizada del Diplomado</h1>

    <% if (modificar) { %>
        <ul>
            <li>ID: <%= diplomado.IDDiplomado %></li>
            <li>Duración: <%= diplomado.Duracion %></li>
            <li>Precio: <%= diplomado.precioDiplomado %></li>
            <li>Nombre: <%= diplomado.nombreDiplomado %></li>
        </ul>
        <form action="/diplomado/editar_diplomado" method="GET">
            <button type="submit">Modificar otro diplomado</button>
        </form>
    <% } %>

    <% if (registrar) { %>
        <ul>
            <li>ID: <%= diplomado.IDDiplomado %></li>
            <li>Duración: <%= diplomado.Duracion %></li>
            <li>Precio: <%= diplomado.precioDiplomado %></li>
            <li>Nombre: <%= diplomado.nombreDiplomado %></li>
        </ul>
        <form action="/diplomado/registrar_diplomado" method="GET">
            <button type="submit">Registrar otro diplomado</button>
        </form>
    <% } %>
</body>
</html>
