<%- include('../includes/dropdown_admin.ejs') %>
<link href="/css/mystyles.css" rel="stylesheet" type="text/css">
<link href="/css/extrastyles.css" rel="stylesheet" type="text/css">

<body>
    <div class="container" style="display: flex; justify-content: center;">
        <div class="content" style="width: 70%; margin-top: 50px;">
            <h1 class="title is-2 has-text-centered">Información Actualizada del Diplomado</h1>
            <% if (modificar) { %>
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-black">ID:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.IDDiplomado %></p>
                                <p class="title is-4 has-text-black">Duración:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.Duracion %></p>
                                <p class="title is-4 has-text-black">Precio:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.precioDiplomado %></p>
                                <p class="title is-4 has-text-black">Nombre:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.nombreDiplomado %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/diplomado/editar_diplomado" method="GET">
                    <button type="submit" class="button is-large" style="padding: 10px 10px; height: auto; background-color: #000000; color: white">Modificar otro Diplomado</button>
                </form>
                <form action="/diplomado/" method="GET">
                    <button type="submit" class="button is-large" style="padding: 10px 10px; height: auto; background-color: #000000; color: white">Regresar a Diplomado</button>
                </form>
            <% } %>

            <% if (registrar) { %>
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-black">ID:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.IDDiplomado %></p>
                                <p class="title is-4 has-text-black">Duración:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.Duracion %></p>
                                <p class="title is-4 has-text-black">Precio:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.precioDiplomado %></p>
                                <p class="title is-4 has-text-black">Nombre:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.nombreDiplomado %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/diplomado/registrar_diplomado" method="GET">
                    <button type="submit" class="button is-large" style="padding: 10px 10px; height: auto; background-color: #000000; color: white">Registrar otro Diplomado</button>
                </form>
                <form action="/diplomado/" method="GET">
                    <button type="submit" class="button is-large" style="padding: 10px 10px; height: auto; background-color: #000000; color: white">Regresar a Diplomado</button>
                </form>
            <% } %>
        </div>
    </div>
</body>
</html>
