<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol }) 
    %>

<body>
    <div class="container" style="display: flex; justify-content: center;">
        <div class="content" style="width: 70%; margin-top: 50px;">
            <% if (modificar) { %>
                <h1 class="title is-2 has-text-centered">Información Actualizada del Diplomado</h1>
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-black">ID:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.IDDiplomado %></p>
                                <p class="title is-4 has-text-black">Nombre:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.nombreDiplomado %></p>
                                <p class="title is-4 has-text-black">Precio:</p>
                                <p class="subtitle is-4 has-text-grey">$<%= diplomado.precioDiplomado.toLocaleString('mx') %></p>
                                <p class="title is-4 has-text-black">Fecha Inicio:</p>
                                <p class="subtitle is-4 has-text-grey"><%= new Date(diplomado.fechaInicio).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                                <p class="title is-4 has-text-black">Fecha Fin:</p>
                                <p class="subtitle is-4 has-text-grey"><%= new Date(diplomado.fechaFin).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/diplomado/consultar_diplomado" method="GET">
                    <button type="submit" class="button is-rounded is-large is-responsive">
                        <span>
                            Regresar a Diplomados
                        </span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </form>
            <% } %>

            <% if (registrar) { %>
                <h1 class="title is-2 has-text-centered">Diplomado creado con éxito</h1>
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-black">ID:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.IDDiplomado %></p>
                                <p class="title is-4 has-text-black">Nombre:</p>
                                <p class="subtitle is-4 has-text-grey"><%= diplomado.nombreDiplomado %></p>
                                <p class="title is-4 has-text-black">Precio:</p>
                                <p class="subtitle is-4 has-text-grey">$<%= diplomado.precioDiplomado.toLocaleString('mx') %></p>
                                <p class="title is-4 has-text-black">Fecha Inicio:</p>
                                <p class="subtitle is-4 has-text-grey"><%= new Date(diplomado.fechaInicio).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                                <p class="title is-4 has-text-black">Fecha Fin:</p>
                                <p class="subtitle is-4 has-text-grey"><%= new Date(diplomado.fechaFin).toLocaleDateString('es-MX', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/diplomado/registrar_diplomado" method="GET">
                    <button type="submit" class="button is-rounded is-large is-responsive">
                        <span>
                            Registrar otro Diplomado
                        </span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </form>
                <form action="/diplomado/consultar_diplomado" method="GET">
                    <button type="submit" class="button is-rounded is-large is-responsive">
                        <span>
                            Regresar a Diplomados
                        </span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </form>
            <% } %>
        </div>
    </div>
</body>
</html>
