<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    .switch-label {
        margin-top: 10px;
    }

    .link-reseteo {

        display: inline-block;
        color: #3273dc;
        text-decoration: underline;
    }

    .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <label class="label is-large has-text-danger has-text-weight-semibold">
                    ESTABLECER CONTRASEÑA
                </label>
                <form action="/auth/set_password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="token" value="<%= token %>">
                    <input type="hidden" name="matricula" value="<%= matricula %>"> <!-- Campo oculto con la matrícula -->
                <label class="label is-medium">Ingresa tu nueva contraseña: </label>
                    <div class="field">
                        <div class="control has-icons-left">
                            <input required class="input is-medium" type="password" name="newPassword" id="password" 
                            placeholder="Nueva contraseña">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            <label class="switch" style="padding-top: 5em">
                                <input type="checkbox" onclick="togglePassword('password')">
                                <span class="switch-label">Mostrar contraseña</span>
                            </label>
                        </div>
                    </div>

                    <p class="control">
                        <button type="submit" class="confirmar-button is-medium is-responsive"
                            style="font-size: large; padding-left: 1em;">
                            <span>GUARDAR CONTRASEÑA</span>
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                </span>
                        </button>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/login.js"></script>

<%- include('./includes/foot.ejs') %>