<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    .switch-label {
        margin-top: 10px;
    }

    .link-reseteo {

        display: inline-block;
        color: #3273dc;
        text-decoration: underline;
    }

    .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<section class="section">
    <div class="container">
        <h3 id="title" class="title"> Establecer Contraseña</h3>
        <form action="/auth/set_password" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="matricula" value="<%= matricula %>"> <!-- Campo oculto con la matrícula -->
            <div class="field">
                <div class="control has-icons-left">
                    <input required class="input" type="password" name="newPassword" id="password" placeholder="" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <label class="switch">
                        <input type="checkbox" onclick="togglePassword('password')">
                        <span class="switch-label">Mostrar contraseña</span>
                    </label>
                </div>
            </div>
            <button type="submit" class="button is-primary">Guardar Contraseña</button>
        </form>
    </div>
</section>
<script type="text/javascript" src="/js/login.js"></script>

<%- include('./includes/foot.ejs') %>