<%- include('../includes/dropdown_admin.ejs') %>

<section class="section">
    <div class="container">
        <div class="box">
            <% for (let deudas of deudas_atrasadas) { %>
            <div class="columns">
                <div class="column is-full">
                    Nombre: <%= deudas.Nombre %>
                    Apellidos: <%= deudas.Apellidos %>
                    Matricula: <%= deudas.Matricula %>
                    Monto A Pagar: <%= deudas.montoAPagar %>
                    Monto Pagado: <%= deudas.montoPagado %>
                    Fecha Limite Pago: <%= deudas.fechaLimitePago %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>