<%- include('../includes/dropdown_admin.ejs') %>

<section class="section">
    <div class="container">
        <p>Hola</p>
        <% for (let deudas of deudas_atrasadas) { %>
        <p> Nombre: <%= deudas.Nombre %> </p>
        <p> Apellidos: <%= deudas.Apellidos %> </p>
        <p> Matricula: <%= deudas.Matricula %> </p>
        <p> Monto A Pagar: <%= deudas.montoAPagar %> </p>
        <p> Monto Pagado: <%= deudas.montoPagado %> </p>
        <p> Fecha Limite Pago: <%= deudas.fechaLimitePago %> </p>
        <br>
        <% } %>
    </div>
</section>