<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    input:focus {
        border: 2px solid #5a6581 !important
    }

    input:hover {
        border: 2px solid #910106 !important;
    }

    .button:hover {
        background-color: #5a6581 !important;
        border-color: #910106 !important;
    }

    .cerrar-sesion-button:hover {
        border: solid #ffffff !important;
        background-color: #000000 !important;
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <label class="label is-large has-text-danger has-text-weight-semibold">
                    CONFIGURACIÓN OTROS PAGOS
                </label>
            </div>
            <% if (contienePermiso(permisos, 'Registrar Pago Extra') == true) { %>
            <div class="column is-offset-2">
                <p class="control">
                    <a class="button is-responsive" style="font-size: large;"
                        href="/pagos/registrar_pago_extra">
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-plus"></i>
                        </span>
                        <span>
                            Registrar Otro Pago
                        </span>
                    </a>
                </p>
            </div>
            <% } %>
        </div>
        <% if (registrar == true) { %>
        <div id="registrar_estatus" class="notification" style="background-color: #5a6581; color:#ffffff;">
            <button id="btn_registrar_estatus" class="delete"></button>
            ¡El otro pago ha sido registrado!
        </div>
        <% } %>
        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
        <div class="tabs is-boxed">
            <ul>
                <li class="is-active" id="nav_con_solicitudes">
                    <a onclick="con_solicitudes()">
                        <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                        <span>Pagos Con Solicitudes</span>
                    </a>
                </li>
                <li id="nav_sin_solicitudes">
                    <a onclick="sin_solicitudes()">
                        <span class="icon is-small"><i class="fa-regular fa-pen-to-square"></i></span>
                        <span>Pagos Sin Solicitudes</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="con_solicitudes">
            <% let count_con = 0 %>

            <div id="modificacion_estatus" class="notification is-hidden"
                style="background-color: #5a6581; color:#ffffff;">
                <button id="btn_eliminar_estatus" class="delete"></button>
                ¡Estatus de pago modificado!
            </div>
            <div class="table-container">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="text-align: left;">
                                Motivo
                            </th>
                            <th style="text-align: left;">
                                Monto
                            </th>
                            <th style="text-align: left;">
                                Fecha Creación
                            </th>
                            <th style="text-align: left;">
                                Estatus
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let pago of pagos) { %>
                        <tr id="pagination-content">
                            <td>
                                <%= pago.motivoPago %>   
                            </td>
                            <td>
                                $ <%= pago.montoPagar.toLocaleString('mx', {
                                    minimumFractionDigits: 2,
                                    maximumFractionDigits: 2
                                }) %>
                            </td>
                            <td>
                                <%= pago.createdAt %>
                            </td>
                            <td>
                                <div class="field">
                                    <input id="estatus<%= count_con %>" type="checkbox" name="estatus"
                                        class="switch is-rounded" onclick="modify_status('<%= pago.IDPagosExtras %>',
                                        checked)" <% if (pago.pagoExtraActivo == 1)  { %> checked="checked" <% } %>>
                                    <label for="estatus<%= count_con %>"></label>
                                </div>
                            </td>
                        </tr>
                        <% count_con++ %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                <a class="pagination-previous" id="prev-button">Anterior</a>
                <a class="pagination-next" id="next-button">Siguiente</a>
                <ul class="pagination-list" id="pagination-list">
                    <div id="pagination-numbers">

                    </div>
                </ul>
            </nav>
        </div>

        <div id="sin_solicitudes" class="is-hidden">
            <% let count_sin = 0 %>
            <div id="eliminacion" class="notification is-hidden" style="background-color: #5a6581; color:#ffffff;">
                <button id="btn_eliminar_notificacion" class="delete"></button>
                ¡Otro pago eliminado!
            </div>

            <% if (pagosNoAsignados.length == 0) { %>
            <article id="inexistente" class="message"
                style="background-color: #5a6581; color:#ffffff; text-align: center;">
                <div class="message-header" style="background-color: #3e4d72; color:#ffffff; text-align: center;">
                    <p>No existen otros pagos modificables / eliminables. </p>
                    <button id="btn_eliminar_mensaje" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body" style="color:#ffffff;">
                    Actualmente no existen otros pagos a los que se puedan modificar su motivo, monto o que se puedan
                    eliminar.
                </div>
            </article>
            <% } %>

            <p class="is-hidden" id="pagosNoAsignados_length"><%= pagosNoAsignados.length %></p>

            <% for (let pago of pagosNoAsignados) { %>
            <table class="table ficha-table is-fullwidth" id="<%= pago.IDPagosExtras %>">
                <div class="columns is-vcentered">
                    <div class="column is-6">
                        <p class="help is-hidden has-text-danger-dark" id="ayuda_motivo<%= count_sin %>"
                            style="padding: 0.5em; margin-bottom: -2em;">
                            Por favor escribe un concepto para el otro pago
                        </p>
                    </div>
                    <div class="column is-6">
                        <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_vacio<%= count_sin %>"
                            style="padding: 0.5em; margin-bottom: -2em;">
                            Por favor escribe un monto válido para el otro pago
                        </p>
                        <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_negativo<%= count_sin %>"
                            style="padding: 0.5em; margin-bottom: -2em;">
                            Por favor escribe un número mayor a 0
                        </p>
                        <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_exponente<%= count_sin %>"
                            style="padding: 0.5em; margin-bottom: -2em;">
                            Por favor escribe un motivo sin exponente
                        </p>
                    </div>
                </div>
                
                <form action="/pagos/pagos_extra/modify" method="POST" class="form-modificar">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" id="id" name="id" value="<%= pago.IDPagosExtras %>">
                    <tr>
                        <td>
                            <div class="columns is-vcentered">
                                <div class="column is-6">
                                    <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0"
                                    for="motivo<%= count_sin %>">
                                        MOTIVO
                                    </p>
                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input name="motivo" class="input is-medium" type="text"
                                                id="motivo<%= count_sin %>" placeholder="Concepto del otro pago"
                                                value="<%= pago.motivoPago %>" style=" border: 2px solid #7c7f80;">
                                            <span class="icon is-small is-left">
                                                <i class="fa-solid fa-circle-info" style="color: #95404c;"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0"
                                        for="monto<%= count_sin %>">
                                            MONTO
                                    </p>
                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input name="monto" class="input is-medium" type="number" step="any"
                                                id="monto<%= count_sin %>" placeholder="Monto del otro pago"
                                                value="<%= pago.montoPagar.toFixed(2) %>" style="border: 2px solid
                                                #7c7f80;">
                                            <span class="icon is-small is-left">
                                                <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                                            </span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="columns is-vcentered">
                                        <div class="column is-6">
                                            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0"
                                                for="monto<%= count_sin %>">
                                                    FECHA CREACIÓN
                                            </p>
                                        </div>
                                        <div class="column">
                                            <p class="is-size-5">
                                                <%= pago.createdAt %>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="columns is-vcentered">
                                    <div class="column is-6" style="text-align: left;">
                                        <div class="is-hidden" id="modificar<%= count_sin %>">
                                            <button type="submit" class="button is-medium is-responsive"
                                                style="font-size: medium;" id="Boton_modificar<%= count_sin %>">
                                                <span>GUARDAR</span>
                                                <span class="icon is-large">
                                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                            </form>
                            <div class="column is-6" style="text-align: right;">
                                <button type="submit" class="js-modal-trigger button is-medium is-responsive"
                                    style="font-size: medium; background-color: #000000;"
                                    id="Boton_eliminar<%= count_sin %>"
                                    data-target="modal-confirmar-eliminar<%= count_sin %>">
                                    <span class="icon is-large">
                                        <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                    </span>
                                    <span>ELIMINAR</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
        </table>

        <div id="modal-confirmar-eliminar<%= count_sin %>" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title" style="text-align: center;">
                        <label class="label is-large has-text-danger has-text-weight-semibold">
                            ELIMINAR OTRO PAGO
                        </label>
                    </p>
                    <button class="delete" aria-label="delete"></button>
                </header>
                <section class="modal-card-body">
                    <p class="is-size-5" style="text-align: center;">
                        <strong>¡Esta acción no se puede deshacer!</strong>
                    </p>
                    <br>
                    <p class="is-size-5" style="text-align: center;">
                        Los datos del otro pago a eliminar son los siguientes:
                    </p>
                    <br>
                    <div class="columns is-vcentered">
                        <div class="column is-half">
                            <p class="is-size-5" style="text-align: center;">
                                <strong>Motivo: </strong><%= pago.motivoPago %>
                            </p>
                        </div>
                        <div class=" column is-half">
                            <p class="is-size-5" style="text-align: center;">
                                <strong>Monto a Pagar: </strong>$ <%= pago.montoPagar.toLocaleString('mx', {
                                    minimumFractionDigits: 2,
                                    maximumFractionDigits: 2
                                }) %>
                            </p>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column is-4 is-offset-1" style="text-align: center;">
                            <label class="label is-medium">
                                Fecha Creación:
                            </label>
                        </div>
                        <div class="column">
                            <p class="is-size-5">
                                <%= pago.createdAt %>
                            </p>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot" style="justify-content: center;">
                    <div class="field is-grouped">
                        <p class="control">
                            <button class="button is-medium is-responsive" aria-label="close"
                                style="font-size: large; margin: 8px 2px;">
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-left" style="color: #ffffff;"></i>
                                </span>
                                <span>REGRESAR</span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-medium is-responsive"
                                onclick="eliminar('<%= pago.IDPagosExtras %>')"
                                style="font-size: large; margin: 8px 2px; background-color: #000000;">
                                <span class="icon is-large">
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </span>
                                <span>ELIMINAR</span>
                            </button>
                        </p>
                </footer>
            </div>
        </div>
        <% count_sin++ %>
        <% } %>
    </div>
    </div>
</section>
<%- include('../includes/foot.ejs') %>
<script type="text/javascript" src="/js/pagination.js"></script>
<script type="text/javascript" src="/js/modal_popup.js"></script>
<script type="text/javascript" src="/js/pagos_extras.js"></script>