<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<style>
    input:focus {
        border: 2px solid #910106 !important
    }

    input:hover {
        border: 2px solid #5a6581 !important;
    }

    .button:hover {
        background-color: #5a6581 !important;
        border-color: #910106 !important;
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <h3 class="title is-3">Pagos Extra</h3>
            </div>
            <% if (contienePermiso(permisos, 'Registrar Pago Extra') == true) { %>
            <div class="column is-offset-4">
                <p class="control">
                    <a class="button is-rounded is-responsive" style="font-size: large;"
                        href="/pagos/registrar_pago_extra">
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-plus"></i>
                        </span>
                        <span>
                            Registrar Pago Extra
                        </span>
                    </a>
                </p>
            </div>
            <% } %>
        </div>
        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
        <div class="tabs is-boxed">
            <ul>
                <li class="is-active" id="nav_con_solicitudes">
                    <a onclick="con_solicitudes()">
                        <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                        <span>Pagos Con Solicitudes</span>
                    </a>
                </li>
                <li id="nav_sin_solicitudes">
                    <a onclick="sin_solicitudes()">
                        <span class="icon is-small"><i class="fa-regular fa-pen-to-square"></i></span>
                        <span>Pagos Sin Solicitudes</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="con_solicitudes">
            <% let count_con = 0 %>
            <% let options = { year: 'numeric', month: 'long', day: 'numeric' }; %>

            <div id="modificacion_estatus" class="notification is-hidden"
                style="background-color: #5a6581; color:#ffffff;">
                <button id="btn_eliminar_estatus" class="delete"></button>
                ¡Estatus de Pago Modificado!
            </div>
            <table class="table is-bordered is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>
                            <p class="is-size-5">
                                <strong>Motivo: </strong>
                            </p>
                        </th>
                        <th>
                            <p class="is-size-5">
                                <strong>Monto: </strong>
                            </p>
                        </th>
                        <th>
                            <p class="is-size-5">
                                <strong>Fecha Creación: </strong>
                            </p>
                        </th>
                        <th style="width: 16%">
                            <p class="is-size-5">
                                Estatus:
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let pago of pagos) { %>
                    <tr>
                        <td>
                            <div class="column">
                                <%= pago.motivoPago %>
                            </div>
                        </td>
                        <td>
                            <div class="column">
                                $ <%= pago.montoPagar.toLocaleString('mx') %>
                            </div>
                        </td>
                        <td>
                            <div class="column">
                                <%= pago.createdAt.toLocaleDateString("es-MX", options) %>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <input id="estatus<%= count_con %>" type="checkbox" name="estatus"
                                    class="switch is-rounded" onclick="modify_status('<%= pago.IDPagosExtras %>',
                                    checked)"
                                    <% if (pago.pagoExtraActivo == 1)  { %> checked="checked" <% } %>>
                                <label for="estatus<%= count_con %>"></label>
                            </div>
                        </td>
                    </tr>
                    <% count_con++ %>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div id="sin_solicitudes" class="is-hidden">
            <% let count_sin = 0 %>
            <div id="eliminacion" class="notification is-hidden" style="background-color: #5a6581; color:#ffffff;">
                <button id="btn_eliminar_notificacion" class="delete"></button>
                ¡Pago extra eliminado!
            </div>

            <% if (pagosNoAsignados.length == 0) { %>
            <article id="inexistente" class="message"
                style="background-color: #5a6581; color:#ffffff; text-align: center;">
                <div class="message-header" style="background-color: #3e4d72; color:#ffffff; text-align: center;">
                    <p>No existen pagos extras modificables / eliminables </p>
                    <button id="btn_eliminar_mensaje" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body" style="color:#ffffff;">
                    Actualmente no existen pagos extra que se puedan modificar su motivo, monto o que se puedan
                    eliminar.
                </div>
            </article>
            <% } %>

            <% for (let pago of pagosNoAsignados) { %>
            <table class="table is-hoverable is-fullwidth" id="<%= pago.IDPagosExtras %>">
                <tbody>
                    <div class="columns is-vcentered">
                        <div class="column is-5">
                            <p class="help is-hidden has-text-danger-dark" id="ayuda_motivo<%= count_sin %>"
                                style="padding: 0.5em; margin-bottom: -2em;">Por favor
                                escribe un concepto de Pago Extra.</p>
                        </div>
                        <div class="column">
                            <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_vacio<%= count_sin %>"
                                style="padding: 0.5em; margin-bottom: -2em;">
                                Por favor
                                escribe un monto válido del Pago Extra.</p>
                            <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_negativo<%= count_sin %>"
                                style="padding: 0.5em; margin-bottom: -2em;">Por
                                favor escribe un número mayor a 0.</p>
                            <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_exponente<%= count_sin %>"
                                style="padding: 0.5em; margin-bottom: -2em;">Por favor escribe un motivo sin exponente.
                            </p>
                        </div>
                    </div>
                    <form action="/pagos/pagos_extra/modify" method="POST" class="form-modificar">
                        <input type="hidden" id="id" name="id" value="<%= pago.IDPagosExtras %>">
                        <tr style="display: table-cell;">
                            <td style="display: block; border: none">
                                <div class="columns is-vcentered">
                                    <div class="column" style="text-align: center;">
                                        <label class="label is-medium" for="motivo<%= count_sin %>">Motivo: </label>
                                        <div class="field">
                                            <p class="control has-icons-left">
                                                <input name="motivo" class="input is-medium" type="text"
                                                    id="motivo<%= count_sin %>" placeholder="Concepto del Pago Extra"
                                                    value="<%= pago.motivoPago %>" style=" border: 2px solid #7c7f80;">
                                                <span class="icon is-small is-left">
                                                    <i class="fa-solid fa-circle-info" style="color: #95404c;"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column" style="text-align: center;">
                                        <label class="label is-medium" for="monto<%= count_sin %>">Monto:</label>
                                        <div class="field">
                                            <p class="control has-icons-left">
                                                <input name="monto" class="input is-medium" type="number" step="any"
                                                    id="monto<%= count_sin %>" placeholder="Monto del Pago Extra"
                                                    value="<%= pago.montoPagar.toFixed(2) %>" style="border: 2px solid
                                                    #7c7f80;">
                                                <span class="icon is-small is-left">
                                                    <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns is-vcentered">
                                    <div class="column is-4" style="text-align: center;">
                                        <label class="label is-medium">
                                            Fecha Creación:
                                        </label> 
                                    </div>
                                    <div class="column" style="text-align: center;">
                                        <p class="is-size-5">
                                            <%= pago.createdAt.toLocaleDateString("es-MX", options) %>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="display: table-cell;">
                            <td style="display: block;">
                                <div class="columns is-vcentered">
                                    <div class="column" style="text-align: center;">
                                        <button type="submit" class="button is-rounded is-medium is-responsive"
                                            style="font-size: medium;" id="Boton_modificar<%= count_sin %>">
                                            <span>Modificar</span>
                                            <span class="icon is-large">
                                                <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                    </form>
                    </td>
                    <td style="display: block;">
                        <div class="columns is-vcentered">
                            <div class="column" style="text-align: center;">
                                <button type="submit" class="js-modal-trigger button is-rounded is-medium is-responsive"
                                    style="font-size: medium; background-color: #000000;"
                                    id="Boton_eliminar<%= count_sin %>"
                                    data-target="modal-confirmar-eliminar<%= count_sin %>">
                                    <span class="icon is-large">
                                        <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                    </span>
                                    <span>Eliminar</span>
                                </button>
                            </div>
                        </div>
                    </td>
        </div>
        </tr>
        </tbody>
        </table>
        <div id="modal-confirmar-eliminar<%= count_sin %>" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title" style="text-align: center;">
                        <strong> Eliminar Pago Extra</strong>
                    </p>
                    <button class="delete" aria-label="delete"></button>
                </header>
                <section class="modal-card-body">
                    <p class="is-size-5" style="text-align: center;">
                        <strong>¡Esta acción no se puede deshacer!</strong>
                    </p>
                    <br>
                    <p class="is-size-5" style="text-align: center;">
                        Los datos del pago extra a eliminar son los siguientes:
                    </p>
                    <br>
                    <div class="columns is-vcentered">
                        <div class="column is-half">
                            <p class="is-size-5" style="text-align: center;">
                                <strong>Motivo: </strong><%= pago.motivoPago %>
                            </p>
                        </div>
                        <div class=" column is-half">
                            <p class="is-size-5" style="text-align: center;">
                                <strong>Monto a Pagar: </strong>$ <%= pago.montoPagar.toLocaleString('mx')%>
                            </p>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column is-4 is-offset-1" style="text-align: center;">
                            <label class="label is-medium">
                                Fecha Creación:
                            </label>
                        </div>
                        <div class="column">
                            <p class="is-size-5">
                                <%= pago.createdAt.toLocaleDateString("es-MX", options) %>
                            </p>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot" style="justify-content: center;">
                    <div class="field is-grouped">
                        <p class="control">
                            <button class="button is-rounded is-medium is-responsive" aria-label="close"
                                style="font-size: large; margin: 8px 2px;">
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-left" style="color: #ffffff;"></i>
                                </span>
                                <span>Regresar</span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-rounded is-medium is-responsive"
                                onclick="eliminar('<%= pago.IDPagosExtras %>')"
                                style="font-size: large; margin: 8px 2px; background-color: #000000;">
                                <span class="icon is-large">
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </span>
                                <span>Eliminar</span>
                            </button>
                        </p>
                </footer>
            </div>
        </div>
        <% count_sin++ %>
        <% } %>
    </div>
    </div>
</section>
<script type="text/javascript" src="/js/modal_popup.js"></script>
<script>
    function con_solicitudes() {
        // Cambias las bars que estan activas
        const tab_sin_solicitudes = document.querySelector('#nav_sin_solicitudes');
        const tab_con_solicitudes = document.querySelector('#nav_con_solicitudes');

        tab_sin_solicitudes.classList.remove('is-active');
        tab_con_solicitudes.classList.add('is-active');

        // Quitar la tabla sin solicitudes
        const tabla_sin_solicitudes = document.querySelector('#sin_solicitudes');
        tabla_sin_solicitudes.classList.add('is-hidden');

        // Poner la tabla con solicitudes
        const tabla_con_solicitudes = document.querySelector('#con_solicitudes');
        tabla_con_solicitudes.classList.remove('is-hidden');
    }

    function sin_solicitudes() {
        // Cambias las bars que estan activas
        const tab_sin_solicitudes = document.querySelector('#nav_sin_solicitudes');
        const tab_con_solicitudes = document.querySelector('#nav_con_solicitudes');

        tab_sin_solicitudes.classList.add('is-active');
        tab_con_solicitudes.classList.remove('is-active');

        // Activar la tabla sin solicitudes
        const tabla_sin_solicitudes = document.querySelector('#sin_solicitudes');
        tabla_sin_solicitudes.classList.remove('is-hidden');

        // Quitar la tabla con solicitudes
        const tabla_con_solicitudes = document.querySelector('#con_solicitudes');
        tabla_con_solicitudes.classList.add('is-hidden');
    }

    for (count = 0; count < '<%= pagosNoAsignados.length %>'; count++) {
        // Crear constantes para acceder a HTML
        const bt_Modificar = document.querySelector('#Boton_modificar' + count);
        const motivo = document.querySelector('#motivo' + count);
        const monto = document.querySelector('#monto' + count);
        const ayuda_motivo = document.querySelector('#ayuda_motivo' + count);
        const ayuda_monto_vacio = document.querySelector('#ayuda_monto_vacio' + count);
        const ayuda_monto_negativo = document.querySelector('#ayuda_monto_negativo' + count);
        const ayuda_monto_exponente = document.querySelector('#ayuda_monto_exponente' + count);

        // Checar si hay contenido dentro del input, pata desactivar el boton
        function checar_contenido() {
            bt_Modificar.disabled = motivo.value.length === 0 || monto.value.length === 0 || monto.value < 0 ||
                monto.value === '0' || monto.value === '-0';
        }

        // Activar mensaje si el motivo no tiene input
        function mensaje_motivo() {
            if (motivo.value.length === 0) {
                ayuda_motivo.classList.remove('is-hidden');
            } else {
                ayuda_motivo.classList.add('is-hidden');
            }
        }

        function mensaje_monto() {
            ayuda_monto_negativo.style.marginBottom = '-2em';
            if (monto.value.length === 0) {
                ayuda_monto_vacio.classList.remove('is-hidden');
            } else {
                ayuda_monto_vacio.classList.add('is-hidden');
            }

            if (monto.value < 0) {
                ayuda_monto_negativo.classList.remove('is-hidden');
            } else if (monto.value === '0' || monto.value === '-0') {
                ayuda_monto_negativo.classList.remove('is-hidden');
            } else {
                ayuda_monto_negativo.classList.add('is-hidden');
            }

            if (monto.value.includes('e') || monto.value.includes('E')) {
                bt_Modificar.disabled = true;
                ayuda_monto_exponente.classList.remove('is-hidden');

                if (monto.value < 0) {
                    ayuda_monto_negativo.style.marginBottom = '-1em';
                }
            } else {
                ayuda_monto_exponente.classList.add('is-hidden');
            }
        }

        const pago = document.querySelector('#pago' + count)

        const boton_eliminar = document.querySelector('#Boton_eliminar' + count);

        // Detectar si el usuario maneja input y llamar las funciones anteriores
        motivo.addEventListener('input', checar_contenido);
        monto.addEventListener('input', checar_contenido);
        motivo.addEventListener('input', mensaje_motivo);
        monto.addEventListener('input', mensaje_monto);

    }

    const modify_status = (id, estatus) => {
        //El token de protección CSRF
        const csrf = document.getElementById('_csrf').value;

        fetch('/pagos/pagos_extra/modify_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'csrf-token': csrf
                },
                body: JSON.stringify({
                    id: id,
                    estatus: estatus
                })
            })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Error en la respuesta del servidor');
                }

                document.getElementById('modificacion_estatus').classList.remove('is-hidden');
                $('html, body').animate({
                    scrollTop: 0
                }, 'slow');
            })
            .catch(error => {
                console.error('Error en la petición fetch:', error);
            });
    };

    const eliminar = (id) => {
        //El token de protección CSRF
        const csrf = document.getElementById('_csrf').value;

        // Enviar los datos al servidor
        fetch('/pagos/pagos_extra/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'csrf-token': csrf
                },
                body: JSON.stringify({
                    id: id
                })
            })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Error en la respuesta del servidor');
                }

                const table = document.getElementById(id);

                if (table) {
                    table.remove();
                } else {
                    console.error(`No se encontró la fila ${id}.`);
                }

                document.getElementById('eliminacion').classList.remove('is-hidden');
                $('html, body').animate({
                    scrollTop: 0
                }, 'slow');
            })
            .catch(error => {
                console.error('Error en la petición fetch:', error);
            });
    };

    const notifiacion_eliminacion = document.querySelector('#btn_eliminar_notificacion');

    if (notifiacion_eliminacion) {
        notifiacion_eliminacion.addEventListener('click', () => {
            document.getElementById('eliminacion').classList.add('is-hidden');
        })
    };

    const notifiacion_estatus = document.querySelector('#btn_eliminar_estatus');

    if (notifiacion_estatus) {
        notifiacion_estatus.addEventListener('click', () => {
            document.getElementById('modificacion_estatus').classList.add('is-hidden');
        })
    };

    const mensaje = document.querySelector('#btn_eliminar_mensaje');

    if (mensaje) {
        mensaje.addEventListener('click', () => {
            document.getElementById('inexistente').classList.add('is-hidden');
        })
    };
</script>