<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    .button:hover {
        background-color: #5a6581 !important;
        border-color: #910106 !important;
    }

    .cerrar-sesion-button:hover {
    border: solid #ffffff !important;
    background-color: #000000 !important;
    }
</style>

<section class="section">
    <div class="columns">
        <div class="column is-narrow">
            <a id="Boton_regresar" type="submit" class="is-responsive"
                onclick="regresar()">
                <span class="icon">
                    <i class="fas fa-arrow-left fa-2x" style="margin-top: 0.5em;"></i></i>
                </span>
            </a>
        </div>
        <div class="column">
            <label class="label is-large has-text-danger has-text-weight-semibold">REGISTRAR PAGO MANUAL</label>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-one-fifth">
            <div class="columns">
                <div class="column">
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">
                            NOMBRE
                        </p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <%= alumno[0].Nombre %> <%= alumno[0].Apellidos %>
                        </p>
                        <br>
                        <p class="has-text-grey has-text-weight-medium">
                            MATRÍCULA
                        </p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <%= alumno[0].Matricula %>
                        </p>
                    </div>
                </div>
            </div>
            <div id="info_pago_normal">
                <% if (alumno[0].Matricula[0] == '1' && deuda.length != 0) { %>
                    <label class="label is-medium has-text-danger has-text-weight-semibold">FICHA ACTUAL</label>
                    <table class="table ficha-table is-fullwidth" style="border-radius: 10px;">
                        <tr>
                            <td style="padding: 5px 15px">
                                <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                    FECHA LÍMITE
                                </p>
                                <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                   <%= deuda[0].fechaLimitePago %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px 15px">
                                <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                    MONTO A PAGAR
                                </p>
                                <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                    $<%= deuda[0].montoAPagar.toLocaleString('mx', {
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    }) %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px 15px">
                                <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                    MONTO PAGADO
                                </p>
                                <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                    $<%= deuda[0].montoPagado.toLocaleString('mx', {
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    }) %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px 15px">
                                <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                    MONTO PENDIENTE
                                </p>
                                <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                    $<%= (deuda[0].montoAPagar - deuda[0].montoPagado).toLocaleString('mx', {
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    }) %>
                                </p>
                            </td>
                        </tr>
                    </table>
                <% } %>
                <% if (alumno[0].Matricula[0] == '8' && diplomado.length != 0) { %>
                    <label class="label is-medium has-text-danger has-text-weight-semibold">CURSANDO</label>
                    <table class="table ficha-table is-fullwidth">
                        <tr>
                            <td>
                                <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                    DIPLOMADO
                                </p>
                                <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                    <%= diplomado[0].nombreDiplomado %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                    PRECIO
                                </p>
                                <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                    $<%= diplomado[0].precioDiplomado.toLocaleString('mx', {
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    }) %>
                                </p>
                            </td>
                        </tr>
                    </table>
                <% if (pagoDiplomado.length != 0) { %>
                    <label class="label is-medium has-text-danger has-text-weight-semibold">PAGOS ANTERIORES</label>
                    <table class="table ficha-table is-fullwidth"
                        style="margin-left: auto; margin-right: auto;">
                        <thead>
                            <th>
                                Fecha de Pago
                            </th>
                            <th>
                                Monto
                            </th>
                        </thead>
                        <tbody>
                        <% for (let pago of pagoDiplomado) { %>
                            <tr>
                                <td>
                                    <%= pago.fechaPago %>
                                </td>
                                <td>
                                    $<%= pago.montoPagado.toLocaleString('mx', {
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2
                                                    }) %>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                <% } %>
                <% } %>
                <% if (deuda.length == 0 && colegiatura.length != 0) { %>
                <div style="text-align: center;">
                    <span>
                        <i class="fa-solid fa-circle-check fa-2xl" style="color: #17b585;"></i>
                    </span>
                    <span class="is-size-5">
                        <strong>
                            Pagos Completos
                        </strong>
                    </span>
                </div>
                <% } %>
            </div>
            <div id="info_pago_extra" class="is-hidden">
                <% if (solicitudes.length != 0)  { %>
                    <label class="label is-medium has-text-danger has-text-weight-semibold">PENDIENTES</label>
                    <table class="table ficha-table is-fullwidth">
                        <thead>
                            <th style="text-align: left;">
                                Motivo
                            </th>
                            <th style="text-align: left;">
                                Monto
                            </th>
                        </thead>
                        <tbody>
                            <% for (let solicitud of solicitudes) { %>
                                <tr>
                                    <td>
                                        <%= solicitud.motivoPago %>
                                    </td>
                                    <td>
                                        $<%= solicitud.montoPagar.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
        <div class="column is-offset-1">
            <div class="tabs is-boxed">
                <ul>
                    <li class="is-active" id="nav_pago_normal">
                        <a onclick="pago_normal()">
                            <% if (alumno[0].Matricula[0] == 1) { %>
                            <span class="icon is-small"><i class="fa-solid fa-clipboard-user"></i></span>
                            <span>Pago Colegiatura</span>
                            <% } else if (alumno[0].Matricula[0] == 8) {%>
                            <span class="icon is-small"><i class="fa-solid fa-chalkboard-user"></i></span>
                            <span>Pago Diplomado</span>
                            <% } %>
                        </a>
                    </li>
                    <li id="nav_pago_extra">
                        <a onclick="pago_extra()">
                            <span class="icon is-small"><i class="fa-solid fa-clipboard-question"></i></span>
                            <span>Otros Pagos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- PAGOS NORMALES (COLEGIATURA / DIPLOMADO)-->
            <div id="pago_normal">
                <% if (diplomado.length != 0 || (colegiatura.length != 0 && deuda.length != 0)) { %>
                <% if (colegiatura.length != 0) { %>
                <form action="/pagos/registrar_pago_manual/colegiatura" method="POST">
                    <input type="hidden" name="IDColegiatura" value="<%= colegiatura[0].IDColegiatura %>">
                    <% } else if (diplomado.length != 0) { %>
                    <form action="/pagos/registrar_pago_manual/diplomado" method="POST">
                        <input type="hidden" name="IDDiplomado" value="<%= diplomado[0].IDDiplomado %>">
                        <% } %>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="matricula" value="<%= alumno[0].Matricula %>">
                        <div class="columns">
                            <div class="column is-3">
                                <label class="label is-medium" for="motivo_col">Motivo: </label>
                            </div>
                            <div class="column">
                                <p class="help is-hidden has-text-danger-dark" id="ayuda_motivo"
                                    style="padding: 0.5em; margin-top: -1em;">Por favor
                                    escribe un motivo del pago del alumno</p>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <% if (pago_col == true) { %>
                                        <input name="motivo" class="input is-medium" type="text" id="motivo_col"
                                            placeholder="Concepto del pago" value="Colegiatura" readonly>
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-circle-info" style="color: #95404c;"></i>
                                        </span>
                                        <% } else { %>
                                        <input name="motivo" class="input is-medium" type="text" id="motivo_col"
                                            placeholder="Concepto del pago" value="Diplomado" readonly>
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-circle-info" style="color: #95404c;"></i>
                                        </span>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="label is-medium" for="monto_col">Monto:</label>
                            </div>
                            <div class="column">
                                <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_vacio"
                                    style="padding: 0.5em; margin-top: -1em;">
                                    Por favor
                                    escribe un monto válido para el pago</p>
                                <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_negativo"
                                    style="padding: 0.5em; margin-top: -1em;">Por
                                    favor escribe un número mayor a 0</p>
                                <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_exponente"
                                    style="padding: 0.5em; margin-top: -1em;">Por favor escribe un monto sin
                                    exponente
                                </p>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <% if (pago_col == true) { %>
                                        <input name="monto" class="input is-medium" type="number" step="any"
                                            id="monto_col" placeholder="Monto pagado"
                                            value="<%= (deuda[0].montoAPagar - deuda[0].montoPagado).toFixed(2) %>">
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                                        </span>
                                        <% } else { %>
                                        <input name="monto" class="input is-medium" type="number" step="any"
                                            id="monto_col" placeholder="Monto pagado"
                                            value="<%= diplomado[0].precioDiplomado.toFixed(2) %>">
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                                        </span>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="label is-medium" for="fechapago_col">Fecha de Pago:</label>
                            </div>
                            <div class="column">
                                <p class="help is-hidden has-text-danger-dark" id="ayuda_fecha_vacia_col"
                                    style="padding: 0.5em; margin-top: -1em;">
                                    Por favor selecciona una fecha</p>
                                <input name="fecha" id="fechapago_col" class="input is-medium" type="date">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="label is-medium" for="metodo_col">Método de Pago: </label>
                            </div>
                            <div class="column">
                                <div class="control has-icons-left">
                                    <div class="select is-medium" style="width: 110%;">
                                        <select name="metodo" id="metodo_col" style="width: 110%;">
                                            <option value="Tarjeta Terminal">
                                                Tarjeta Terminal
                                            </option>
                                            <option value="Efectivo">
                                                Efectivo
                                            </option>
                                            <option value="Transferencia">
                                                Transferencia
                                            </option>
                                            <option value="Déposito Bancario">
                                                Déposito Bancario
                                            </option>
                                        </select>
                                    </div>
                                    <div class="icon is-medium is-left">
                                        <i class="fa-solid fa-wallet" style="color: #95404c;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <label class="label is-medium" for="nota_col">Nota (opcional): </label>
                            </div>
                            <div class="column">
                                <textarea name="nota" id="nota_col" class="textarea is-medium" rows="2"
                                    placeholder="Escribe tu nota aquí."></textarea>
                            </div>
                        </div>

                        <!-- MODAL -->
                        <div class="columns">
                            <div class="column is-6"></div>
                            <div class="column is-6">
                                <% if (pago_col == true) { %>
                                    <button class="js-modal-trigger confirmar-button is-responsive"
                                        type="button" style="font-size: large; padding-left: 1.5em;" id="boton_pago_col"
                                        data-target="modal-confirmar-registro_colegiatura" type="button">
                                        <span>REGISTRAR PAGO</span>
                                        <span class="icon is-large">
                                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                        </span>
                                    </button>
                                <% } else { %>
                                    <button class="js-modal-trigger confirmar-button is-responsive"
                                        type="button" style="font-size: large; padding-left: 1.5em; background-color: #000000;" id="boton_pago_col"
                                        data-target="modal-confirmar-registro_colegiatura">
                                        <span>REGISTRAR PAGO</span>
                                        <span class="icon is-large">
                                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                        </span>
                                    </button>
                                <% } %>
                            </div>
                        </div>
                        <div id="modal-confirmar-registro_colegiatura" class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title" style="text-align: center;">
                                        <% if (alumno[0].Matricula[0] == 1) { %>
                                            <label class="label is-large has-text-danger has-text-weight-semibold">
                                                REGISTRAR PAGO: COLEGIATURA
                                            </label>
                                        <% } else if (alumno[0].Matricula[0] == 8) {%>
                                            <label class="label is-large has-text-danger has-text-weight-semibold">
                                                REGISTRAR PAGO: DIPLOMADO
                                            </label>
                                        <% } %>
                                    </p>
                                    <button type="button" class="delete" aria-label="delete"></button>
                                </header>
                                <section class="modal-card-body">
                                    <p class="is-size-5" style="text-align: center;">
                                        Los datos del pago del alumno son los siguientes:
                                    </p>
                                    <br>
                                    <div class="columns is-vcentered">
                                        <div class="column is-7">
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Nombre: </strong><%= alumno[0].Nombre %>
                                                <%= alumno[0].Apellidos %>
                                            </p>
                                        </div>
                                        <div class=" column is-5">
                                            <p class="is-size-5" style="text-align: center;">
                                                <strong>Matrícula: </strong><%= alumno[0].Matricula %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="columns is-vcentered">
                                        <div class="column is-half">
                                            <p class="is-size-5" style="text-align: center;" id="motivo_modal_col">
                                                <strong>Motivo: </strong>
                                            </p>
                                        </div>
                                        <div class=" column is-half">
                                            <p class="is-size-5" style="text-align: center;" id="monto_modal_col">
                                                <strong>Monto Pagado: </strong>
                                                
                                            </p>
                                        </div>
                                    </div>
                                    <div class="columns is-vcentered">
                                        <div class="column is-4 is-offset-1" style="text-align: center;">
                                            <label class="label is-medium">
                                                Fecha de Pago:
                                            </label>
                                        </div>
                                        <div class="column">
                                            <p class="is-size-5" id="fecha_modal_col" name="fecha">
                                                Execute Order 66
                                            </p>
                                        </div>
                                    </div>
                                    <div class="columns is-vcentered">
                                        <div class="column is-4 is-offset-1" style="text-align: center;">
                                            <label class="label is-medium">
                                                Método de Pago:
                                            </label>
                                        </div>
                                        <div class="column">
                                            <p class="is-size-5" id="metodo_modal_col">
                                                Tarjeta Terminal
                                            </p>
                                        </div>
                                    </div>
                                    <div class="columns is-vcentered">
                                        <div class="column is-4 is-offset-1" style="text-align: center;">
                                            <label class="label is-medium">
                                                Nota:
                                            </label>
                                        </div>
                                        <div class="column">
                                            <p class="is-size-5" id="nota_modal_col">
    
                                            </p>
                                        </div>
                                    </div>
                                </section>
                                <footer class="modal-card-foot" style="justify-content: center;">
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <button class="button is-medium is-responsive"
                                                aria-label="close" style="font-size: large; margin: 8px 2px;
                                                padding-left: 0.5em;"
                                                type="button">
                                                <span class="icon is-large">
                                                    <i class="fa-solid fa-circle-chevron-left"
                                                        style="color: #ffffff;"></i>
                                                </span>
                                                <span>REGRESAR</span>
                                            </button>
                                        </p>
                                        <p class="control">
                                            <button class="button is-medium is-responsive"
                                                style="font-size: large; margin: 8px 2px; background-color: #000000;
                                                padding-left: 0.7em;"
                                                type="submit">
                                                <span class="icon is-large">
                                                    <i class="fa-solid fa-cash-register"
                                                        style="color: #ffffff;"></i>
                                                </span>
                                                <span>REGISTRAR PAGO</span>
                                            </button>
                                        </p>
                                </footer>
                            </div>
                        </div>
                    </form>
                    <% } else if (diplomado.length == 0 && pago_col == false) { %>
                    <article id="no_cursa_diplomado" class="message"
                        style="background-color: #5a6581; color:#ffffff; text-align: center;">
                        <div class="message-header"
                            style="background-color: #3e4d72; color:#ffffff; text-align: center;">
                            <p>No se puede registrar un pago a este alumno.</p>
                            <button id="btn_cursa_diplomado" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body" style="color:#ffffff;">
                            Este alumno no se encuentra cursando un diplomado, por lo que no se puede registrar un
                            pago.
                        </div>
                    </article>
                    <% } else if (colegiatura.length == 0 && pago_col == true) { %>
                    <article id="no_colegiatura" class="message"
                        style="background-color: #5a6581; color:#ffffff; text-align: center;">
                        <div class="message-header"
                            style="background-color: #3e4d72; color:#ffffff; text-align: center;">
                            <p>No se puede registrar un pago a este alumno.</p>
                            <button id="btn_no_colegiatura" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body" style="color:#ffffff;">
                            Este alumno no tiene una colegiatura para el periodo <%= periodo[0].Nombre %>, por lo
                            que no se puede
                            registrar un pago de este tipo.
                        </div>
                    </article>
                    <% } else if (pago_col == true && deuda.length == 0) {%>
                    <article id="no_colegiatura" class="message"
                        style="background-color: #5a6581; color:#ffffff; text-align: center;">
                        <div class="message-header"
                            style="background-color: #3e4d72; color:#ffffff; text-align: center;">
                            <p>No se puede registrar un pago a este alumno.</p>
                            <button id="btn_no_colegiatura" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body" style="color:#ffffff;">
                            Este alumno ya pago todas sus fichas de la colegiatura del periodo
                            <%= periodo[0].Nombre %>.
                        </div>
                    </article>
                    <% } %>
            </div>

            <!-- PAGOS EXTRA -->
            <% if (pagos_extra) { %>
            <div id="pago_extra" class="is-hidden">
                <form action="/pagos/registrar_pago_manual/pago_extra" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="matricula" value="<%= alumno[0].Matricula %>">
                    <div class="columns">
                        <div class="column is-3">
                            <label class="label is-medium" for="pago">Otros Pagos:</label>
                        </div>
                        <div class="column">
                            <div class="control has-icons-left">
                                <div class="select is-medium" style="width: 110%;">
                                    <select name="pago" id="pago" style="width: 110%;">
                                        <% for (let pago of pagos_extra) { %>
                                        <option value="<%= pago.IDPagosExtras %>"
                                            data-monto="<%= pago.montoPagar.toLocaleString('mx', {
                                                minimumFractionDigits: 2,
                                                maximumFractionDigits: 2
                                             })  %>">
                                            <%= pago.motivoPago %></option>
                                        <% } %>
                                        <option value="custom">Otro</option>
                                    </select>
                                </div>
                                <div class="icon is-medium is-left">
                                    <i class="fa-solid fa-circle-info" style="color: #95404c;"></i>
                                </div>
                            </div>
                            
                            
                            <p class="help is-hidden has-text-danger-dark" id="ayuda_motivo_op"
                                style="padding: 0.5em; margin-top: 7px;">Por favor
                                escribe un motivo del pago del alumno</p>
                            <!-- Escribir motivo personalizado -->
                            <input name="motivo-custom" id="motivo-custom" class="input is-medium"
                                placeholder="Escribe tu motivo aquí." style="display: none; margin-top: 7px;">
                            </input>
                           
                       
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-3">
                            <label class="label is-medium" for="monto">Monto:</label>
                        </div>
                        <div class="column">
                            <div class="field">
                                <p class="control has-icons-left" id="monto-total" style="display: block;">
                                    <input name="monto" class="input is-medium" id="monto"
                                        placeholder="Monto" readonly
                                        value="<%= pagos_extra[0].montoPagar.toLocaleString('mx', {
                                                minimumFractionDigits: 2,
                                                maximumFractionDigits: 2
                                             }) %>">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                                    </span>
                                </p>
                            </div>

                            <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_vacio_op"
                                style="padding: 0.5em; margin-top: -1em;">
                                Por favor
                                escribe un monto válido para el pago</p>
                            <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_negativo_op"
                                style="padding: 0.5em; margin-top: -1em;">Por
                                favor escribe un número mayor a 0</p>
                            <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_exponente_op"
                                style="padding: 0.5em; margin-top: -1em;">Por favor escribe un monto sin
                                exponente
                            </p>
                            <!-- Escribir monto personalizado -->
                            <div class="field">
                                <p class="control has-icons-left" id="monto-custom-total" style="display: none;">
                                    <input name="monto-custom" id="monto-custom" class="input is-medium"
                                        placeholder="Escribe tu monto aquí." type="number" step="any">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-3">
                            <label class="label is-medium" for="fechapago">Fecha de Pago:</label>
                        </div>
                        <div class="column">
                            <p class="help is-hidden has-text-danger-dark" id="ayuda_fecha_vacia_extra"
                                style="padding: 0.5em; margin-top: -1em;">
                                Por favor selecciona una fecha </p>
                            <input name="fecha" id="fechapago" class="input is-medium" type="date">
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-3">
                            <label class="label is-medium" for="metodo">Método de Pago: </label>
                        </div>
                        <div class="column">
                            <div class="control has-icons-left">
                                <div class="select is-medium" style="width: 110%;">
                                    <select name="metodo" id="metodo" style="width: 110%;">
                                        <option value="Tarjeta Terminal">
                                            Tarjeta Terminal
                                        </option>
                                        <option value="Efectivo">
                                            Efectivo
                                        </option>
                                        <option value="Transferencia">
                                            Transferencia
                                        </option>
                                        <option value="Déposito Bancario">
                                            Déposito Bancario
                                        </option>
                                    </select>
                                </div>
                                <div class="icon is-medium is-left">
                                    <i class="fa-solid fa-wallet" style="color: #95404c;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-3">
                            <label class="label is-medium" for="nota">Nota (opcional): </label>
                        </div>
                        <div class="column">
                            <textarea name="nota" id="nota" class="textarea is-medium" rows="2"
                                placeholder="Escribe tu nota aquí."></textarea>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6"></div>
                        <div class="column is-6">
                            <button class="js-modal-trigger confirmar-button is-responsive" type="button"
                                style="font-size: large; padding-left: 1.5em;" id="Boton_registrar_pago_extra"
                                data-target="modal-confirmar-registro_extra" type="button">
                                <span>REGISTRAR PAGO</span>
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="modal-confirmar-registro_extra" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title" style="text-align: center;">
                                    <label class="label is-large has-text-danger has-text-weight-semibold">
                                        ACTUALIZAR PAGO: OTROS PAGOS
                                    </label>
                                </p>
                                <button type="button" class="delete" aria-label="delete"></button>
                            </header>
                            <section class="modal-card-body">
                                <p class="is-size-5" style="text-align: center;">
                                    Los datos del pago del alumno son los siguientes:
                                </p>
                                <br>
                                <div class="columns is-vcentered">
                                    <div class="column is-7">
                                        <p class="is-size-5" style="text-align: center;">
                                            <strong>Nombre: </strong><%= alumno[0].Nombre %>
                                            <%= alumno[0].Apellidos %>
                                        </p>
                                    </div>
                                    <div class=" column is-5">
                                        <p class="is-size-5" style="text-align: center;">
                                            <strong>Matrícula: </strong><%= alumno[0].Matricula %>
                                        </p>
                                    </div>
                                </div>
                                <div class="columns is-vcentered">
                                    <div class="column is-half">
                                        <p class="is-size-5" style="text-align: center;" id="motivo_modal">
                                            <strong>Motivo: </strong> <%= pagos_extra[0].motivoPago %>
                                        </p>
                                    </div>
                                    <div class=" column is-half">
                                        <p class="is-size-5" style="text-align: center;" id="monto_modal">
                                            <strong>Monto Pagado: </strong>
                                            $<%= pagos_extra[0].montoPagar.toLocaleString('mx', {
                                                minimumFractionDigits: 2,
                                                maximumFractionDigits: 2
                                             }) %>
                                        </p>
                                    </div>
                                </div>
                                <div class="columns is-vcentered">
                                    <div class="column is-4 is-offset-1" style="text-align: center;">
                                        <label class="label is-medium">
                                            Fecha de Pago:
                                        </label>
                                    </div>
                                    <div class="column">
                                        <p class="is-size-5" id="fecha_modal" name="fecha">
                                            Execute Order 66
                                        </p>
                                    </div>
                                </div>
                                <div class="columns is-vcentered">
                                    <div class="column is-4 is-offset-1" style="text-align: center;">
                                        <label class="label is-medium">
                                            Método de Pago:
                                        </label>
                                    </div>
                                    <div class="column">
                                        <p class="is-size-5" id="metodo_modal">
                                            Tarjeta Terminal
                                        </p>
                                    </div>
                                </div>
                                <div class="columns is-vcentered">
                                    <div class="column is-4 is-offset-1" style="text-align: center;">
                                        <label class="label is-medium">
                                            Nota:
                                        </label>
                                    </div>
                                    <div class="column">
                                        <p class="is-size-5" id="nota_modal">
    
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <footer class="modal-card-foot" style="justify-content: center;">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <button class="button is-medium is-responsive" aria-label="close"
                                            style="font-size: large; margin: 8px 2px;" type="button">
                                            <span class="icon is-large">
                                                <i class="fa-solid fa-circle-chevron-left"
                                                    style="color: #ffffff;"></i>
                                            </span>
                                            <span>REGRESAR</span>
                                        </button>
                                    </p>
                                    <p class="control">
                                        <button class="button is-medium is-responsive"
                                            style="font-size: large; margin: 8px 2px; background-color: #000000;"
                                            type="submit">
                                            <span class="icon is-large">
                                                <i class="fa-solid fa-cash-register" style="color: #ffffff;"></i>
                                            </span>
                                            <span>REGISTRAR PAGO</span>
                                        </button>
                                    </p>
                            </footer>
                        </div>
                </form>
            </div>
            <% } %>
        </div>
    </div>
</section>
<%- include('../includes/foot.ejs') %>
<script type="text/javascript" src="/js/modal_popup.js"></script>
<script type="text/javascript" src="/js/pago_manual_registro.js"></script>
<script type="text/javascript" src="/js/boton_regresar.js"></script>