<%- include('../includes/dropdown_admin.ejs') %>

    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20%;
            max-width: 50%;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .Pago-de-Colegiatura {
            color: white;
            background-color: #910106;
        }

        .Pago-de-Diplomado {
            color: white;
            background-color: #5a6581;
        }

        .Pago-a-Registrar {
            color: white;
            background-color: #ffc800;
        }

        .Pago-Extra {
            color: white;
            background-color: #16ac37;
        }

        table {
            width: 100%;
        }

        td {
            border: 5px solid rgb(255, 255, 255);
            /* Líneas más oscuras para la tabla */
            padding: 10px;
            font-size: 19px;
        }

        th {
            border: 2px solid black;
            /* Líneas más oscuras para la tabla */
            padding: 10px;
            font-size: 19px;
            background-color: rgb(255, 255, 255);
        }

        thead {
            background-color: black;
            font-style: italic;
            color: white;
        }

        .form-enviar-datos select {
            margin-left: 50%;
            margin-right: 50%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .my-button {
            background-color: #000000; /* El color del fondo */
            color: white; /* El color del texto */
        }

        .my-button:hover {
            background-color: #910106;
            color: #ffffff;
            border: solid #000000;
        }

    </style>

    <body>
        <% if (subir) { %>
            <form action="/pago/registroTransferencia" method="POST" enctype="multipart/form-data"
                onsubmit="return validateFile()">
                <input name="archivo" id="archivo" type="file" class="input" accept=".csv" style="display: none;"
                    onchange="updateLabel()">
                <label for="archivo" id="labelArchivo" class="button is-large is-rounded is-responsive"><i
                        class="fas fa-upload"></i> Elegir archivo</label>
                <button type="submit" class="button is-large is-rounded is-responsive">Subir archivo</button>
                <div id="error"></div>
            </form>

            <% } else if (revisar) { %>
                <div class="table-container">
                    <div id="tablaCompleta">
                        <p class="title is-4">Pagos ya Realizados</p>
                    <table class="ta">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Matricula</th>
                                <th>Referencia</th>
                                <th>Fecha y Hora</th>
                                <th>Importe</th>
                                <th>Deuda</th>
                                <th>Tipo de Pago</th>
                            </tr>
                        </thead>

                        <tbody>
                                <% datos.forEach((fila,index)=> { %>
                                    <% if (fila.tipoPago==='Pago Completo' ) { %>
                                        <tr id="fila<%= index %>" class="<%= fila.tipoPago.replace(/\s/g, '-') %>"></tr>
                                        <td>
                                            <%= fila.nombre %>
                                                <%= fila.apellidos %>
                                        </td>
                                        <td>
                                            <%= fila.Matricula %>
                                        </td>
                                        <td>
                                            <%= fila.Referencia %>
                                        </td>
                                        <td>
                                            <%= fila.fechaFormato %>
                                                <%= fila.Hora %>
                                        </td>
                                        <td>
                                            <%= fila.Importe %>
                                        </td>
                                        <td>
                                            <%= fila.deudaEstudiante %>
                                        </td>
                                        <td>
                                            <%= fila.tipoPago %>
                                        </td>
                                        </tr>
                                        <% } %>
                                            <% }); %>
                            </div>
                        </tbody>
                    </table>
                    <button id="toggleButton"  class="button is-large is-rounded is-responsive">Revisar No Completos</button>
                    </div>
                </div>

                <div class="table-container">
                    <div id="tablaNoCompleta">
                        <p class="title is-4">Pagos Faltantes</p>
                    <table class="ta">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Matricula</th>
                                <th>Referencia</th>
                                <th>Fecha y Hora</th>
                                <th>Importe</th>
                                <th>Deuda</th>
                                <th>Tipo de Pago</th>
                                <th>Nota</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                                <% datos.forEach((fila,index)=> { %>
                                    <% if (fila.tipoPago==='Pago de Colegiatura' || fila.tipoPago==='Pago a Registrar'
                                        || fila.tipoPago==='Pago de Diplomado' ) { %>
                                        <tr id="fila<%= index %>" class="<%= fila.tipoPago.replace(/\s/g, '-') %>">
                                            <td>
                                                <%= fila.nombre %>
                                                    <%= fila.apellidos %>
                                            </td>
                                            <td>
                                                <%= fila.Matricula %>
                                            </td>
                                            <td>
                                                <%= fila.Referencia %>
                                            </td>
                                            <td>
                                                <%= fila.fechaFormato %>
                                                    <%= fila.Hora %>
                                            </td>
                                            <td>
                                                <%= fila.Importe %>
                                            </td>
                                            <% if (fila.tipoPago==='Pago de Colegiatura' ||
                                                fila.tipoPago==='Pago a Registrar' ) { %>
                                                <td>
                                                    <%= fila.deudaEstudiante %>
                                                </td>
                                                <% } else { %>
                                                    <td>N/A</td>
                                                    <% } %>
                                                        <td>
                                                            <form action="/pago/resultadoTransferencia" method="POST"
                                                                id="form<%= index %>" class="form-enviar-datos">
                                                                <select name="tipoPago">
                                                                    <% if (fila.Matricula.charAt(0)==='1' ){ %>
                                                                        <option value="Pago de Colegiatura"
                                                                            <%=fila.tipoPago==='Pago de Colegiatura'
                                                                            ? 'selected' : '' %>>Pago de Colegiatura
                                                                        </option>
                                                                        <option value="Pago a Registrar"
                                                                            <%=fila.tipoPago==='Pago a Registrar'
                                                                            ? 'selected' : '' %>>Pago a Registrar
                                                                        </option>
                                                                        <option value="Pago Extra"
                                                                            <%=fila.tipoPago==='Pago Extra' ? 'selected'
                                                                            : '' %>>Pago Extra</option>
                                                                        <% } %>

                                                                            <% if (fila.Matricula.charAt(0)==='8' ){ %>
                                                                                <option value="Pago a Registrar"
                                                                                    <%=fila.tipoPago==='Pago a Registrar'
                                                                                    ? 'selected' : '' %>>Pago a
                                                                                    Registrar</option>
                                                                                <option value="Pago de Diplomado"
                                                                                    <%=fila.tipoPago==='Pago de Diplomado'
                                                                                    ? 'selected' : '' %>>Pago de
                                                                                    Diplomado</option>
                                                                                <option value="Pago Extra"
                                                                                    <%=fila.tipoPago==='Pago Extra'
                                                                                    ? 'selected' : '' %>>Pago Extra
                                                                                </option>
                                                                                <% } %>
                                                                </select>
                                                        </td>
                                                        <td>
                                                            <textarea name="nota"
                                                                placeholder="Escribe tu nota aquí"></textarea>
                                                        </td>
                                                        <td>
                                                            <input type="hidden" name="nombre"
                                                                value="<%= fila.nombre %> <%= fila.apellidos %>">
                                                            <input type="hidden" name="matricula"
                                                                value="<%= fila.Matricula %>">
                                                            <input type="hidden" name="referencia"
                                                                value="<%= fila.Referencia %>">
                                                            <input type="hidden" name="fecha"
                                                                value="<%= fila.fechaFormato %> <%= fila.Hora %>">
                                                            <input type="hidden" name="importe"
                                                                value="<%= fila.Importe %>">
                                                            <input type="hidden" name="deuda"
                                                                value="<%= fila.deudaEstudiante %>">
                                                            <button type="submit"
                                                                class="button my-button is-large is-rounded is-responsive">Enviar
                                                                datos</button>
                                                            </form>
                                                        </td>
                                        </tr>
                                        <% } %>
                                            <% }); %>
                        </tbody>
                    </table>
                </div>
                </div>
                <% } %>

                    <script>
                        function updateLabel() {
                            var archivo = document.getElementById('archivo');
                            var label = document.getElementById('labelArchivo');
                            label.innerHTML = '<i class="fas fa-upload"></i> ' + archivo.files[0].name;
                        }
                        function validateFile() {
                            var archivo = document.getElementById('archivo');
                            var error = document.getElementById('error');
                            if (archivo.files.length === 0) {
                                error.textContent = 'Por favor ingresa un archivo';
                                return false;
                            }
                            error.textContent = '';
                            return true;
                        }

                        // Inicialmente ocultar la tabla de Pagos No Completos
                        document.getElementById('tablaNoCompleta').style.display = 'none';

                        // Agregar un evento de click al botón
                        document.getElementById('toggleButton').addEventListener('click', function () {
                            // Comprobar si la tabla de Pago Completo está visible
                            var isTablaCompletaVisible = document.getElementById('tablaCompleta').style.display !== 'none';
                            console.log(isTablaCompletaVisible);
                            // Cambiar la visibilidad de las tablas
                            document.getElementById('tablaCompleta').style.display = isTablaCompletaVisible ? 'none' : 'block';
                            document.getElementById('tablaNoCompleta').style.display = isTablaCompletaVisible ? 'block' : 'none';
                        });



                        document.querySelectorAll('.form-enviar-datos select[name="tipoPago"]').forEach((select) => {
                            select.addEventListener('change', (event) => {
                                // Obtener el elemento tr ancestro más cercano del select
                                const fila = select.closest('tr');
                                // Asegurarse de que se encontró una fila
                                if (fila) {
                                    // Actualizar la clase de la fila basada en el valor seleccionado
                                    fila.className = event.target.value.replace(/\s/g, '-');
                                } else {
                                    console.error('No se encontró la fila correspondiente al select.');
                                }
                            });
                        });



                        document.querySelectorAll('.form-enviar-datos').forEach((form, index) => {
                            form.addEventListener('submit', (event) => {
                                event.preventDefault();
                                // Crear un objeto FormData con los datos del formulario
                                const formData = new FormData(form);
                                // Enviar los datos al servidor
                                fetch('/pago/resultadoTransferencia', {
                                    method: 'POST',
                                    body: formData
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Error en la respuesta del servidor');
                                        }
                                        // Si la respuesta fue exitosa, eliminar la fila de la tabla
                                        const filaId = form.parentElement.parentElement.id;
                                        const fila = document.getElementById(filaId);
                                        if (fila) {
                                            fila.remove();
                                        } else {
                                            console.error(`No se encontró la fila ${filaId}.`);
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error en la petición fetch:', error);
                                    });
                            });
                        });
                    </script>
    </body>