<%- include('../includes/dropdown_admin.ejs') %>

<% pagos.forEach((pago)=> { %>
    <div class="pago-registrar">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <h3><span style="color: black;">Matricula:</span>
                        <span style="color: gray;">
                            <%= pago.matricula %>
                        </span>
                    </h3>
                    <h3><span style="color: black;">Referencia:</span>
                        <span style="color: gray;">
                            <%= pago.referencia %>
                        </span>
                    </h3>
                    <h3><span style="color: black;">Fecha y Hora:</span>
                        <span style="color: gray;">
                            <%= pago.fecha %>
                        </span>
                    </h3>
                    <h3><span style="color: black;">Importe:</span>
                        <span style="color: gray;">
                            <%= pago.importe %>
                        </span>
                    </h3>
                    <h3><span style="color: black;">Tipo de Pago:</span>
                        <span style="color: gray;">
                            <%= pago.tipoPago %>
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
<% }) %>