<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol })
    %>

<style>
    .card {
        border: none !important;
    }
</style>

<section class="section">
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-centered has-background-danger has-text-white is-size-4">Estado de Cuenta</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <% if(matricula[0] == '1') { %>
                            <div class="box has-background-light" style="text-align: center;">
                                <p>CICLO ESCOLAR</p>
                                <p class="title is-2"><%= periodo.Nombre %></p>
                            </div>
                            <% if(estudianteProfesional.porcBeca !== 0) { %>
                                <div class="box has-background-light" style="text-align: center;">
                                    <p>PORCENTAJE DE BECA</p>
                                    <p class="title is-2"><%= estudianteProfesional.porcBeca %>%</p>
                                </div>
                        <% } %>
                        <% } else if (matricula[0] == '8') { %>
                            <% if (diplomados.length != 0) { %> 
                                <div class="box has-background-light" style="text-align: center;">
                                    <p class="title is-4"> <%= diplomados[0].nombreDiplomado %></p>
                                </div>
                                <div class="columns">
                                    <div class="column is-offset-1">
                                        <strong>
                                            Fecha Inicio:
                                        </strong>
                                        <%= diplomados[0].fechaInicio %>
                                    </div>
                                    <div class="column">
                                        <strong>
                                            Fecha Fin:
                                        </strong>
                                        <%= diplomados[0].fechaFin %>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="box has-background-light" style="text-align: center;">
                                    <p class="title is-4">Cursando Ningún Diplomado</p>
                                </div>
                                <div class="columns">
                                    <div class="column is-offset-1">
                                        <strong>
                                            Fecha Inicio:
                                        </strong>
                                        N/A
                                    </div>
                                    <div class="column">
                                        <strong>
                                            Fecha Fin:
                                        </strong>
                                        N/A
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                        <a href="/estado_cuenta/pagar">
                            <button class="button is-responsive">
                                <span>
                                    Realizar Pago
                                </span>
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-three-quarters">
            <div class="card">
                <div class="card-content">
                     <div class="tabs is-boxed">
                         <ul>
                             <% if(matricula[0] == '1') { %>
                             <li class="is-active" id="nav_deuda">
                                 <a onclick="deuda()">
                                     <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                                     <span>Colegiatura</span>
                                 </a>
                             </li>
                             <% } %>

                             <% if(matricula[0] == '1') { %>
                             <li id="nav_extras" <% if(matricula[0] == '8') { %>class="is-active" <%  }%>>
                                 <a onclick="extras()">
                                     <span class="icon is-small"><i class="fa-solid fa-list-ul"></i></span>
                                     <span>Cargos Extras</span>
                                 </a>
                             </li>
                             <li id="nav_pagos">
                                 <a onclick="pagos()">
                                     <span class="icon is-small"><i class="fa-solid fa-timeline"></i></span>
                                     <span>Historial Pagos</span>
                                 </a>
                             </li>
                             <% } else if(matricula[0] == '8') { %>
                             <li id="nav_pagos" class="is-active">
                                 <a onclick="pagos()">
                                     <span class="icon is-small"><i class="fa-solid fa-timeline"></i></span>
                                     <span>Historial Pagos</span>
                                 </a>
                             </li>
                             <li id="nav_extras">
                                 <a onclick="extras()">
                                     <span class="icon is-small"><i class="fa-solid fa-list-ul"></i></span>
                                     <span>Cargos Extras</span>
                                 </a>
                             </li>
                             <% } %>
                         </ul>
                     </div>
                    <div class="is-hidden" id="extras">
                        <h4 class="title is-4">Solicitudes Pendientes</h4>
                        <% if (pagosExtra.length > 0) { %>
                        <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                            Estas son las solicitudes de pago que todavía no se liquidan:
                        </div>
                        <% for (let count = 0; count < pagosExtra.length; count = count + 2) { %>
                        <% if(pagosExtra[count].montoPagar !== 0) { %>
                        <div class="columns">
                            <% if (count + 1 == pagosExtra.length) { %>
                            <div class="column is-full">
                                <div class="box">
                                    <div class="columns is-vcentered">
                                        <div class="column">
                                            <p><strong>Monto a Pagar:</strong>
                                                $<%= pagosExtra[count].montoPagar.toLocaleString('mx', {
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2
                                                    }) %> </p>
                                            <p><strong>Motivo:</strong> <%= pagosExtra[count].motivoPago %> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } else {%>
                            <div class="column is-6">
                                <div class="box">
                                    <div class="columns is-vcentered">
                                        <div class="column">
                                            <p><strong>Monto a Pagar:</strong>
                                                $<%= pagosExtra[count].montoPagar.toLocaleString('mx', {
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2
                                                    }) %> </p>
                                            <p><strong>Motivo:</strong> <%= pagosExtra[count].motivoPago %> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="box">
                                    <div class="columns is-vcentered">
                                        <div class="column">
                                            <p><strong>Monto a Pagar:</strong>
                                                $<%= pagosExtra[count + 1].montoPagar.toLocaleString('mx', {
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2
                                                    }) %> </p>
                                            <p><strong>Motivo:</strong> <%= pagosExtra[count + 1].motivoPago %> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } %>
                        <% } %>
                        <% } else {%>
                        <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                            Actualmente no cuentas con solicitudes de pagos pendientes.
                            Por favor contacta a dirección si quieres pagar un Pago Extra.
                        </div>
                        <% } %>
                    </div>

                    <div <% if(matricula[0] == '1') { %>class="is-hidden" <% } %> id="pagos">
                        <div class="tabs is-boxed">
                            <ul>
                                <li class="is-active" id="nav_pagoscol">
                                    <a onclick="pagoscol()">
                                        <% if(matricula[0] == '1') { %>
                                        <span>Pagos de Colegiatura</span>
                                        <% } else { %>
                                        <span>Pagos de Diplomado</span>
                                        <% } %>
                                    </a>
                                </li>
                                <li id="nav_pagosextra">
                                    <a onclick="pagosextra()">
                                        <span>Otros Pagos</span>
                                    </a>
                                </li>

                            </ul>
                        </div>


                        <div id="pagoscol">
                            <% if(matricula[0] == '1') { %>
                            <% if (pagos.length != 0) { %>
                            <% for (let count = 0; count < pagos.length; count = count + 2) { %>
                            <% if(pagos[count].montoPagado !== 0) { %>
                            <div class="columns">
                                <% if (count + 1 == pagos.length) { %>
                                <div class="column is-full">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagos[count].montoPagado.toLocaleString('mx', {
                                                                minimumFractionDigits: 2,
                                                                maximumFractionDigits: 2
                                                            }) %>
                                                </p>
                                                <p><strong>Fecha de Pago:</strong> <%= pagos[count].fechaPago %> </p>
                                                <p><strong>Motivo de Pago:</strong> <%= pagos[count].motivo %> </p>
                                                <p><strong>Método:</strong> <%= pagos[count].metodoPago %> </p>
                                                <% if(pagos[count].nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagos[count].nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else { %>
                                <div class="column is-6">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagos[count].montoPagado.toLocaleString('mx', {
                                                                minimumFractionDigits: 2,
                                                                maximumFractionDigits: 2
                                                            }) %>
                                                </p>
                                                <p><strong>Fecha de Pago:</strong> <%= pagos[count].fechaPago %>
                                                </p>
                                                <p><strong>Motivo de Pago:</strong> <%= pagos[count].motivo %>
                                                </p>
                                                <p><strong>Método:</strong> <%= pagos[count].metodoPago %> </p>
                                                <% if(pagos[count].nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagos[count].nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagos[count + 1].montoPagado.toLocaleString('mx', {
                                                                minimumFractionDigits: 2,
                                                                maximumFractionDigits: 2
                                                            }) %>
                                                </p>
                                                <p><strong>Fecha de Pago:</strong>
                                                    <%= pagos[count + 1].fechaPago %>
                                                </p>
                                                <p><strong>Motivo de Pago:</strong>
                                                    <%= pagos[count + 1].motivo %>
                                                </p>
                                                <p><strong>Método:</strong> <%= pagos[count + 1].metodoPago %>
                                                </p>
                                                <% if(pagos[count + 1].nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagos[count + 1].nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <% } %>
                            <% }%>
                            <% } else { %>
                            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                                ¡Bienvenido a ViaPago! Para realizar tu pago de Colegiatura, por favor dale click al
                                botón de Realizar Pago.
                            </div>
                            <% } %>

                            <% } else if(matricula[0] == '8') { %>
                            <% if (pagosDiplomado.length != 0) { %>
                            <% for (let count = 0; count < pagosDiplomado.length; count = count + 2) { %>
                            <% if(pagosDiplomado[count].montoPagado !== 0) { %>
                            <div class="columns">
                                <% if (count + 1 == pagosDiplomado.length) { %>
                                <div class="column is-full">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagosDiplomado[count].montoPagado.toLocaleString('mx', {
                                                             minimumFractionDigits: 2,
                                                              maximumFractionDigits: 2
                                                            }) %>
                                                </p>
                                                <p><strong>Nombre del Diplomado:</strong>
                                                    <%= pagosDiplomado[count].nombreDiplomado %> </p>
                                                <p><strong>Fecha de Pago:</strong>
                                                    <%= pagosDiplomado[count].fechaPago %>
                                                </p>
                                                <p><strong>Motivo de Pago:</strong>
                                                    <%= pagosDiplomado[count].Motivo %> </p>
                                                <p><strong>Método:</strong> <%= pagosDiplomado[count].metodoPago %>
                                                </p>
                                                <% if(pagosDiplomado[count].Nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagosDiplomado[count].Nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else {%>
                                <div class="column is-6">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagosDiplomado[count].montoPagado.toLocaleString('mx', {
                                                             minimumFractionDigits: 2,
                                                              maximumFractionDigits: 2
                                                            }) %>
                                                </p>
                                                <p><strong>Nombre del Diplomado:</strong>
                                                    <%= pagosDiplomado[count].nombreDiplomado %> </p>
                                                <p><strong>Fecha de Pago:</strong>
                                                    <%= pagosDiplomado[count].fechaPago %>
                                                </p>
                                                <p><strong>Motivo de Pago:</strong> <%= pagosDiplomado[count].Motivo %>
                                                </p>
                                                <p><strong>Método:</strong> <%= pagosDiplomado[count].metodoPago %> </p>
                                                <% if(pagosDiplomado[count].Nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagosDiplomado[count].Nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagosDiplomado[count + 1].montoPagado.toLocaleString('mx', {
                                                             minimumFractionDigits: 2,
                                                              maximumFractionDigits: 2
                                                            }) %>
                                                </p>
                                                <p><strong>Nombre del Diplomado:</strong>
                                                    <%= pagosDiplomado[count + 1].nombreDiplomado %> </p>
                                                <p><strong>Fecha de Pago:</strong>
                                                    <%= pagosDiplomado[count + 1].fechaPago %>
                                                </p>
                                                <p><strong>Motivo de Pago:</strong>
                                                    <%= pagosDiplomado[count + 1].Motivo %> </p>
                                                <p><strong>Método:</strong>
                                                    <%= pagosDiplomado[count + 1].metodoPago %>
                                                </p>
                                                <% if(pagosDiplomado[count + 1].Nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagosDiplomado[count + 1].Nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <% } %>
                            <% } %>
                            <% } else { %>
                            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                                ¡Todavía no haz realizado ningún pago de un diplomado! Si requieres pagar, por favor
                                dale click al botón de Realizar Pago.
                            </div>
                            <% } %>
                            <% } %>
                        </div>


                        <div class="is-hidden" id="pagosextra">
                            <% if (pagadosExtra.length != 0) { %>
                            <% for (let count = 0; count < pagadosExtra.length; count = count + 2) { %>
                            <% if(pagadosExtra[count].montoPagar !== 0) { %>
                            <div class="columns">
                                <% if (count + 1 == pagadosExtra.length) { %>
                                <div class="column is-full">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagadosExtra[count].montoPagar.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %> </p>
                                                <p><strong>Fecha de Pago:</strong> <%= pagadosExtra[count].fechaPago %>
                                                </p>
                                                <p><strong>Motivo de Pago:</strong>
                                                    <%= pagadosExtra[count].motivoPago %> </p>
                                                <p><strong>Método:</strong> <%= pagadosExtra[count].metodoPago %> </p>
                                                <% if(pagadosExtra[count].Nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagadosExtra[count].Nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else { %>
                                <div class="column is-6">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagadosExtra[count].montoPagar.toLocaleString('mx', {
                                                                minimumFractionDigits: 2,
                                                                maximumFractionDigits: 2
                                                            }) %> </p>
                                                <p><strong>Fecha de Pago:</strong> <%= pagadosExtra[count].fechaPago %>
                                                </p>
                                                <p><strong>Motivo de Pago:</strong>
                                                    <%= pagadosExtra[count].motivoPago %>
                                                </p>
                                                <p><strong>Método:</strong> <%= pagadosExtra[count].metodoPago %> </p>
                                                <% if(pagadosExtra[count].Nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagadosExtra[count].Nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="box">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <p><strong>Monto Pagado:</strong>
                                                    $<%= pagadosExtra[count + 1].montoPagar.toLocaleString('mx', {
                                                                minimumFractionDigits: 2,
                                                                maximumFractionDigits: 2
                                                            }) %> </p>
                                                <p><strong>Fecha de Pago:</strong>
                                                    <%= pagadosExtra[count + 1].fechaPago %>
                                                </p>
                                                <p><strong>Motivo de Pago:</strong>
                                                    <%= pagadosExtra[count + 1].motivoPago %>
                                                </p>
                                                <p><strong>Método:</strong> <%= pagadosExtra[count + 1].metodoPago %>
                                                </p>
                                                <% if(pagadosExtra[count + 1].Nota !== '') { %>
                                                <p><strong>Nota:</strong> <%= pagadosExtra[count + 1].Nota %> </p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <% } %>
                            <% } %>
                            <% } else { %>
                            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                                ¡Todavía no haz realizado ningún pago de Otros Pagos! Si tienes una solicitud existente,
                                por favor dale click al botón de Realizar Pago.
                            </div>
                            <% } %>
                        </div>
                    </div>

                    <% if(matricula[0] == '1') { %>
                    <div id="deuda">
                        <% if (deuda.length != 0) { %>
                            <div class="table-container">
                                <table class="table is-fullwidth is-hoverable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left;">#</th>
                                            <th style="text-align: left;">Pendiente</th>
                                            <th style="text-align: left;">Total</th>
                                            <th style="text-align: left;">Pagado</th>
                                            <th style="text-align: left;">Fecha Límite de Pago</th>
                                            <th style="text-align: left;">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let currentDate = fechaActual %>
                                        <% for (let count = 0; count < deuda.length; count++) { %>
                                        <tr>
                                            <td>Pago #<%= count + 1 %></td>
                                            <td>$<%= deuda[count].saldoPendiente.toLocaleString('mx', {
                                            minimumFractionDigits: 2,
                                            maximumFractionDigits: 2
                                        }) %></td>
                                            <td>$<%= deuda[count].montoAPagar.toLocaleString('mx', {
                                            minimumFractionDigits: 2,
                                            maximumFractionDigits: 2
                                        }) %></td>
                                            <td>$<%= deuda[count].montoPagado.toLocaleString('mx', {
                                            minimumFractionDigits: 2,
                                            maximumFractionDigits: 2
                                        }) %></td>
                                            <td><%= deuda[count].fechaLimitePago %></td>
                                            <% if (deuda[count].Pagado == 1) { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #ddf5e5;">
                                                         <span class="icon is-small" style="color: #21c85b">
                                                             <i class="fa-solid fa-circle-check"></i>
                                                         </span>
                                                         <span style="color: #21c85b">
                                                            Pagado
                                                         </span>
                                                    </span>
                                                </td>
                                            <% } else if (moment(deuda[count].fechaLimitePago, 'LL').isAfter(currentDate)) { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #fdf2cc">
                                                         <span class="icon is-small" style="color: #fec416">
                                                             <i class="fa-solid fa-clock"></i>
                                                         </span>
                                                         <span style="color: #fec416">
                                                            Pendiente
                                                         </span>
                                                    </span>
                                                </td>
                                            <% } else { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #f6d5d8">
                                                        <span class="icon is-small" style="color: #f83362">
                                                            <i class="fa-solid fa-circle-xmark"></i>
                                                        </span>
                                                       <span style="color: #f83362">
                                                           Atrasado
                                                       </span> 
                                                    </span>
                                                </td>
                                            <% } %>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <% } else { %>
                        <div class="notification is-danger">
                            <p>
                                Todavía no se crea tu Colegiatura para este periodo.
                                Si estas en la fecha de inscripción, por favor entra a Inscripción para confirmar tu
                                horario y
                                que se creen tus fichas de pago.
                            </p>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/estado_cuenta.js"></script>
<%- include('../includes/foot.ejs') %>