<%- include('../includes/head.ejs') %>

<section class="section">
    <div class="container">
        <h2 class="title">Estado de Cuenta</h2>

        <div class="notification">
            <div class="columns is-vcentered">
                <% if(matricula[0] == '1') { %>
                    <div class="column">
                        <label class="block font-semibold"><strong>Semestre:</strong></label>
                        <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.semestreActual %>
                        </div>
                    </div>
                <% if(estudianteProfesional.porcBeca !== 0) { %>
                <div class="column">
                    <label class="block font-semibold"><strong>Porcentaje de Beca:</strong></label>
                    <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.porcBeca %>%</div>
                </div>
                <% } %>
                <% } %>
                <div class="column is-narrow">
                    <a href="/pago/realizar_pago">
                        <button class="button is-primary">Realizar pago</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="tabs is-boxed">
            <ul>
                <% if(matricula[0] == '1') { %>
                <li class="is-active" id="nav_deuda">
                    <a onclick="deuda()">
                        <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                        <span>Colegiatura</span>
                    </a>
                </li>
                <% } %>
                <li id="nav_extras">
                    <a onclick="extras()">
                        <span class="icon is-small"><i class="fa-solid fa-list-ul"></i></span>
                        <span>Cargos extras</span>
                    </a>
                </li>
                <li id="nav_pagos">
                    <a onclick="pagos()">
                        <span class="icon is-small"><i class="fa-solid fa-timeline"></i></span>
                        <span>Historial pagos</span>
                    </a>
                </li>
            </ul>
        </div>

        <% if(matricula[0] == '1') { %>
        <div class="notification" id="deuda">
            <table class="table is-bordered is-hoverable is-fullwidth">
                <tbody>
                    <% let currentDate = new Date(); %>
                    <% for (let count = 0; count < deuda.length; count = count + 2) { %>
                    <% if (count + 1 == deuda.length) { %>
                    <tr>
                        <td colspan="1">
                            <div class="columns is-vcentered">
                                <div class="column is-full" style="text-align: center;">
                                    <strong>Pago #<%= count + 1 %></strong>
                                </div>
                            </div>
                            <div class="columns is-vcentered">
                                <% if (deuda[count].pagado == 1) { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-circle-check fa-2xl" style="color: #17b585;"></i>
                                </div>
                                <% } else if (currentDate < deuda[count].fechaLimitePago) { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-clock fa-2xl" style="color: #ffc800;"></i>
                                </div>
                                <% } else { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #910106;"></i>
                                </div>
                                <% } %>
                                <div class="column">
                                    <strong>Pendiente:</strong>
                                    $<%= deuda[count].saldoPendiente.toLocaleString('mx'); %>
                                    <br>
                                    <strong>Total: </strong>
                                    $<%= deuda[count].montoAPagar.toLocaleString('mx') %>
                                    <br>
                                    <strong>Pagado:</strong>
                                    $<%= deuda[count].montoPagado.toLocaleString('mx') %>
                                </div>
                                <div class="column">
                                    <strong>Fecha Limite Pago:</strong>
                                    <br>
                                    <%= new Date(deuda[count].fechaLimitePago).toLocaleDateString('es-MX', {
                                        year: 'numeric',
                                        month: '2-digit',
                                        day: '2-digit'
                                      }).replace(/(\d{2})\/(\d{2})\/(\d{4})/, '$3/$1/$2') %>                                      
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } else {%>
                        <td colspan="1">
                            <div class="columns is-vcentered">
                                <div class="column is-full" style="text-align: center;">
                                    <strong>Pago #<%= count + 1 %></strong>
                                </div>
                            </div>
                            <div class="columns is-vcentered">
                                <% if (deuda[count].pagado == 1) { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-circle-check fa-2xl" style="color: #17b585;"></i>
                                </div>
                                <% } else if (currentDate < deuda[count].fechaLimitePago) { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-clock fa-2xl" style="color: #ffc800;"></i>
                                </div>
                                <% } else { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #910106;"></i>
                                </div>
                                <% } %>
                                <div class="column">
                                    <strong>Pendiente:</strong>
                                    $<%= deuda[count].saldoPendiente.toLocaleString('mx'); %>
                                    <br>
                                    <strong>Total: </strong>
                                    $<%= deuda[count].montoAPagar.toLocaleString('mx') %>
                                    <br>
                                    <strong>Pagado:</strong>
                                    $<%= deuda[count].montoPagado.toLocaleString('mx') %>
                                </div>
                                <div class="column">
                                    <strong>Fecha Limite Pago:</strong>
                                    <br>
                                    <%= new Date(deuda[count].fechaLimitePago).toLocaleDateString('es-MX', {
                                        year: 'numeric',
                                        month: '2-digit',
                                        day: '2-digit'
                                      }).replace(/(\d{2})\/(\d{2})\/(\d{4})/, '$3/$1/$2') %>                                      
                                </div>
                            </div>
                        </td>
                        <td colspan="1">
                            <div class="columns is-vcentered">
                                <div class="column is-full" style="text-align: center;">
                                    <strong>Pago #<%= count + 2 %></strong>
                                </div>
                            </div>
                            <div class="columns is-vcentered">
                                <% if (deuda[count + 1].pagado == 1) { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-circle-check fa-2xl" style="color: #17b585;"></i>
                                </div>
                                <% } else if (currentDate < deuda[count + 1].fechaLimitePago) { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-clock fa-2xl" style="color: #ffc800;"></i>
                                </div>
                                <% } else { %>
                                <div class="column is-narrow">
                                    <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #910106;"></i>
                                </div>
                                <% } %>
                                <div class="column">
                                    <strong>Pendiente:</strong>
                                    $<%= deuda[count + 1].saldoPendiente.toLocaleString('mx'); %>
                                    <br>
                                    <strong>Total: </strong>
                                    $<%= deuda[count + 1].montoAPagar.toLocaleString('mx') %>
                                    <br>
                                    <strong>Pagado:</strong>
                                    $<%= deuda[count + 1].montoPagado.toLocaleString('mx') %>
                                </div>
                                <div class="column">
                                    <strong>Fecha Limite Pago:</strong>
                                    <br>
                                    <%= new Date(deuda[count + 1].fechaLimitePago).toLocaleDateString('es-MX', {
                                        year: 'numeric',
                                        month: '2-digit',
                                        day: '2-digit'
                                      }).replace(/(\d{2})\/(\d{2})\/(\d{4})/, '$3/$1/$2') %>                                      
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } %>

        <div class="is-hidden" id="pagos">
            <div class="tabs is-boxed">
                <ul>
                    <li class="is-active" id="nav_pagoscol">
                        <a onclick="pagoscol()">
                            <span>Pagos de colegiatura</span>
                        </a>
                    </li>
                    <li id="nav_pagosextra">
                        <a onclick="pagosextra()">
                            <span>Pagos extras</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="" id="pagoscol">
                <% pagos.forEach(pagos => { %>
                <% if(pagos.montoPagado !== 0) { %>
                <div class="box">
                    <div class="columns is-vcentered">
                        <div class="column">
                            <p><strong>Monto Pagado:</strong> <%= pagos.montoPagado %> </p>
                            <p><strong>Fecha de pago:</strong> <%= pagos.fechaPago %> </p>
                            <p><strong>Motivo de pago:</strong> <%= pagos.motivo %> </p>
                            <p><strong>Método:</strong> <%= pagos.metodoPago %> </p>
                            <% if(pagos.nota !== '') { %>
                            <p><strong>Nota:</strong> <%= pagos.nota %> </p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
                <% }); %>
            </div>

            <div class="is-hidden" id="pagosextra">
                <% pagadosExtra.forEach(pagadosExtra => { %>
                <% if(pagadosExtra.montoPagar !== 0) { %>
                <div class="box">
                    <div class="columns is-vcentered">
                        <div class="column">
                            <p><strong>Monto Pagado:</strong> <%= pagadosExtra.montoPagar %> </p>
                            <p><strong>Fecha de pago:</strong> <%= pagadosExtra.fechaPago %> </p>
                            <p><strong>Motivo de pago:</strong> <%= pagadosExtra.motivoPago %> </p>
                            <p><strong>Método:</strong> <%= pagadosExtra.metodoPago %> </p>
                            <% if(pagadosExtra.Nota !== '') { %>
                            <p><strong>Nota:</strong> <%= pagadosExtra.Nota %> </p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
                <% }); %>
            </div>
        </div>


        <div class="is-hidden" id="extras">
            <% pagosExtra.forEach(pagosExtra => { %>
            <% if(pagosExtra.montoPagar !== 0) { %>
            <div class="box">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p><strong>Monto a pagar:</strong> <%= pagosExtra.montoPagar.toFixed(2) %> </p>
                        <p><strong>Motivo:</strong> <%= pagosExtra.motivoPago %> </p>
                    </div>
                </div>
            </div>
            <% } %>
            <% }); %>
        </div>

</section>


</html>

<script type="text/javascript" src="/js/estado_cuenta.js"></script>