<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol })
    %>

    <style>
        .card {
            border: none !important;
        }
        .solicitdes {
            border: 1px solid #dbdbdb; /* Adjust the border color as needed */
            border-radius: 10px; /* Adjust the border radius as needed */
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    
        .solicitdes .table {
            border-collapse: separate;
            border-spacing: 0;
        }
    
        /* Estilos adicionales para asegurar visibilidad de los checkboxes */
        .dropdown-content .dropdown-item {
            display: flex;
            align-items: center;
        }
    
        .dropdown-content .dropdown-item label {
            margin-left: 5px;
        }
    
        .dropdown-content input[type="checkbox"] {
            margin-right: 10px;
        }
    </style>

<section class="section">
    <div class="columns">
        <div class="column is-one-quarter">
            <label class="label is-large has-text-danger has-text-weight-semibold">
                ESTADO DE CUENTA 
            </label>
                  
            <% if(matricula[0] == '1') { %>
                <div class="box" style="text-align: center;">
                    <p class="has-text-grey has-text-weight-medium">CICLO ESCOLAR</p>
                        <p class="has-text-black has-text-weight-bold is-size-4">
                            <%= periodo.Nombre %></p>
                </div>

            <% if(estudianteProfesional.porcBeca !== 0) { %>
                <div class="box" style="text-align: center;">
                    <p class="has-text-grey has-text-weight-medium">PORCENTAJE DE BECA</p>
                        <p class="has-text-black has-text-weight-bold is-size-1">
                            <%= estudianteProfesional.porcBeca %>%</p>
                </div>
            <% } %>

            <% } else if (matricula[0] == '8') { %>
                <% if (diplomados.length != 0) { %> 
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">DIPLOMADO</p>
                            <p class="has-text-black has-text-weight-bold is-size-4">
                                <%= diplomados[0].nombreDiplomado %></p>
                    </div> 

                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">FECHA INICIO</p>
                            <p class="has-text-black has-text-weight-bold is-size-4">
                                <%= diplomados[0].fechaInicio %></p>
                    </div> 

                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">FECHA FIN</p>
                            <p class="has-text-black has-text-weight-bold is-size-4">
                                <%= diplomados[0].fechaFin %></p>
                    </div> 

                    <% } else { %>
                    <div class="box" style="text-align: center;">
                        <p class="has-text-grey has-text-weight-medium">DIPLOMADO</p>
                            <p class="has-text-black has-text-weight-bold is-size-2">
                                N/A</p>
                    </div> 
                    <% } %>
                <% } %>
            
                <a href="/estado_cuenta/pagar">
                    <button class="button is-large is-fullwidth">
                        <span>
                            Realizar Pago
                        </span>
                            <span class="icon is-large">
                                <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                            </span>
                    </button>
                </a>

                <div class="button is-centered is-flex-direction-column">
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                                <span class="is-size-4">
                                    Realizar Descarga
                                </span>
                                    <span class="icon is-large" style="padding-right: 0.5em; font-size: 1.5em;">
                                        <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                                    </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <% if(matricula[0] == '1') { %>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_deuda" class="download-checkbox">
                                        <label class="checkbox">
                                            Colegiatura
                                        </label>
                                </div>
                                <% } %>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_pagos" class="download-checkbox">
                                        <label class="checkbox">
                                            <% if(matricula[0] == '1') { %>
                                                Historial Colegiatura
                                            <% } else { %>
                                                Historial Diplomado
                                            <% } %>
                                        </label>
                                </div>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_solicitudes" class="download-checkbox">
                                        <label class="checkbox">
                                            Solicitudes Pendientes
                                        </label>
                                </div>
                                <div class="dropdown-item">
                                    <input type="checkbox" id="checkbox_pagosExtra" class="download-checkbox">
                                        <label class="checkbox">
                                            Historial Solicitudes
                                        </label>
                                </div>
                                <hr class="dropdown-divider">
                                    <div class="dropdown-item">
                                        <!-- Botón que se muestra por defecto -->
                                        <button class="button is-primary" id="downloadButton" disabled>
                                            <span>Descargar PDF</span>
                                            <span class="icon is-large">
                                                <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                                            </span>
                                        </button>
                                        <!-- Enlace oculto hasta elegir algo -->
                                        <a onclick="downloadPDF('<%= matricula %>')" class="button is-primary is-hidden" id="downloadLink">
                                            <span>Descargar PDF</span>
                                            <span class="icon is-large">
                                                <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>   
                            </div>
                        </div> 
                    </div>
                </div>
           
                   
        <div class="column is-three-quarters">
            <div class="card">
                <div class="card-content">
                     <div class="tabs is-centered is-boxed is-fullwidth">
                         <ul>
                             <% if (matricula[0] == '1') { %>
                             <li class="is-active" id="nav_deuda">
                                 <a onclick="deuda()">
                                     <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                                     <span>Colegiatura</span>
                                 </a>
                             </li>
                             <% } %>
                             <% if (matricula[0] == '1') { %>
                                <li id="nav_pagos">
                            <% } else if (matricula[0] == '8') { %>
                                <li id="nav_pagos" class="is-active">
                            <% } %>
                                 <a onclick="pagos()">
                                     <span class="icon is-small"><i class="fa-solid fa-timeline"></i></span>
                                     <span> <% if (matricula[0] == '1') { %>
                                            Historial Colegiatura
                                        <% } else if (matricula[0] == '8') { %>
                                            Historial Diplomado
                                        <% } %>
                                    </span>
                                 </a>
                             </li>
                             <li id="nav_solicitudes">
                                 <a onclick="extras()">
                                     <span class="icon is-small"><i class="fa-solid fa-list-ul"></i></span>
                                     <span>Solicitudes Pendientes</span>
                                 </a>
                             </li>
                             <li id="nav_pagosExtra">
                                 <a onclick="pagosExtra()">
                                     <span class="icon is-small"><i class="fa-solid fa-clock-rotate-left"></i></span>
                                     <span>Historial Otros Pagos</span>
                                 </a>
                             </li>
                         </ul>
                     </div>
                    <div class="is-hidden" id="solicitudes">
                        <% if (pagosExtra.length > 0) { %>
                            <% let countOtros = 5 %>
                            <% pagosExtra.forEach(pagosExtra => { %>
                                <% if (countOtros % 5 == 0) { %>
                                    <div class="columns">
                                <% } %>
                                <% countOtros++ %>
                                <div class="column">
                                    <div class="table-container solicitdes">
                                        <table class="table is-fullwidth">
                                            <tr>
                                                <td style="padding: 5px 15px">
                                                    <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                                        MOTIVO
                                                    </p>
                                                    <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                                        <%= pagosExtra.motivoPago %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px 15px">
                                                    <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                                                        MONTO
                                                    </p>
                                                    <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                                                        $<%= pagosExtra.montoPagar.toLocaleString('mx', {
                                                                        minimumFractionDigits: 2,
                                                                        maximumFractionDigits: 2
                                                                    }) %>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <% if (countOtros % 5 == 0) { %>
                                    </div>
                                <% } %>
                            <% }); %>
                            <% if (countOtros % 5 != 0) { %>
                                </div>
                            <% } %>
                        <% } else {%>
                            <div class="box">
                                <p class="has-text-weight-medium has-text-black">
                                    Actualmente no cuentas con solicitudes de pagos pendientes.
                                    Por favor contacta a dirección si quieres pagar un pago de tipo Otros Pagos.
                                </p>
                            </div>
                        <% } %>
                    </div>

                    <% if (matricula[0] == '1') { %>
                        <div id="pagos" class="is-hidden">
                    <% } else if (matricula[0] == '8') { %>
                        <div id="pagosdipl">
                    <% } %>
                        <% if(matricula[0] == '1') { %>
                            <% if (pagos.length != 0) { %>
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">Monto</th>
                                        <th style="text-align: left;">Fecha</th>
                                        <th style="text-align: left;">Motivo</th>
                                        <th style="text-align: left;">Método</th>
                                        <th style="text-align: left;">Nota</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% pagos.forEach(pagos => { %>
                                    <tr>
                                        <td>
                                            $<%= pagos.montoPagado.toLocaleString('mx', {
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2
                                                    }) %>
                                        </td>
                                        <td>
                                            <%= pagos.fechaPago %>
                                        </td>
                                        <td>
                                            <%= pagos.motivo %>
                                        </td>
                                        <td>
                                            <%= pagos.metodoPago %>
                                        </td>
                                        <td>
                                            <%= pagos.nota %>
                                        </td>
                                    </tr>
                                    <% } )%>
                                </tbody>
                            </table>
                            <% } else { %>
                            <div class="box">
                                <p class="has-text-weight-medium has-text-black">
                                    ¡Bienvenido a ViaPago! Para realizar tu pago de Colegiatura, por favor dale
                                    click al botón de Realizar Pago.
                                </p>
                            </div>
                            <% } %>
    
                        <% } else if(matricula[0] == '8') { %>
                            <% if (pagosDiplomado.length != 0) { %>
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">Monto</th>
                                        <th style="text-align: left;">Diplomado</th>
                                        <th style="text-align: left;">Fecha</th>
                                        <th style="text-align: left;">Motivo</th>
                                        <th style="text-align: left;">Método</th>
                                        <th style="text-align: left;">Nota</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% pagosDiplomado.forEach(pagos => { %>
                                    <tr>
                                        <td>
                                            $<%= pagos.montoPagado.toLocaleString('mx', {
                                                                minimumFractionDigits: 2,
                                                                maximumFractionDigits: 2
                                                            }) %>
                                        </td>
                                        <td>
                                            <%= pagos.nombreDiplomado %>
                                        </td>
                                        <td>
                                            <%= pagos.fechaPago %>
                                        </td>
                                        <td>
                                            <%= pagos.Motivo %>
                                        </td>
                                        <td>
                                            <%= pagos.metodoPago %>
                                        </td>
                                        <td>
                                            <%= pagos.Nota %>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <% } else { %>
                            <div class="box">
                                <p class="has-text-weight-medium has-text-black">
                                    ¡Todavía no haz realizado ningún pago de un diplomado! Para pagar, por
                                    favor dale click al botón de Realizar Pago.
                                </p>
                            </div>
                            <% } %>
                        <% } %>
                    </div>

                    <div class="is-hidden" id="pagosExtra">
                            <% if (pagadosExtra.length != 0) { %>
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">Monto</th>
                                        <th style="text-align: left;">Fecha</th>
                                        <th style="text-align: left;">Motivo</th>
                                        <th style="text-align: left;">Método</th>
                                        <th style="text-align: left;">Nota</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% pagadosExtra.forEach(pagadosExtra => { %>
                                    <tr>
                                        <td>
                                            $<%= pagadosExtra.montoPagar.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %>
                                        </td>
                                        <td>
                                            <%= pagadosExtra.fechaPago %>
                                        </td>
                                        <td>
                                            <%= pagadosExtra.motivoPago %>
                                        </td>
                                        <td>
                                            <%= pagadosExtra.metodoPago %>
                                        </td>
                                        <td>
                                            <%= pagadosExtra.Nota %>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                            <% } else { %>
                            <div class="box">
                                <p class="has-text-weight-medium has-text-black">
                                    ¡Todavía no haz realizado ningún pago de tipo Otros Pagos! Si tienes una solicitud
                                    existente, por favor dale click al botón de Realizar Pago.
                                </p>
                            </div>
                            <% } %>
                        </div>

                    <% if(matricula[0] == '1') { %>
                    <div id="deuda">
                        <% if (deuda.length != 0) { %>
                            <div class="table-container">
                                <table class="table is-fullwidth is-hoverable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left;">#</th>
                                            <th style="text-align: left;">Pendiente</th>
                                            <th style="text-align: left;">Colegiatura</th>
                                            <th style="text-align: left;">Pagado</th>
                                            <th style="text-align: left;">Recargos</th>
                                            <th style="text-align: left;">Ajuste</th>
                                            <th style="text-align: left;">Fecha Límite de Pago</th>
                                            <th style="text-align: left;">Estatus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let currentDate = fechaActual %>
                                        <% for (let count = 0; count < deuda.length; count++) { %>
                                        <tr>
                                            <td>#<%= count + 1 %></td>
                                            <td>
                                            <% if (deuda[count].saldoPendiente < 0) { %>
                                                $0.00
                                            <% } else { %>
                                                $<%= deuda[count].saldoPendiente.toLocaleString('mx', {
                                            minimumFractionDigits: 2,
                                            maximumFractionDigits: 2}) %>
                                            <% } %></td>
                                            <td><% deuda_ajuste = deuda[count].montoAPagar %>
                                                $<%= deuda_ajuste.toLocaleString('mx', {
                                                    minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2
                                                }) %>
                                            </td>
                                            <td>$<%= deuda[count].montoPagado.toLocaleString('mx', {
                                                    minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2
                                                }) %></td>
                                            <td>$<%= deuda[count].montoRecargos.toLocaleString('mx', {
                                                            minimumFractionDigits: 2,
                                                            maximumFractionDigits: 2
                                                        }) %></td>
                                            <td>$<%= deuda[count].Descuento.toLocaleString('mx', {
                                                    minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2
                                                }) %></td>
                                            <td><%= deuda[count].fechaLimitePago %></td>
                                            <% if (deuda[count].Pagado == 1) { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #ddf5e5;">
                                                         <span class="icon is-small" style="color: #21c85b">
                                                             <i class="fa-solid fa-circle-check"></i>
                                                         </span>
                                                         <span style="color: #21c85b">
                                                            Pagado
                                                         </span>
                                                    </span>
                                                </td>
                                            <% } else if (moment(deuda[count].fechaLimitePago, 'LL').isAfter(currentDate)) { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #fdf2cc">
                                                         <span class="icon is-small" style="color: #fec416">
                                                             <i class="fa-solid fa-clock"></i>
                                                         </span>
                                                         <span style="color: #fec416">
                                                            Pendiente
                                                         </span>
                                                    </span>
                                                </td>
                                            <% } else { %>
                                                <td>
                                                    <span class="tag is-size-6" style="background-color: #f6d5d8">
                                                        <span class="icon is-small" style="color: #f83362">
                                                            <i class="fa-solid fa-circle-xmark"></i>
                                                        </span>
                                                       <span style="color: #f83362">
                                                           Atrasado
                                                       </span> 
                                                    </span>
                                                </td>
                                            <% } %>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <% } else { %>
                        <div class="notification is-danger">
                            <p>
                                Todavía no se crea tu Colegiatura para este periodo.
                                Si estás en la fecha de inscripción, por favor entra a Materias para confirmar tu
                                horario y se creen tus fichas de pago.
                            </p>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="/js/estado_cuenta.js"></script>
<%- include('../includes/foot.ejs') %>