<%- include('../includes/head.ejs') %>

<section class="section">
  <div class="container">
    <h2 class="title">Estado de Cuenta</h2>

    <div class="notification">
      <div class="columns is-vcentered">
        <div class="column">
          <label class="block font-semibold"><strong>Semestre:</strong></label>
          <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.semestreActual %></div>
        </div>
        <% if(estudianteProfesional.porcBeca !== 0) { %>
        <div class="column">
          <label class="block font-semibold"><strong>Porcentaje de Beca:</strong></label>
          <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.porcBeca %>%</div>
        </div>
        <% } %> 
        <div class="column is-narrow">
          <a href="/pago/realizar_pago">
            <button class="button is-primary">Realizar pago</button>
          </a>
        </div>
      </div>
    </div>

    <div class="tabs is-boxed">
      <ul>
          <li class="is-active" id="nav_deuda">
              <a onclick="deuda()">
                  <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                  <span>Deuda (nombre placeholder)</span>
              </a>
          </li>
          <li id="nav_extras">
            <a onclick="extras()">
                <span class="icon is-small"><i class="fa-regular fa-pen-to-square"></i></span>
                <span>Cargos extras</span>
            </a>
          </li> 
          <li id="nav_pagos">
              <a onclick="pagos()">
                  <span class="icon is-small"><i class="fa-regular fa-pen-to-square"></i></span>
                  <span>Historial pagos</span>
              </a>
          </li> 
      </ul>
    </div>

  <div class="notification" id="deuda">
    prueba para deuda
  </div>

  <div class="is-hidden" id="pagos">

    <div class="tabs is-boxed">
      <ul>
          <li class="is-active" id="nav_pagoscol">
              <a onclick="pagoscol()">
                  <span>Pagos de colegiatura</span>
              </a>
          </li>
          <li id="nav_pagosextra">
            <a onclick="pagosextra()">
                <span>Pagos extras</span>
            </a>
          </li> 
      
      </ul>
    </div>
   
    <div class="" id="pagoscol">
    <% pagos.forEach(pagos => { %>
      <% if(pagos.montoPagado !== 0) { %>
      <div class="box">
        <div class="columns is-vcentered">
          <div class="column">
            <p><strong>Monto Pagado:</strong> <%= pagos.montoPagado %> </p>
            <p><strong>Fecha de pago:</strong> <%= pagos.fechaPago %> </p>
            <p><strong>Motivo de pago:</strong> <%= pagos.motivo %> </p>
            <p><strong>Método:</strong> <%= pagos.metodoPago %> </p>
            <% if(pagos.nota !== '') { %>
              <p><strong>Nota:</strong> <%= pagos.nota %> </p>
              <% } %> 
          </div>
        </div>
      </div>
      <% } %>
    <% }); %>
    </div>

    <div class="is-hidden" id="pagosextra">
    <% pagadosExtra.forEach(pagadosExtra => { %>
      <% if(pagadosExtra.montoPagar !== 0) { %>
      <div class="box">
        <div class="columns is-vcentered">
          <div class="column">
            <p><strong>Monto Pagado:</strong> <%= pagadosExtra.montoPagar %> </p>
            <p><strong>Fecha de pago:</strong> <%= pagadosExtra.fechaPago %> </p>
            <p><strong>Motivo de pago:</strong> <%= pagadosExtra.motivoPago %> </p>
            <p><strong>Método:</strong> <%= pagadosExtra.metodoPago %> </p>
            <% if(pagadosExtra.Nota !== '') { %>
              <p><strong>Nota:</strong> <%= pagadosExtra.Nota %> </p>
              <% } %> 
          </div>
        </div>
      </div>
      <% } %>
      <% }); %>
    </div>
  </div>


  <div class="is-hidden" id="extras">
    <% pagosExtra.forEach(pagosExtra => { %>
      <% if(pagosExtra.montoPagar !== 0) { %>
      <div class="box">
        <div class="columns is-vcentered">
          <div class="column">
            <p><strong>Monto a pagar:</strong> <%= pagosExtra.montoPagar.toFixed(2) %> </p>
            <p><strong>Motivo:</strong> <%= pagosExtra.motivoPago %> </p>
          </div>
        </div>
      </div>
      <% } %>
    <% }); %>
  </div>

</section>


</html>

<script type="text/javascript" src="/js/estado_cuenta.js"></script>