<%- include('../includes/head.ejs') %>

<div class="notification">
  <div class="columns is-vcentered">
    <div class="column">
      <label class="block font-semibold">Semestre:</label>
      <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.semestreActual %></div>
    </div>
    <div class="column">
      <label class="block font-semibold">Porcentaje de Beca:</label>
      <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.porcBeca %>%</div>
    </div>
  </div>
</div>

<div class="notification">
  <h2 class="title">Estado de Cuenta</h2>
  <% estadoCuenta.forEach(deuda => { %>
    <div class="box">
      <p><strong>Monto a Pagar:</strong> <%= deuda.montoAPagar %> </p>
      <p><strong>Monto Pagado:</strong> <%= deuda.montoPagado %> </p>
      <p><strong>Fecha Límite de Pago:</strong> <%= deuda.fechaLimitePago %> </p>
      <p><strong>Descuento:</strong> <%= deuda.descuento %> </p>
      <p><strong>Pagado:</strong> <%= deuda.pagado ? 'Sí' : 'No' %> </p>
      <p><strong>Motivo de Pago:</strong> <%= deuda.motivo %> </p>
      <p><strong>Método de Pago:</strong> <%= deuda.metodoPago %> </p>
      <p><strong>Fecha de Pago:</strong> <%= deuda.fechaPago %> </p>
      <p><strong>Nota:</strong> <%= deuda.nota %> </p>
    </div>
  <% }); %>
</div>

</html>

