<%- include('../includes/head.ejs') %>

<section class="section">
  <div class="container">
    <h2 class="title">Estado de Cuenta</h2>

    <div class="notification">
      <div class="columns is-vcentered">
        <div class="column">
          <label class="block font-semibold">Semestre:</label>
          <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.semestreActual %></div>
        </div>
        <% if(estudianteProfesional.porcBeca !== 0) { %>
        <div class="column">
          <label class="block font-semibold">Porcentaje de Beca:</label>
          <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.porcBeca %>%</div>
        </div>
        <% } %> 
        <div class="column is-narrow">
          <a href="/pago/realizar_pago">
            <button class="button is-primary">Realizar pago</button>
          </a>
        </div>
      </div>
    </div>

    <div class="tabs is-boxed">
      <ul>
          <li class="is-active" id="nav_deuda">
              <a onclick="deuda()">
                  <span class="icon is-small"><i class="fa-solid fa-clipboard-list"></i></span>
                  <span>Deuda (nombre placeholder)</span>
              </a>
          </li>
          <li id="nav_pagos">
              <a onclick="pagos()">
                  <span class="icon is-small"><i class="fa-regular fa-pen-to-square"></i></span>
                  <span>Pagos (nombre placeholder)</span>
              </a>
          </li>
      </ul>
  </div>

  <div class="notification" id="deuda">
    prueba
  </div>

  <div class="is-hidden" id="pagos">
    <% estadoCuenta.forEach(deuda => { %>
      <div class="box">
        <div class="columns is-vcentered">
          <div class="column">
            <p><strong>Monto a Pagar:</strong> <%= deuda.montoAPagar %> </p>
            <p><strong>Monto Pagado:</strong> <%= deuda.montoPagado %> </p>
            <p><strong>Fecha Límite de Pago:</strong> <%= deuda.fechaLimitePago %> </p>
            <% if(deuda.descuento !== 0) { %>
              <p><strong>Descuento:</strong> <%= deuda.descuento %> </p>
            <% } %>      
            <p><strong>Pagado:</strong> <%= deuda.pagado ? 'Sí' : 'No' %> </p>
          </div>
          <div class="column is-narrow">
            <% if(deuda.pagado == true) { %>
              <i class="fa-solid fa-circle-check fa-2xl" style="color: #17b585;"></i>
            <% } %>   
            <% if(deuda.pagado == false) { %>
              <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #910106;"></i>
            <% } %>  
          </div>
        </div>
      </div>
    <% }); %>
  </div>

</section>


</html>

<script type="text/javascript" src="/js/estado_cuenta.js"></script>