<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-1">
                <a id="Boton_regresar" class="is-responsive"
                href="/estado_cuenta/estado_cuenta">
                    <span class="icon">
                        <i class="fas fa-arrow-left fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="column">
                <% if (datosPago.responseStatus == 'Aprobado') { %>
                    <label class="label is-large has-text-danger has-text-weight-semibold">
                        PAGO APROBADO
                    </label>
                <% } else { %>
                    <label class="label is-large has-text-danger has-text-weight-semibold">
                        PAGO RECHAZADO
                    </label>
                <% } %>
            </div>
        </div>

        <div class="box">
            <div class="columns is-multiline">
                <div class="column is-half">
                    <p class="has-text-grey has-text-weight-medium">MONTO</p>
                    <p class="has-text-black has-text-weight-bold is-size-5">
                        <%= datosPago.monto %> <%= datosPago.tipoMoneda %>
                    </p>
            
                    <p class="has-text-grey has-text-weight-medium">TARJETA</p>
                    <p class="has-text-black has-text-weight-bold is-size-5">
                        <%= datosPago.marca %> - <%= datosPago.banco %> - <% if (datosPago.tipoTarjeta == 'C') { %> Crédito <% } else if (datosPago.tipoTarjeta == 'D') { %> Débito <% } %>
                    </p>
                </div>
        
                <div class="column is-half">
                    <p class="has-text-grey has-text-weight-medium">CORREO</p>
                    <p class="has-text-black has-text-weight-bold is-size-5">
                        <%= datosPago.email %>
                    </p>
        
                    <p class="has-text-grey has-text-weight-medium">EMPRESA</p>
                    <p class="has-text-black has-text-weight-bold is-size-5">
                        <%= datosPago.empresa %>
                    </p>
                </div>
            </div>
        </div>        

        <div class="box">
            <div class="columns is-multiline">
                <div class="column is-half">
                    <% if (datosPago.responseStatus == 'Aprobado') { %>
                        <p class="has-text-grey has-text-weight-medium">
                            NÚMERO DE AUTORIZACIÓN 
                        </p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <%= datosPago.numAutorizacion %>
                        </p>
                        <% } %>

                        <% if (datosPago.responseStatus == 'Rechazado') { %>
                            <p class="has-text-grey has-text-weight-medium">
                                RAZÓN DE FALLO 
                            </p>
                            <p class="has-text-black has-text-weight-bold is-size-5">
                                <%= datosPago.cdResponse %>
                            </p>
                            <p class="has-text-black is-size-6">
                                <% if (datosPago.error) { %>
                                    <%= datosPago.error %>
                                <% } %>
                            </p>
                            <% } %>

                        <p class="has-text-grey has-text-weight-medium">
                            REFERENCIA DE PAGO 
                        </p>
                        <p class="has-text-black has-text-weight-bold is-size-5">
                            <%= datosPago.referencia %>
                        </p>
                </div>

                <div class="column is-half">
                    <p class="has-text-grey has-text-weight-medium">
                        NÚMERO DE OPERACIÓN
                    </p>
                    <p class="has-text-black has-text-weight-bold is-size-5">
                        <% if (datosPago.operacion) { %>
                            <%= datosPago.operacion %>
                         <% } else { %>
                            - - 
                        <% } %>
                    </p>

                    <p class="has-text-grey has-text-weight-medium">
                        FECHA Y HORA DE OPERACIÓN
                    </p>
                    <p class="has-text-black has-text-weight-bold is-size-5">
                        <% if (datosPago.fecha) { %>
                            <%= datosPago.fecha %>
                         <% } else { %>
                            - - 
                        <% } %>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../includes/foot.ejs') %>

