<%- include('../includes/head.ejs', { username: username, permisos: permisos, rol: rol }) %>

<body>
    <h1>Actualizar Alumnos</h1>
    <!-- Verifica si hay usuarios para mostrar -->
    <% if (usuarios.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <% usuarios.forEach(usuario => { %>
                    <tr>
                        <td><%= usuario.ivd_id %></td>
                        <td><%= usuario.name %></td>
                        <td><%= usuario.apellidos %></td>
                        <td><%= usuario.email %></td>
                        <td><%= usuario.status %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No hay usuarios para mostrar.</p>
    <% } %>
</body>
</html>

