<%- include('../includes/head.ejs', { username: username, permisos: permisos, rol: rol }) %>

<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8%;
        max-width: 50%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        width: 100%;
    }

    td {
        border: 5px solid rgb(255, 255, 255);
        /* Líneas más oscuras para la tabla */
        padding: 10px;
        font-size: 19px;
        color: white;
    }

    th {
        border: 5px solid rgb(255, 255, 255);
        padding: 10px;
        font-size: 19px;
        background-color: rgb(0, 0, 0);
        color: white;
    }

    thead {
        background-color: black;
        font-style: italic;
    }

    .form-enviar-datos select {
        margin-left: 50%;
        margin-right: 50%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>
<body>
    <section class="section">
    <% if (materias.length> 0) { %>
            <div class="table-container">
                <h3 class="title is-3">Revisión de datos de Cursos</h3>
                <table>
                    <thead>
                        <tr>
                            <th class="has-text-white">ID</th>
                            <th class="has-text-white">SEP ID</th>
                            <th class="has-text-white">Nombre</th>
                            <th class="has-text-white">Créditos</th>
                            <th class="has-text-white">Semestre</th>
                            <th class="has-text-white">Carrera</th>
                            <th class="has-text-white">Registrar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% materias.forEach((materia, index)=> { %>
                            <tr id="fila<%= index %>">
                                <td class="has-text-black">
                                    <%= materia.id %>
                                </td>
                                <td class="has-text-black">
                                    <%= materia.sep_id %>
                                </td>
                                <td class="has-text-black">
                                    <%= materia.name %>
                                </td>
                                <td class="has-text-black">
                                    <%= materia.credits %>
                                </td>
                                <td class="has-text-black">
                                    <%= materia.semestre %>
                                </td>
                                <td class="has-text-black">
                                    <%= materia.carrera %>
                                    <form action="/configuracion/actualizarMaterias" method="POST"
                                        id="form<%= index %>" class="form-enviar-datos">
                                </td>
                                <td>
                                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="id" value="<%= materia.id %>">
                                        <input type="hidden" name="idsep" value="<%= materia.sep_id %>">
                                        <input type="hidden" name="nombre" value="<%= materia.name %>">
                                        <input type="hidden" name="creditos" value="<%= materia.credits %>">
                                        <input type="hidden" name="semestre" value="<%= materia.semestre %>">
                                        <input type="hidden" name="carrera" value="<%= materia.carrera %>">
                                        <button type="submit"
                                        class="button my-button is-medium is-rounded is-responsive">
                                        Registrar Materia
                                        <span class="icon is-large" style="margin-left: 0.4em;">
                                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                        </span>
                                    </button>
                                    </form>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <br>
                <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" id="prev-button-2">Anterior</a>
                    <a class="pagination-next" id="next-button-2">Siguiente</a>
                    <ul class="pagination-list" id="pagination-list-2">
                        <div id="pagination-numbers-2">

                        </div>
                    </ul>
                </nav>
            </div>
            <% } else { %>
                <h3 class="title is-3">Revisión de datos de Cursos</h3>
                <br>
                <div class="columns">
                    <div class="column is-2"></div>
                    <div class="column is-8">
                        <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                            Actualmente todos las materias del sistema administrativo están registrados en el sistema, por lo que
                            no hay materias nuevas que registrar. 
                        </div>
                    </div>
                </div>
                <% } %>
            </section>
        </body>
        <script type="text/javascript" src="/js/pagination_datos.js"></script>
        <script type="text/javascript" src="/js/actualizarMaterias.js"></script>
</html>