<%- include('../includes/head.ejs', { username: username, permisos: permisos, rol: rol }) %>

<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8%;
        max-width: 50%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        width: 100%;
    }

    td {
        border: 5px solid rgb(255, 255, 255);
        padding: 10px;
        font-size: 19px;
        color: black; /* Cambiado de blanco a negro para mejor legibilidad */
    }

    th {
        border: 5px solid rgb(255, 255, 255);
        padding: 10px;
        font-size: 19px;
        background-color: rgb(0, 0, 0);
        color: white;
    }

    thead {
        background-color: black;
        font-style: italic;
    }

    .form-enviar-datos select {
        margin-left: 50%;
        margin-right: 50%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .my-button {
        background-color: #000000;
        color: white;
        width: 85%;
    }

    .my-button:hover {
        background-color: #910106;
        color: #ffffff;
        border: solid #000000;
    }
</style>

<body>
    <!-- Verifica si hay materias para mostrar -->
    <% if (materias.length > 0) { %>
        <section class="section">
            <h3 class="title is-3">Revisión de datos de Materias para actualizar</h3>
            <table>
                <thead>
                    <tr>
                        <th class="has-text-white">ID</th>
                        <th class="has-text-white">Nombre</th>
                        <th class="has-text-white">Créditos</th>
                        <th class="has-text-white">ID SEP</th>
                        <th class="has-text-white">Semestre</th>
                        <th class="has-text-white">Carrera</th>
                    </tr>
                </thead>
                <tbody>
                    <% materias.forEach(materia => { %>
                        <tr>
                            <td class="has-text-black"><%= materia.id %></td>
                            <td class="has-text-black"><%= materia.name %></td>
                            <td class="has-text-black"><%= materia.credits %></td>
                            <td class="has-text-black"><%= materia.sep_id %></td>
                            <td class="has-text-black"><%= materia.semestre %></td>
                            <td class="has-text-black"><%= materia.carrera %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
    <% } else { %>
        <p>No hay materias para mostrar.</p>
    <% } %>
</body>
</html>

