<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol 
}) %>
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8%;
        max-width: 50%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        width: 100%;
    }

    td {
        border: 5px solid rgb(255, 255, 255);
        /* Líneas más oscuras para la tabla */
        padding: 8px;
        font-size: 19px;
        color: white;
    }

    th {
        border: 5px solid rgb(255, 255, 255);
        padding: 10px;
        font-size: 19px;
        background-color: rgb(0, 0, 0);
        color: white;
    }

    thead {
        background-color: black;
        font-style: italic;
    }

    .form-enviar-datos select {
        margin-left: 50%;
        margin-right: 50%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .my-button {
        background-color: #5a6581;
        /* El color del fondo */
        color: white;
        /* El color del texto */
        width: 100%;
    }

    .my-button:hover {
        background-color: #910106;
        color: #ffffff;
        border: solid #000000;
    }

    input:focus {
    border: 2px solid #910106 !important
    }

    input:hover {
    border: 2px solid #5a6581 !important;
    }

    .search-bar {
        margin-bottom: 20px;
    }

    .search-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .table-container-title {
        padding-left: 1rem; 
        overflow: hidden;
    }
</style>

<body>
    <!-- Verifica si hay usuarios para mostrar -->
    <p class="is-hidden" id="usuarios_length"><%= usuarios.length %></p>
    <section class="section">
        <div class="table-container-title">
            <div class="columns">
                <div class="column is-narrow">
                    <a id="Boton_regresar" type="submit" class="is-responsive"
                        onclick="regresar()">
                        <span class="icon">
                            <i class="fas fa-arrow-left fa-2x"></i>
                        </span>
                    </a>
            </div>
            <div class="column">
    <% if (usuarios.length > 0) { %>
        <label class="label is-large has-text-danger has-text-weight-semibold">
            REVISIÓN DE DATOS DE ALUMNOS 
        </label>
            </div>
            </div>
            
            <div class="search-bar">
                <input type="text" id="searchAlumnos" class="search-input"
                    placeholder="Buscar alumnos para registrar">
            </div>
            <div id="resultadoAlumno" class="notification is-hidden" style="background-color: #5a6581; color:#ffffff;">
                No existen alumnos para registrar con los paramétros de búsqueda.
            </div>

            <div id="tablaAlumnosRegistro" class="table-container">
            <table>
                <thead>
                    <tr>
                        <th class="has-text-white">ID</th>
                        <th class="has-text-white">Nombre</th>
                        <th class="has-text-white">Apellidos</th>
                        <th class="has-text-white">Correo Electrónico</th>
                        <th class="has-text-white">Semestre</th>
                        <th class="has-text-white">Carrera</th>
                        <th class="has-text-white">Referencia Bancaria</th>
                        <th class="has-text-white">Porcentaje de Beca</th>
                        <th class="has-text-white">Registrar</th>
                    </tr>
                </thead>

                <tbody>
                    <% let count = 0 %>
                    <% usuarios.forEach((usuario,index)=> { %>
                    <tr id="fila<%=index %>">

                        <td class="has-text-black">
                            <%= usuario.ivd_id %>
                        </td>

                        <td class="has-text-black">
                            <%= usuario.name %>
                        </td>

                        <td class="has-text-black">
                            <%= usuario.apellidos %>
                        </td>

                        <td class="has-text-black">
                            <%= usuario.email %>
                        </td>

                        <td class="has-text-black">
                            <%= usuario.semester %>
                            <form action="/configuracion/actualizarAlumnos" method="POST" id="form<%=index %>"
                                class="form-enviar-datos">
                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                        </td>

                        <% if(usuario.planEstudio !== null) { %>
                            <td class="has-text-black">
                                <p style="padding-bottom: 0.4em;" class="help is-hidden has-text-danger-dark"
                                    id="ayuda_plan<%= count %>">
                                    Por favor escribe un plan de estudios 
                                </p>
                                <%= usuario.planEstudio %> - <%= planE.plan_id %>
                                <input type="hidden" name="planEstudio" value="<%= usuario.planEstudio %>"
                                id="planEstudio<%= count %>">
                            </td>
                            <% } else { %>
                                <td class="has-text-black">
                                    <p style="padding-bottom: 0.4em;" class="help is-hidden has-text-danger-dark"
                                        id="ayuda_plan<%= count %>">
                                        Por favor escribe un plan de estudios
                                    </p>
                                    <textarea name="planEstudio" placeholder="Ingresa el nombre del plan de estudios"
                                    id="planEstudio<%= count %>"></textarea> - <%= planE.plan_id %> 
                                </td>
                                <% } %>

                        <td>
                            <p style="padding-bottom: 0.4em;" class="help is-hidden has-text-danger-dark" id="ayuda_referencia_vacio<%= count %>">
                                Por favor escribe una referencia del alumno
                            </p>
                            <p style="padding-bottom: 0.4em;" class="help is-hidden has-text-danger-dark"
                                id="ayuda_referencia_negativo<%= count %>">
                                Por favor escribe solo números positivos
                            </p>
                            <p style="padding-bottom: 0.4em;" class="help is-hidden has-text-danger-dark"
                                id="ayuda_referencia_exponente<%= count %>">
                                Por favor no escribas números con exponentes
                            </p>
                            <input id="referencia<%= count %>" class="input" type="text" name="referenciaBancaria"
                                style="width:100%; display:block; padding:0; border: 2px solid
                                #7c7f80;"
                                placeholder="Referencia">
                        </td>

                        <td>
                            <p style="padding-bottom: 0.4em;" class="help is-hidden has-text-danger-dark"
                                id="ayuda_beca_vacio<%= count %>">
                                Por favor escribe una beca del alumno
                            </p>
                            <p style="padding-bottom: 0.4em;" class="help is-hidden has-text-danger-dark"
                                id="ayuda_beca_negativo<%= count %>">
                                Por favor escribe un número entre 0 y 100
                            </p>
                            <p style="padding-bottom: 0.4em;" class="help is-hidden has-text-danger-dark"
                                id="ayuda_beca_exponente<%= count %>">
                                Por favor no escribas números con exponentes
                            </p>
                            <input id="beca<%= count %>" class="input" type="number" name="beca"
                                style="width:100%; display:block; padding:0; border: 2px solid
                                #7c7f80;" placeholder=" % de beca">
                        </td>

                        <td>
                            <input type="hidden" name="matricula" value="<%= usuario.ivd_id %>">
                            <input type="hidden" name="nombre" value="<%= usuario.name %>">
                            <input type="hidden" name="apellidos" value="<%= usuario.apellidos %>">
                            <input type="hidden" name="email" value="<%= usuario.email %>">
                            <input type="hidden" name="semestre" value="<%= usuario.semester %>">
                            
                            <button id="btn_Subir<%= count %>" type="submit"
                            class="button my-button is-medium is-responsive" disabled>
                            <span>
                                REGISTRAR
                            </span>
                            <span class="icon is-small">
                                <i class="fa-solid fa-circle-chevron-right"
                                    style="color: #ffffff;"></i>
                            </span>
                        </button>
                        </td>
                        </form>
                    </tr>
                    <% count++ %>
                    <% }); %>
                </tbody>
            </table>
        </div>
            <br>
            <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                <a class="pagination-previous" id="prev-button-2">Anterior</a>
                <a class="pagination-next" id="next-button-2">Siguiente</a>
                <ul class="pagination-list" id="pagination-list-2">
                    <div id="pagination-numbers-2">

                    </div>
                </ul>
            </nav>
            <% } else { %>
                <label class="label is-large has-text-danger has-text-weight-semibold">
                    REVISIÓN DE DATOS DE ALUMNOS 
                </label>
                <br>
                <div class="columns">
                    <div class="column is-2"></div>
                    <div class="column is-8">
                        <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                            Actualmente todos las alumnos del sistema administrativo están registrados en el sistema, por lo
                            que no hay alumnos nuevos que registrar.
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </section>
    <script type="text/javascript" src="/js/actualizarAlumnos.js"></script>
    <script type="text/javascript" src="/js/buscarAlumnoRegistro.js"></script>
    <script type="text/javascript" src="/js/boton_regresar.js"></script>
<%- include('../includes/foot.ejs') %>