<%- include('../includes/head.ejs', { username: username, permisos: permisos, rol: rol }) %>

    <meta name="_csrf" content="<%= csrfToken %>">

    <body>
        <section class="section">
            <div class="container">
                <h3 id="title" class="title"> Sincronizar Base de Datos</h3>
                <br>
                <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                    Por favor, elige el tipo de dato que se va a sincronizar con el sistema administrativo.
                    Solo se va a mostrar cualquier dato que no este registrado en la base, ya que todo lo demás al
                    sincronizar
                    es actualizado automáticamente.
                </div>
                <br>
                <form action="/configuracion/actualizarAlumnos" method="GET" class="form-button">
                    <button type="submit" id="buscarBtn" class="button is-rounded is-large is-responsive">
                        <span>
                            Obtener Alumnos
                        </span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
                <form action="/configuracion/actualizarMaterias" method="GET" class="form-button">
                    <button type="submit" id="buscarBtn" class="button is-rounded is-large is-responsive">
                        <span>
                            Obtener Materias
                        </span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
                <form action="/configuracion/actualizarPeriodos" method="GET" class="form-button">
                    <button type="submit" id="buscarBtn" class="button is-rounded is-large is-responsive">
                        <span>
                            Obtener Periodos
                        </span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
                <style>
                    .form-button {
                        margin-bottom: 20px;
                        /* Ajusta este valor según la separación que desees */
                    }
                </style>
            </div>
        </section>
    </body>
<%- include('../includes/foot.ejs') %>