<%- include('../includes/head.ejs') %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <h3 class="title is-3" style="margin-bottom: 0;">Planes de Pago</h3>
            </div>
            <% if (contienePermiso(permisos, 'Registrar Plan de Pago' )==true) { %>
            <div class="column is-5 is-offset-1">
                <p class="control" style="margin-bottom: 0;">
                    <a class="button is-rounded is-responsive" style="font-size: large;"
                        href="/configuracion/registrar_planpago">
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-plus"></i>
                        </span>
                        <span>
                            Registrar Plan de Pago
                        </span>
                    </a>
                </p>
            </div>
            <% } %>
        </div>

        <% if (contienePermiso(permisos, 'Modificar Plan de Pago' )==true) { %>
                <div class="notification is-hidden" id="notificationPlanPago" style="background-color: #5a6581; color:#ffffff; margin-bottom: 20px;">
                    <button id="btn_eliminar_estatus" class="delete"></button>
                    ¡Plan de Pago Modificado! Recargando datos...
                </div>
        <% planpago.forEach(plan=> { %>
        <div class="container" style="display: flex; justify-content: center;">
            <div class="card" style="width: 70%; margin-top: 50px; border: 5px solid #910106;">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <form class="formModificarPlanPago" action="/configuracion/modificar_planpago" method="POST">
                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="IDPlanPago" value="<%= plan.IDPlanPago %>" />
                                <div class="field">
                                    <label class="label">Nombre del Plan</label>
                                    <div class="control">
                                        <input required class="input" type="text" name="nombrePlan"
                                            value="<%= plan.nombrePlan %>" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Número de Pagos</label>
                                    <div class="control">
                                        <input class="input" type="text" name="numeroPagos"
                                            value="<%= plan.numeroPagos %>" disabled />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Estado</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="planPagoActivo">
                                                <option value="1" <% if (plan.planPagoActivo===1) { %> selected <% } %>>Activo</option>
                                                <option value="0" <% if (plan.planPagoActivo !==1) { %> selected <% } %>>No Activo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="btn_aplicar_cambios" type="submit" class="button is-large is-rounded is-responsive">Aplicar cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        <% } else { %>
        <div class="container" style="display: flex; justify-content: center;">
            <div class="content" style="width: 70%; margin-top: 50px;">
                <h1 class="title is-2 has-text-centered">Planes de Pago</h1>
                <% planpago.forEach(plan=> { %>
                <div class="card" style="margin-bottom: 20px; border: 5px solid #910106;">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-3 has-text-black">Nombre del Plan:</p>
                                <p class="subtitle is-3 has-text-grey">
                                    <%= plan.nombrePlan %>
                                </p>
                                <p class="title is-3 has-text-black">Número de Pagos:</p>
                                <p class="subtitle is-3 has-text-grey">
                                    <%= plan.numeroPagos %>
                                </p>

                                <p class="title is-3 has-text-black">Estado:</p>
                                <p class="subtitle is-3 has-text-grey">
                                    <% if (plan.planPagoActivo===1) { %> Activo <% } %>
                                    <% if (plan.planPagoActivo===0) { %> No Activo <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <% } %>
        <script type="text/javascript" src="/js/administrar_planpago.js"></script>
    </div>
</section>
