<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol 
}) %>

    <style>
        input:focus {
            border: 2px solid #910106 !important
        }

        input:hover {
            border: 2px solid #5a6581 !important;
        }

        .button:hover {
            background-color: #5a6581 !important;
            border-color: #910106 !important;
        }

        .search-bar {
            margin-bottom: 20px;
        }

        .search-input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
    </style>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-7">
                        <h3 class="title is-3">Configuración Usuarios</h3>
                    </div>
                    <% if (contienePermiso(permisos, 'Registrar usuario' )== true) { %>
                        <div class="column is-offset-1">
                            <p class="control">
                                <a class="button is-rounded is-responsive" style="font-size: large;"
                                    href="/configuracion/registrar_usuario">
                                    <span class="icon is-large">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </span>
                                    <span>
                                        Registrar Usuario
                                    </span>
                                </a>
                            </p>
                            <div class="columns">
                                <div class="column is-12">
                                    <% if (contienePermiso(permisos, 'Registrar usuario' )== true) { %>
                                        <p class="control">
                                            <a class="button is-rounded is-responsive" style="font-size: large;"
                                                href="/configuracion/obtener_usuario">
                                                <span class="icon is-large">
                                                    <i class="fa-solid fa-circle-plus"></i>
                                                </span>
                                                <span>
                                                   Obtener Usuario
                                                </span>
                                            </a>
                                        </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

                    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">

                <div class="tabs is-boxed" style="margin-top: -1.3em;">
                    <ul>
                        <li class="is-active" id="nav_activos">
                            <a onclick="usuarios_activos()">
                                <span class="icon is-small"><i class="fa-solid fa-users"></i></span>
                                <span>Usuarios Activos</span>
                            </a>
                        </li>
                        <li id="nav_no_activos">
                            <a onclick="usuarios_no_activos()">
                                <span class="icon is-small"><i class="fa-regular fa-users-slash"></i></span>
                                <span>Usuarios No Activos</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="usuarios_activos">
                    <% let count_activos=0 %>

                        <div id="modificacion_estatus_activar" class="notification is-hidden"
                            style="background-color: #5a6581; color:#ffffff;">
                            <button id="btn_eliminar_estatus" class="delete"></button>
                            ¡Usuario Desactivado! Recargando datos...
                        </div>

                        <% if (usuariosActivos.length===0) { %>
                            <div class="notification"
                                style="background-color: #5a6581; color:#ffffff;">
                                No hay usuarios activos por el momento.
                            </div>
                            <% } else { %>
                                <div class="search-bar">
                                    <input type="text" id="searchActivos" class="search-input"
                                        placeholder="Buscar usuarios activos">
                                </div>
                                <div id="resultadoActivo" class="notification is-hidden" style="background-color: #5a6581; color:#ffffff;">
                                    No existen usuarios con los paramétros de busqueda.
                                </div>
                                <div id="tablaActivos" class="table-container">
                                    <table class="table is-bordered is-hoverable is-fullwidth">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <p class="is-size-5"><strong>Nombre: </strong></p>
                                                </th>
                                                <th>
                                                    <p class="is-size-5"><strong>Email: </strong></p>
                                                </th>
                                                <th>
                                                    <p class="is-size-5"><strong>Status: </strong></p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let usuario of usuariosActivos) { %>
                                                <tr>
                                                    <td>
                                                        <%= usuario.IDUsuario %>
                                                    </td>
                                                    <td>
                                                        <%= usuario.correoElectronico %>
                                                    </td>
                                                    <td>
                                                        <form id="form_activar_usuario" method="POST"
                                                            action="/configuracion/modificar_usuario">
                                                            <input type="hidden" name="_csrf" id="_csrf"
                                                                value="<%= csrfToken %>">
                                                            <input type="hidden" name="IDUsuario"
                                                                value="<%= usuario.IDUsuario %>">
                                                            <input type="hidden" name="statusUsuario" value="off">
                                                            <button type="submit"
                                                                class="button is-danger">Desactivar</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <% count_activos++ %>
                                                    <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <% } %>
                </div>

                <div id="usuarios_no_activos" class="is-hidden">
                    <% let count_no_activos=0 %>

                        <div id="modificacion_estatus_desactivar" class="notification is-hidden"
                            style="background-color: #5a6581; color:#ffffff;">
                            <button id="btn_eliminar_estatus" class="delete"></button>
                            ¡Usuario Activado! Recargando datos...
                        </div>

                        <% if (usuariosNoActivos.length===0) { %>
                            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                                No hay usuarios No Activos por el momento.
                            </div>
                            <% } else { %>
                                <div class="search-bar">
                                    <input type="text" id="searchNoActivos" class="search-input"
                                        placeholder="Buscar usuarios no activos">
                                </div>
                                <div id="resultadoNoActivo" class="notification is-hidden"
                                    style="background-color: #5a6581; color:#ffffff;">
                                    No existen usuarios con los paramétros de busqueda.
                                </div>
                                <div id="tablaNoActivos" class="table-container">
                                    <table class="table is-bordered is-hoverable is-fullwidth">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <p class="is-size-5"><strong>Nombre: </strong></p>
                                                </th>
                                                <th>
                                                    <p class="is-size-5"><strong>Email: </strong></p>
                                                </th>
                                                <th>
                                                    <p class="is-size-5"><strong>Status: </strong></p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let usuario of usuariosNoActivos) { %>
                                                <tr>
                                                    <td>
                                                        <%= usuario.IDUsuario %>
                                                    </td>
                                                    <td>
                                                        <%= usuario.correoElectronico %>
                                                    </td>
                                                    <td>
                                                        <form id="form_desactivar_usuario"="POST"
                                                            action="/configuracion/modificar_usuario">
                                                            <input type="hidden" name="_csrf" id="_csrf"
                                                                value="<%= csrfToken %>">
                                                            <input type="hidden" name="IDUsuario"
                                                                value="<%= usuario.IDUsuario %>">
                                                            <input type="hidden" name="statusUsuario" value="on">
                                                            <button type="submit"
                                                                class="button is-success">Activar</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <% count_no_activos++ %>
                                                    <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <% } %>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="/js/consultar_usuario.js"></script>
    </body>
    </html>