<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    .anio:hover {
        border: 2px solid #5a6581 !important;
    }
    
    .anio:focus {
        border: 2px solid #910106 !important;
    }
    </style>

<section class="section">
    <div class="container">
        <input type="hidden" id="_csrf" value="<%= csrfToken %>">
        <div class="columns is-vcentered">
            <div class="column is-4">
                <label class="label is-large has-text-danger has-text-weight-semibold">
                    PRECIO CRÉDITO
                </label>
            </div>

            <div class="column is-3"></div>
            <% if (contienePermiso(permisos, 'Registrar Costo Credito') == true) { %>
            <div class="column is-5">
                <p class="control">
                    <a class="button is-responsive" style="font-size: large;"
                        href="/configuracion/registrar_precio_credito">
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-plus"></i>
                        </span>
                        <span>
                            Registrar Precio Crédito
                        </span>
                    </a>
                </p>
            </div>
            <% } %>
        </div>

                <table id="tablaActual" class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="text-align: left;">
                                Monto Actual
                            </th>
                            <th style="text-align: left;">
                                Fecha de Registro
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>
                            $ <%= precio_actual[0].precioPesos.toLocaleString('mx', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %>
                        </td>
                        <td>
                            <%= precio_actual[0].fechaModificacion %>
                        </td>
                    </tbody>
                </table>

            <br>
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <label class="label is-large has-text-danger has-text-weight-semibold">
                        PRECIOS CRÉDITO PASADOS
                    </label>
                </div>
                <div class="column is-3">
                    <div class="columns is-vcentered" style="text-align: center;">
                        <div class="column is-3 is-offset-4">
                            <label class="label is-medium" for="anio">Año:</label>
                        </div>
                        <div class="column is-7">
                            <div class="select is-fullwidth">
                                <select class="anio" name="anio" id="anio">
                                    <% anios.forEach(anio => { %>
                                    <option value="<%= anio['year(fechaModificacion)'] %>"
                                        selected><%= anio['year(fechaModificacion)'] %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <table id="precioCreditoContainer" style="display: none;" class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="text-align: left;">
                                Monto Pasado
                            </th>
                            <th style="text-align: left;">
                                Fecha de Registro
                            </th>
                        </tr>
                    </thead>
                    <tbody id="precioCreditoRows">
                    </tbody>
                </table>
</section>

<script type="text/javascript" src="/js/precio_credito.js"></script>
<%- include('../includes/foot.ejs') %>