<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <div class="columns" >
            <div class="column is-3"></div>
            <div class="column is-7">
                <h3 class="title is-3">Registrar Nuevo Precio Crédito</h3>
            </div>
        </div>
        <br>
        <div class="columns">
            <div class="column is-3"></div>
                <div class="column is-6">
                    <p class="is-size-5" style="text-align: center;">
                        Los datos del precio crédito actual son:
                    </p>
                    <br>
                    <br>
                    <div class="columns is-vcentered">
                        <div class="column is-two-fifths is-offset-1">
                            <p class="is-size-5" style="text-align: center;">
                                <strong>Precio: </strong>$<%= precio_actual.precioPesos.toLocaleString('mx', {
                                                    minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2
                                                 }) %>
                            </p>
                        </div>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <p class="is-size-5" style="text-align: center;">
                                <strong>Fecha de Registro:
                                </strong>
                                <br>
                                <%= precio_actual.fechaModificacion %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form action="/configuracion/registrar_precio_credito" method="POST">
            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken%>">
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <label class="label is-medium" for="monto">Monto:</label>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_vacio"
                        style="padding: 0.5em; margin-top: -1em;">
                        Por favor escribe un monto válido para el precio del crédito.</p>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_negativo"
                        style="padding: 0.5em; margin-top: -1em;">
                        El monto debe ser mayor de 0.</p>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_exponente"
                        style="padding: 0.5em; margin-top: -1em;">
                        Por favor escribe un monto sin exponente.</p>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="monto" class="input is-medium" type="number" step="any" id="monto"
                                placeholder="Monto del nuevo precio crédito">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <button class="button is-rounded is-medium is-responsive" type="submit"
                        style="font-size: large; margin: 8px 2px;" id="Boton_registrar" disabled>
                        <span>Registrar Precio Crédito</span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </div>
                <div class="column is-3"></div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/js/registrar_precio_credito.js"></script>
</section>
<%- include('../includes/foot.ejs') %>