<%- include('../includes/head', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h3 class="title is-3">Registrar Usuario</h3>
            </div>
        </div>
        <form action="/configuracion/registrar_usuario" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="columns is-vcentered">
                <div class="column is-3"></div>
                <div class="column is-5">
                    <label class="label is-medium" for="pago">Tipo de usuario:</label>
                    <div class="control has-icons-left">
                        <div class="select is-medium">
                            <select name="roles" id="roles">
                                <% for (let roles of roles_disponibles) { %> 
                                <option data-nombre="<%= roles.nombreRol %>">
                                    <%= roles.nombreRol%>
                                </option>
                                <%}%>
                            </select>
                        </div>
                        <div class="icon is-medium is-left">
                            <i class="fa-solid fa-circle-info" style="color: #95404c;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="justify-content: center;">
                <form method="POST" style="width: 50%; margin-top: 50px;">
                    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                    <label for="IDUsuario" class="label is-large">IDUsuario:</label>
                    <input type="text" id="IDUsuario" name="IDUsuario" required class="input is-large">
                    <label for="correoElectronico" class="label is-large">correoElectronico:</label>
                    <input type="text" id="correoElectronico" name="correoElectronico" required class="input is-large">
                </form>
            </div>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <button class="button is-rounded is-medium is-responsive" type="submit"
                        style="font-size: large; margin: 8px 2px;" id="Boton_registrar">
                        <span>Registrar Usuario</span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- <script type="text/javascript" src="/js/registrar_usuario.js"></script> -->